Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: bump deps (#985)
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/react

fix(io): fix session close cleanup effect
  packages/io/src/AbstractPersistence.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis

chore: added changeset
  .changeset/silly-words-retire.md
Labels: none

fix(io): fix session close cleanup (#986)
  .changeset/silly-words-retire.md
  packages/io/src/AbstractPersistence.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis

feat(client): add configurable reconnect timeout ms and lower default ms
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore(client): add the new option to createRoom
  packages/client/src/PluvClient.ts
Labels: @pluv/client

feat(client): clamp reconnect between 1 and 60s
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/tender-queens-lead.md
Labels: none

fix(client): fix build error
  packages/client/src/MockedRoom.ts
Labels: @pluv/client

feat(client): reconnect timeout ms (#987)
  .changeset/tender-queens-lead.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  package.json
  packages/cli/src/utils/buildApp/buildApp.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: pluv

chore: bump deps (#990)
  package.json
  packages/cli/src/utils/buildApp/buildApp.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: pluv

chore: change names
  .github/CODEOWNERS
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
  docs/@pluv__react/history.mdx
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/react/src/createBundle.tsx
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/io, @pluv/react

chore: change names (#991)
  .github/CODEOWNERS
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
  docs/@pluv__react/history.mdx
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/react/src/createBundle.tsx
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/io, @pluv/react

fix(eslint-config-pluv): fix turbo
  packages/eslint-config-pluv/package.json
Labels: none

chore: update tests eslint to v9
  tests/e2e/.eslintrc.js
  tests/e2e/eslint.config.mjs
Labels: none

fix(eslint-config-pluv): fix react config
  packages/eslint-config-pluv/react.js
  packages/react/eslint.config.mjs
  pnpm-lock.yaml
Labels: @pluv/react

chore: update eslint config to preferences
  packages/eslint-config-pluv/base.js
Labels: none

chore: disallow lint warnings
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  tests/e2e/package.json
Labels: none

chore: fit lint errors
  packages/cli/src/hooks/useMountEffect.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/xmlElement/YjsXmlElement.ts
  packages/crdt-yjs/src/xmlFragment/YjsXmlFragment.ts
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/io/src/version.ts
  packages/platform-pluv/src/shared/getCrypto.ts
Labels: pluv, @pluv/crdt-yjs, @pluv/io

chore: revert private
  packages/eslint-config-pluv/package.json
Labels: none

fix(react): fix linting
  packages/eslint-config-pluv/base.js
  packages/eslint-config-pluv/react.js
  packages/react/package.json
Labels: none

fix(react): fix linting (#993)
  packages/eslint-config-pluv/base.js
  packages/eslint-config-pluv/react.js
  packages/react/package.json
Labels: none

fix(react): fix never connecting when metadata is a function
  packages/react/src/createBundle.tsx
  tests/e2e/src/pages/yjs/cloudflare/presence/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/storage/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: @pluv/react

chore: added changeset
  .changeset/light-paths-clap.md
Labels: none

fix(react): fix provider function metadata (#994)
  .changeset/light-paths-clap.md
  packages/react/src/createBundle.tsx
  tests/e2e/src/pages/yjs/cloudflare/presence/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/storage/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: @pluv/react

feat(platform-cloudflare): DO from createPluvHandler now extends
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/tsup.config.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/quiet-days-wish.md
Labels: none

fix: fix tests typecheck
  pnpm-lock.yaml
  tests/e2e/cf.d.ts
  tests/e2e/package.json
  tests/e2e/src/server/yjs/cloudflare/tsconfig.json
  tests/e2e/tsconfig.json
Labels: none

feat(platform-cloudflare): extend durable object
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/tsup.config.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/tired-comics-divide.md
Labels: none

feat(platform-cloudflare): extend durable object (#997)
  .changeset/tired-comics-divide.md
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/tsup.config.ts
Labels: @pluv/platform-cloudflare

fix(platform-cloudflare): fix return type for createPluvHandler
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/slow-windows-shop.md
Labels: none

fix(platform-cloudflare): fix return type for createPluvHandler (#999)
  .changeset/slow-windows-shop.md
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

feat(client): optional 2nd arg to createRoom
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changeset
  .changeset/mighty-crabs-wink.md
Labels: none

feat(client): optional create room options (#1001)
  .changeset/mighty-crabs-wink.md
  packages/client/src/PluvClient.ts
Labels: @pluv/client

feat(types): support zod v4
  packages/types/src/pluv.ts
Labels: none
