Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

fix(platform-pluv): richer event payload (#949)
  .changeset/funny-swans-lick.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

refactor(platform-pluv): cleanup handling of responses
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/src/shared/HttpError.ts
  packages/platform-pluv/src/shared/createErrorResponse.ts
  packages/platform-pluv/src/shared/createSuccessResponse.ts
  packages/platform-pluv/src/shared/index.ts
  packages/platform-pluv/src/types.ts
Labels: none

refactor(platform-pluv): cleanup handling of responses (#951)
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/src/shared/HttpError.ts
  packages/platform-pluv/src/shared/createErrorResponse.ts
  packages/platform-pluv/src/shared/createSuccessResponse.ts
  packages/platform-pluv/src/shared/index.ts
  packages/platform-pluv/src/types.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#952)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

docs: restructure platforms
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare_workers.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: restructure platforms (#954)
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare_workers.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: rename cloudflare doc
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare.mdx
Labels: ðŸ“š documentation / examples

docs: rename cloudflare doc (#955)
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare.mdx
Labels: ðŸ“š documentation / examples

docs: fix url
  docs/@pluv__io/cloudflare_workers.mdx
Labels: ðŸ“š documentation / examples

docs: switch urls to relative
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: why host on pluvio
  docs/@pluv__platform_pluv/why_host_on_pluvio.mdx
Labels: ðŸ“š documentation / examples

docs: update why host on pluvio
  docs/@pluv__platform_pluv/why_host_on_pluvio.mdx
Labels: ðŸ“š documentation / examples

docs: update quickstart installation instructions
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

chore: added docs assets
  assets/create_a_team.png
  assets/create_project_dashboard.png
  assets/create_project_dialog.png
Labels: none

chore: add create api keys image
  assets/create_api_keys.png
Labels: none

chore: added more doc assets
  assets/create_team.png
  assets/create_webhook_dashboard.png
  assets/create_webhook_dialog.png
Labels: none

chore: added progress for getting started doc
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

chore: added progress for getting started doc
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

docs: update quickstart installation guide
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

docs: fix express examples
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

docs: added getting started docs
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

docs: platform pluv getting started (#956)
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
  docs/@pluv__platform_pluv/getting_started.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

docs: update pluv getting started
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

docs: fix title link
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

docs: added nextjs doc
  docs/nextjs.mdx
Labels: ðŸ“š documentation / examples

docs: improve copy
  docs/@pluv__platform_pluv/getting_started.mdx
Labels: ðŸ“š documentation / examples

docs: update nextjs docs
  docs/nextjs.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#958)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(client): local-only presence updates
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/fast-seals-build.md
Labels: none

feat(client): local only presence updates (#960)
  .changeset/fast-seals-build.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#962)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix(client): fix default ws endpoint (for platform pluv)
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/gold-papayas-care.md
Labels: none

fix(client): fix default ws endpoint (#964)
  .changeset/gold-papayas-care.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#966)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
