Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

feat(types): support zod v4 (#1003)
  packages/types/src/pluv.ts
Labels: none

test: added type tests
  .github/workflows/e2e-tests.yml
  .github/workflows/type-tests.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/types/eslint.config.mjs
  tests/types/package.json
  tests/types/src/types.test.ts
  tests/types/tsconfig.json
Labels: none

ci: fix type tests
  .github/workflows/type-tests.yml
Labels: none

ci: fix calling the wrong tests
  .github/workflows/type-tests.yml
Labels: none

test: added type tests (#1004)
  .github/workflows/e2e-tests.yml
  .github/workflows/type-tests.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/types/eslint.config.mjs
  tests/types/package.json
  tests/types/src/types.test.ts
  tests/types/tsconfig.json
Labels: none

fix: fix linting
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/cli/src/utils/buildApp/resolveDependencies.ts
  packages/client/package.json
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/src/list.ts
  packages/crdt-loro/src/map.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/object.ts
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  tests/e2e/package.json
  tests/e2e/src/pluv-io/loro/node.ts
Labels: pluv, @pluv/client

fix: fix linting (#1005)
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/cli/src/utils/buildApp/resolveDependencies.ts
  packages/client/package.json
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/src/list.ts
  packages/crdt-loro/src/map.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/object.ts
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  tests/e2e/package.json
  tests/e2e/src/pluv-io/loro/node.ts
Labels: pluv, @pluv/client

feat(client): attempt reconnect immediately after close
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/hungry-colts-unite.md
Labels: none

feat(client): attempt reconnect immediately after close (#1006)
  .changeset/hungry-colts-unite.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(io): update how session users are stored on websockets
  packages/io/src/AbstractPlatform.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/NodeWebSocket.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/clever-ghosts-say.md
Labels: none

feat(io): in-memory user on websocket (#1008)
  .changeset/clever-ghosts-say.md
  packages/io/src/AbstractPlatform.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/NodeWebSocket.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

feat(io): deterministic authorized session id
  packages/io/src/IORoom.ts
  packages/io/src/index.ts
  packages/io/src/utils/getUserConnectionId.ts
  packages/io/src/utils/index.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/proud-hoops-rule.md
Labels: none

feat(io): deterministic authorized session (#1009)
  .changeset/proud-hoops-rule.md
  packages/io/src/IORoom.ts
  packages/io/src/index.ts
  packages/io/src/utils/getUserConnectionId.ts
  packages/io/src/utils/index.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

test: added test for the same user connecting again
  tests/e2e/src/server/yjs/cloudflare/index.ts
  tests/e2e/src/tests/yjs/cloudflare/presence/index.test.ts
Labels: none

test: fix tests
  tests/e2e/src/tests/yjs/cloudflare/presence/index.test.ts
Labels: none

fix(io): fix setting deterministic connection id from user id
  packages/io/src/IORoom.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
Labels: @pluv/io, @pluv/platform-cloudflare

fix(io): fix setting deterministic connection id from user id (#1011)
  packages/io/src/IORoom.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
Labels: @pluv/io, @pluv/platform-cloudflare

revert(io): revert deterministic session id
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

revert(io): revert deterministic session id (#1012)
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: bump deps
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1014)
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(io): send presence timer on registered
  packages/io/src/IORoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

feat(io): allow null presence timer
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
  packages/types/src/pluv.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

feat(io): send presence timer on users joined or received
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

feat(io): send presence timer on presence updated
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

chore: add comment about wake-up re-initialization
  packages/io/src/IORoom.ts
Labels: @pluv/io

fix(client): fix setting user info
  packages/client/src/UsersManager.ts
Labels: @pluv/client

feat(io): allow multiple connections of the same user id
  packages/io/src/IORoom.ts
Labels: @pluv/io

test: added test for the same user connecting again
  tests/e2e/src/server/yjs/cloudflare/index.ts
  tests/e2e/src/tests/yjs/cloudflare/presence/index.test.ts
Labels: none

feat(io): get latest presence
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/io/src/IORoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/io

feat(io): update presence for all user's connection presences
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
Labels: @pluv/io

feat(io): track user sessions
  packages/io/src/IORoom.ts
Labels: @pluv/io

feat(client): cause myself to be updated from another of my connection
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

test: fix tests
  tests/e2e/src/tests/yjs/cloudflare/presence/index.test.ts
Labels: none

test: fix repeat-user test
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: none

feat(client): fix tracking a single user to multiple connections
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

feat(io): improve getLatestPresence performance
  packages/io/src/IORoom.ts
Labels: @pluv/io
