Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

docs: added react create-rooms docs (#224)
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/client/Create Rooms.mdx
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/Create Rooms.mdx
Labels: none

docs: add yjs storage docs
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/react/Yjs Storage.mdx
Labels: none

docs: add yjs storage docs (#225)
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/react/Yjs Storage.mdx
Labels: none

docs: update web package readme
  apps/web/README.md
Labels: none

docs: update web package readme (#226)
  apps/web/README.md
Labels: none

docs: added react presence docs
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/Presence.mdx
  internal/react-components/src/molecules/TableOfContents/TableOfContents.tsx
Labels: none

docs: added react presence docs (#228)
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/Presence.mdx
  internal/react-components/src/molecules/TableOfContents/TableOfContents.tsx
Labels: none

fix: fix doc typos
  apps/web/src/inputs/docs/react/Yjs Storage.mdx
  internal/react-components/src/atoms/Button/Button.tsx
Labels: none

docs: added react api-reference docs
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/inputs/docs/react/API Reference.mdx
Labels: none

docs: react api reference docs (#233)
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/inputs/docs/react/API Reference.mdx
  apps/web/src/inputs/docs/react/Yjs Storage.mdx
  internal/react-components/src/atoms/Button/Button.tsx
Labels: none

fix: changed MockedRoom events to accept partial event mocks
  packages/client/src/MockedRoom.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/ninety-dogs-live.md
Labels: none

fix: changed MockedRoom events to accept partial event mocks (#234)
  .changeset/ninety-dogs-live.md
  packages/client/src/MockedRoom.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/client, @pluv/react

feat: prevent rerender when state is deeply equal
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

chore: added changeset
  .changeset/silent-wasps-sing.md
Labels: none

feat: prevent rerender on deep equal (#235)
  .changeset/silent-wasps-sing.md
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

chore: bumped dependencies
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bumped dependencies
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

chore: bumped dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/sweet-crabs-worry.md
Labels: none

chore: bump deps (#236)
  .changeset/sweet-crabs-worry.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

refactor: clean-up incorrect scripts and versions
  package.json
Labels: none

refactor: clean-up incorrect scripts and versions (#241)
  package.json
Labels: none

chore: upgraded storybook to v7
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/next.config.mjs
  apps/storybook/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: upgraded storybook to v7 (#242)
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/next.config.mjs
  apps/storybook/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bumped dependencies
  apps/storybook/.storybook/main.js
  apps/storybook/package.json
  apps/web/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/io/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/cuddly-lies-sip.md
Labels: none

chore: bump deps (#243)
  .changeset/cuddly-lies-sip.md
  apps/storybook/.storybook/main.js
  apps/storybook/package.json
  apps/web/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/io/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

refactor: remove old unintended code
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

refactor: remove old unintended code (#245)
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: update stories to v3 csf
  apps/storybook/package.json
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/storybook/src/react-chess/LoadingChessBoard.stories.tsx
  apps/storybook/src/react-code/MultiPrismCode.stories.tsx
  apps/storybook/src/react-code/PrismCode.stories.tsx
  apps/storybook/src/react-components/molecules/Breadcrumbs.stories.tsx
  apps/storybook/src/react-components/molecules/TableOfContents.stories.tsx
  apps/storybook/src/react-components/molecules/TreeView.stories.tsx
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/storybook/tsconfig.json
  pnpm-lock.yaml
Labels: none

chore: update stories to v3 csf (#246)
  apps/storybook/package.json
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/storybook/src/react-chess/LoadingChessBoard.stories.tsx
  apps/storybook/src/react-code/MultiPrismCode.stories.tsx
  apps/storybook/src/react-code/PrismCode.stories.tsx
  apps/storybook/src/react-components/molecules/Breadcrumbs.stories.tsx
  apps/storybook/src/react-components/molecules/TableOfContents.stories.tsx
  apps/storybook/src/react-components/molecules/TreeView.stories.tsx
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/storybook/tsconfig.json
  pnpm-lock.yaml
Labels: none

chore: convert remaining stories to csf v3 format
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/storybook/src/react-components/atoms/Anchor.stories.tsx
  apps/storybook/src/react-components/atoms/AppBar.stories.tsx
  apps/storybook/src/react-components/atoms/Button.stories.tsx
  apps/storybook/src/react-components/atoms/Footer.stories.tsx
  apps/storybook/src/react-components/atoms/LogoIcon.stories.tsx
  apps/storybook/src/react-components/atoms/PageContainer.stories.tsx
  apps/storybook/src/react-components/atoms/Paper.stories.tsx
  apps/storybook/src/react-components/atoms/Pill.stories.tsx
  apps/storybook/src/react-components/atoms/SideBar.stories.tsx
  apps/storybook/src/react-components/atoms/SideDrawer.stories.tsx
  apps/storybook/src/web/components/DocsBreadcrumbs.stories.tsx
  apps/storybook/src/web/components/DocsCard.stories.tsx
  apps/storybook/src/web/components/DocsLayout.stories.tsx
  apps/storybook/src/web/components/DocsTreeViewNavigation.stories.tsx
  apps/storybook/src/web/components/HomeBoxesDemoSection.stories.tsx
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/components/HomeCodeDemo.stories.tsx
  apps/storybook/src/web/components/HomeFeaturesSection.stories.tsx
  apps/storybook/src/web/components/HomeHero.stories.tsx
  apps/storybook/src/web/components/HomeTypeSafetyDemo.stories.tsx
  apps/storybook/src/web/components/HomeTypeSafetyDemoSection.stories.tsx
  apps/storybook/src/web/components/MobileDocsSideDrawer.stories.tsx
  apps/storybook/src/web/components/SiteWideAppBar.stories.tsx
  apps/storybook/src/web/components/SiteWideFooter.stories.tsx
  apps/storybook/src/web/components/SiteWideLayout.stories.tsx
Labels: none

chore: convert remaining stories to csf v3 format (#247)
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/storybook/src/react-components/atoms/Anchor.stories.tsx
  apps/storybook/src/react-components/atoms/AppBar.stories.tsx
  apps/storybook/src/react-components/atoms/Button.stories.tsx
  apps/storybook/src/react-components/atoms/Footer.stories.tsx
  apps/storybook/src/react-components/atoms/LogoIcon.stories.tsx
  apps/storybook/src/react-components/atoms/PageContainer.stories.tsx
  apps/storybook/src/react-components/atoms/Paper.stories.tsx
  apps/storybook/src/react-components/atoms/Pill.stories.tsx
  apps/storybook/src/react-components/atoms/SideBar.stories.tsx
  apps/storybook/src/react-components/atoms/SideDrawer.stories.tsx
  apps/storybook/src/web/components/DocsBreadcrumbs.stories.tsx
  apps/storybook/src/web/components/DocsCard.stories.tsx
  apps/storybook/src/web/components/DocsLayout.stories.tsx
  apps/storybook/src/web/components/DocsTreeViewNavigation.stories.tsx
  apps/storybook/src/web/components/HomeBoxesDemoSection.stories.tsx
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/components/HomeCodeDemo.stories.tsx
  apps/storybook/src/web/components/HomeFeaturesSection.stories.tsx
  apps/storybook/src/web/components/HomeHero.stories.tsx
  apps/storybook/src/web/components/HomeTypeSafetyDemo.stories.tsx
  apps/storybook/src/web/components/HomeTypeSafetyDemoSection.stories.tsx
  apps/storybook/src/web/components/MobileDocsSideDrawer.stories.tsx
  apps/storybook/src/web/components/SiteWideAppBar.stories.tsx
  apps/storybook/src/web/components/SiteWideFooter.stories.tsx
  apps/storybook/src/web/components/SiteWideLayout.stories.tsx
Labels: none

chore: added changeset
  .changeset/chilly-worms-greet.md
Labels: none

feat: added site-wide banner
  apps/storybook/package.json
  apps/storybook/src/react-components/atoms/Banner.stories.tsx
  apps/web/src/components/SiteWideLayout/SiteWideLayout.tsx
  internal/react-components/src/atoms/Banner/Banner.tsx
  internal/react-components/src/atoms/Banner/index.ts
  internal/react-components/src/atoms/index.ts
  internal/react-components/src/index.ts
Labels: none

feat: added site-wide banner (#252)
  apps/storybook/package.json
  apps/storybook/src/react-components/atoms/Banner.stories.tsx
  apps/web/src/components/SiteWideLayout/SiteWideLayout.tsx
  internal/react-components/src/atoms/Banner/Banner.tsx
  internal/react-components/src/atoms/Banner/index.ts
  internal/react-components/src/atoms/index.ts
  internal/react-components/src/index.ts
Labels: none

fix: fix build for server-cloudflare
  .gitignore
  apps/server-cloudflare/package.json
  apps/server-cloudflare/rollup.config.mjs
  apps/server-cloudflare/wrangler.toml
  apps/web/next.config.mjs
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/tsconfig/wrangler.json
  pnpm-lock.yaml
  turbo.json
Labels: @pluv/io

chore: added changeset
  .changeset/wet-beers-admire.md
Labels: none

refactor: replaced chalk for colorette
  packages/cli/package.json
  packages/cli/src/helpers/initializeGit.ts
  packages/cli/src/helpers/installDependencies.ts
  packages/cli/src/helpers/scaffoldProject.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/logger.ts
  pnpm-lock.yaml
Labels: pluv

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
