Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat: use new resolver object convention
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: added changeset
  .changeset/olive-turtles-bathe.md
Labels: none

chore: added changeset
  .changeset/tasty-cows-build.md
Labels: none

feat: allow multiple output types per event (#300)
  .changeset/olive-turtles-bathe.md
  .changeset/tasty-cows-build.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

feat: sync storage when offline and reconnected
  packages/client/src/CrdtManager.ts
  packages/crdt-yjs/src/doc.ts
  packages/io/src/PluvIO.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io

fix: remove storage_received
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: added changeset
  .changeset/mean-geese-fail.md
Labels: none

feat: add missing initialize session storage state
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
  packages/types/src/pluv.ts
Labels: @pluv/client

feat: add missing count in MockedRoom
  packages/client/src/MockedRoom.ts
Labels: @pluv/client

feat: prevent overwriting old state if no prior update
  packages/io/src/PluvIO.ts
Labels: @pluv/io

feat: sync storage when offline and reconnected (#303)
  .changeset/mean-geese-fail.md
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
  packages/crdt-yjs/src/doc.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io

chore: bumped dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/green-chicken-itch.md
Labels: none

chore: bump deps (#306)
  .changeset/green-chicken-itch.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

Create early-garlics-attack.md
  .changeset/early-garlics-attack.md
Labels: none

feat: added createPluvHandler for node
  packages/platform-node/package.json
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/index.ts
  pnpm-lock.yaml
Labels: @pluv/platform-node

fix: add improved unauthorized handling
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

refactor: fix type imports
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

chore: added changesets
  .changeset/blue-crabs-laugh.md
  .changeset/curly-tips-care.md
Labels: none

feat: require ws as a peer dependency for platform-node
  packages/platform-node/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/big-dragons-judge.md
Labels: none

tests: added test with createPluvHandler
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/pluv-io/node.ts
  tests/e2e/src/server/node/index.ts
Labels: @pluv/platform-node

fix: changed createPluvHandler to return handler
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/node/index.ts
Labels: @pluv/platform-node

refactor: handle next forwarding
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-node

feat: node create pluv handler (#314)
  .changeset/big-dragons-judge.md
  .changeset/blue-crabs-laugh.md
  .changeset/curly-tips-care.md
  packages/client/src/PluvRoom.ts
  packages/platform-node/package.json
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/index.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
  tests/e2e/src/pluv-io/node.ts
  tests/e2e/src/server/node/index.ts
Labels: @pluv/client, @pluv/platform-node, @pluv/react

refactor: refactor types for node createPluvHandler
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-node

fix: fix PluvIO types
  packages/io/src/PluvIO.ts
Labels: @pluv/io

feat: added cloudflare createPluvHandler
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/index.ts
  pnpm-lock.yaml
Labels: @pluv/platform-cloudflare

test(platform-node): added createPluvHandler to e2e tests
  packages/platform-cloudflare/src/createPluvHandler.ts
  tests/e2e/src/pluv-io/cloudflare.ts
  tests/e2e/src/server/cloudflare/index.ts
  tests/e2e/tsconfig.json
Labels: @pluv/platform-cloudflare

fix: add missing cors headers
  tests/e2e/src/server/cloudflare/index.ts
Labels: none

fix: fix incorrect durable object id
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

fix: fix cors headers
  packages/platform-cloudflare/src/createPluvHandler.ts
  tests/e2e/src/server/cloudflare/index.ts
Labels: @pluv/platform-cloudflare

fix: fix token creation using wrong room name
  packages/io/src/IORoom.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/io, @pluv/platform-cloudflare

chore: delete old RoomDurableObject
  tests/e2e/src/server/cloudflare/durable-objects/RoomDurableObject.ts
  tests/e2e/src/server/cloudflare/durable-objects/index.ts
Labels: none

chore: added changeset
  .changeset/shy-planets-roll.md
Labels: none

feat: simplify creating a cloudflare handler
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/index.ts
  tests/e2e/src/server/cloudflare/index.ts
Labels: @pluv/platform-cloudflare

feat: cloudflare create pluv handler (#317)
  .changeset/shy-planets-roll.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/createPluvHandler.ts
  pnpm-lock.yaml
  tests/e2e/src/pluv-io/cloudflare.ts
  tests/e2e/src/server/cloudflare/durable-objects/RoomDurableObject.ts
  tests/e2e/src/server/cloudflare/durable-objects/index.ts
  tests/e2e/src/server/cloudflare/index.ts
  tests/e2e/tsconfig.json
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

refactor: delete unused io room initialStorage
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

refactor: delete unused io room initialStorage (#318)
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

feat: add default endpoints. narrow authEndpoint type
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
