Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#900)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(io): improve type inference of options for platforms
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/tests/types/pluv.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

test: added type check for tests
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/cold-candles-cheat.md
Labels: none

feat(io): narrow platform config types (#901)
  .changeset/cold-candles-cheat.md
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/tests/types/pluv.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

feat(client): added support for function public key
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore: added changeset
  .changeset/shaggy-pants-invent.md
Labels: none

feat(client): dynamic public key (#902)
  .changeset/shaggy-pants-invent.md
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: downgrade eslint turbo
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#904)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(client): update wsEndpoint
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/chatty-ears-run.md
Labels: none

feat(client): update default ws endpoint (#905)
  .changeset/chatty-ears-run.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(client): add error message if PluvRoomProvider is not used
  packages/react/src/createBundle.tsx
Labels: @pluv/react

chore: added changeset
  .changeset/cold-sites-shout.md
Labels: none

feat(react): add missing room error message (#907)
  .changeset/cold-sites-shout.md
  packages/react/src/createBundle.tsx
Labels: @pluv/react

fix(client): add missing metadata validation
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changeset
  .changeset/yummy-places-press.md
Labels: none

fix(client): add missing metadata validation (#909)
  .changeset/yummy-places-press.md
  packages/client/src/PluvClient.ts
Labels: @pluv/client

fix(client): fix function public key not being set on PluvClient
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changeset
  .changeset/mean-jobs-juggle.md
Labels: none

fix(client): fix client public key (#910)
  .changeset/mean-jobs-juggle.md
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: bump deps
  apps/storybook/package.json
  internal/remark-plugins/package.json
  packages/persistence-redis/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#912)
  apps/storybook/package.json
  internal/remark-plugins/package.json
  packages/persistence-redis/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: formatting
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

fix(io): fix cloudflare connections not updating last ping timer
  packages/io/src/AbstractPlatform.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/pubsub-redis/src/PubSubRedis.ts
  tests/e2e/src/components/yjs/cloudflare/StorageRoom.tsx
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis

chore: added changeset
  .changeset/gentle-turkeys-kneel.md
Labels: none

fix(platform-cloudflare): fix connection timeouts (#913)
  .changeset/gentle-turkeys-kneel.md
  packages/io/src/AbstractPlatform.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/pubsub-redis/src/PubSubRedis.ts
  tests/e2e/src/components/yjs/cloudflare/StorageRoom.tsx
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis

chore: bump deps
  apps/server-cloudflare/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#916)
  apps/server-cloudflare/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(io): log error when user join or close
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/io/tsconfig.json
Labels: @pluv/io

chore: added changeset
  .changeset/proud-grapes-happen.md
Labels: none

feat(io): log error on user join disconnect (#918)
  .changeset/proud-grapes-happen.md
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/io/tsconfig.json
Labels: @pluv/io

fix(platform-pluv): fix webhook verification
  packages/platform-pluv/package.json
  packages/platform-pluv/src/PluvPlatform.ts
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/ten-stars-shout.md
Labels: none

fix(platform pluv): fix webhook verification (#920)
  .changeset/ten-stars-shout.md
  packages/platform-pluv/package.json
  packages/platform-pluv/src/PluvPlatform.ts
  pnpm-lock.yaml
Labels: none

chore: bum pdeps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#922)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
