Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

feat: loosen createPluvHandler type
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

refactor: use createPluvHandler for app server
  apps/server-cloudflare/package.json
  apps/server-cloudflare/src/durable-objects/RoomDurableObject.ts
  apps/server-cloudflare/src/durable-objects/index.ts
  apps/server-cloudflare/src/index.ts
  apps/web/src/pluv-io/cloudflare.ts
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/young-items-accept.md
Labels: none

feat: default pluv client endpoints (#319)
  .changeset/young-items-accept.md
  apps/server-cloudflare/package.json
  apps/server-cloudflare/src/durable-objects/RoomDurableObject.ts
  apps/server-cloudflare/src/durable-objects/index.ts
  apps/server-cloudflare/src/index.ts
  apps/web/src/pluv-io/cloudflare.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/platform-cloudflare

docs: added docs for cloudflare createPluvHandler
  apps/server-cloudflare/src/index.ts
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
Labels: none

docs: added docs for cloudflare createPluvHandler (#320)
  apps/server-cloudflare/src/index.ts
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
Labels: none

feat: return more extensible parts from node createPluvHandler
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/node/index.ts
Labels: @pluv/platform-node

feat: return ServerResponse from handler
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-node

feat: return more extensible parts from node createPluvHandler (#322)
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/node/index.ts
Labels: @pluv/platform-node

docs: update nodejs createPluvHandler docs
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/inputs/docs/react/API Reference.mdx
  tests/e2e/src/server/cloudflare/tsconfig.json
  tests/e2e/src/server/node-redis/tsconfig.json
  tests/e2e/src/server/node/tsconfig.json
Labels: none

docs: update nodejs createPluvHandler docs (#324)
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/inputs/docs/react/API Reference.mdx
  tests/e2e/src/server/cloudflare/tsconfig.json
  tests/e2e/src/server/node-redis/tsconfig.json
  tests/e2e/src/server/node/tsconfig.json
Labels: none

docs: updated quickstart to use createPluvHandler
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/inputs/docs/react/API Reference.mdx
Labels: none

docs: updated quickstart to use createPluvHandler (#325)
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/inputs/docs/react/API Reference.mdx
Labels: none

fix: fixed doc responsiveness issues
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/components/SiteWideAppBar/SiteWideAppBar.tsx
Labels: none

docs: clarify createWsServer return value
  apps/web/src/inputs/docs/io/Node.js.mdx
Labels: none

docs: update docs
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/io/Authorization.mdx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
Labels: none

docs: fix doc discrepencies (#326)
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/components/SiteWideAppBar/SiteWideAppBar.tsx
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/io/Authorization.mdx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
Labels: none

feat: close mobile menu on click link
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigation.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  apps/web/src/components/MobileDocsSideDrawer/MobileDocsSideDrawer.tsx
  apps/web/src/components/SiteWideAppBar/SiteWideAppBar.tsx
  internal/react-components/src/molecules/TreeView/TreeViewLink.tsx
Labels: none

feat: close mobile menu on click link (#328)
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigation.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  apps/web/src/components/MobileDocsSideDrawer/MobileDocsSideDrawer.tsx
  apps/web/src/components/SiteWideAppBar/SiteWideAppBar.tsx
  internal/react-components/src/molecules/TreeView/TreeViewLink.tsx
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/react-code/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/soft-lies-fold.md
Labels: none

chore: bumped dependencies (#329)
  .changeset/soft-lies-fold.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump types react
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/typings/src/twin.d.ts
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump types react (#330)
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/typings/src/twin.d.ts
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/hip-candles-exercise.md
Labels: none

feat: change user presence to be non nullable
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/big-ducks-play.md
Labels: none

feat: non nullable user presence (#335)
  .changeset/big-ducks-play.md
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

feat: added initial storage test
  .github/workflows/e2e-tests.yml
  .gitignore
  packages/io/src/PluvIO.ts
  pnpm-lock.yaml
  tests/e2e/.gitignore
  tests/e2e/package.json
  tests/e2e/prisma/migrations/20230517065153_initial_migration/migration.sql
  tests/e2e/prisma/migrations/migration_lock.toml
  tests/e2e/prisma/schema.prisma
  tests/e2e/src/prisma.ts
  tests/e2e/src/server/node/pluv-io.ts
  tests/e2e/src/tests/node/storage/index.test.ts
Labels: @pluv/io

feat: use hard-coded sqlite url
  tests/e2e/prisma/schema.prisma
Labels: none

chore: added changeset
  .changeset/loud-pigs-divide.md
Labels: none

feat: added initial storage test (#336)
  .changeset/loud-pigs-divide.md
  .github/workflows/e2e-tests.yml
  .gitignore
  packages/io/src/PluvIO.ts
  pnpm-lock.yaml
  tests/e2e/.gitignore
  tests/e2e/package.json
  tests/e2e/prisma/migrations/20230517065153_initial_migration/migration.sql
  tests/e2e/prisma/migrations/migration_lock.toml
  tests/e2e/prisma/schema.prisma
  tests/e2e/src/prisma.ts
  tests/e2e/src/server/node/pluv-io.ts
  tests/e2e/src/tests/node/storage/index.test.ts
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#337)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: added platform specific contexts
  internal/tailwind-config/tailwind.config.js
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/fifty-olives-glow.md
Labels: none

fix: fix missing platform context in listener
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  tests/e2e/src/server/node-redis/index.ts
Labels: @pluv/io

refactor: rename context variables
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

chore: upgrade playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none
