Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/some-cloths-strive.md
Labels: none

fix(io): fix cloudflare initial doc storage (#1157)
  .changeset/some-cloths-strive.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  tests/e2e/cf.d.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/wrangler.jsonc
Labels: @pluv/io

refactor: is empty checks
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv/crdt.ts
Labels: @pluv/io

refactor: is empty checks (#1159)
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv/crdt.ts
Labels: @pluv/io

docs: update docs
  docs/api-reference/io.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/storage/loading-storage.mdx
  docs/storage/using-loro.mdx
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1160)
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1161)
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(io): support sync io context
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/index.ts
Labels: @pluv/io

chore: added changeset
  .changeset/swift-lights-sip.md
Labels: none

feat(io): async io context (#1164)
  .changeset/swift-lights-sip.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/index.ts
Labels: @pluv/io

chore: bump deps
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1166)
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: update authors
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/tsconfig/package.json
  packages/types/package.json
Labels: none

chore: update deps
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1170)
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1172)
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

fix: update private access modifers to native js private
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/client, @pluv/crdt-yjs

chore: added changeset
  .changeset/full-eggs-study.md
Labels: none

chore: bump playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: add setPluvId to use private elements as well
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

feat: update private access modifiers (#1175)
  .changeset/full-eggs-study.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/client, @pluv/crdt-yjs

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1177)
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(client): infer flattened client types
  packages/client/src/infer.ts
  packages/types/src/index.ts
  packages/types/src/pluv/shared.ts
Labels: @pluv/client

chore: added changeset
  .changeset/strong-pets-go.md
Labels: none

fix(types): fix infer authorize types
  packages/client/src/infer.ts
  packages/io/src/IORoom.ts
  packages/types/src/pluv/shared.ts
  tests/types/src/has-crdt.test.tsx
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/io

feat(client): flat client types (#1178)
  .changeset/strong-pets-go.md
  packages/client/src/infer.ts
  packages/io/src/IORoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/shared.ts
  tests/types/src/has-crdt.test.tsx
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/io

feat(cli): delete cli package
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/build.tsx
  packages/cli/src/components/ErrorFlag/ErrorFlag.tsx
  packages/cli/src/components/ErrorFlag/index.ts
  packages/cli/src/components/Filename/Filename.tsx
  packages/cli/src/components/Filename/index.ts
  packages/cli/src/components/WarningFlag/WarningFlag.tsx
  packages/cli/src/components/WarningFlag/index.ts
  packages/cli/src/components/index.ts
  packages/cli/src/hooks/index.ts
  packages/cli/src/hooks/useBuildApp.ts
  packages/cli/src/hooks/useConfig.ts
  packages/cli/src/hooks/useMountEffect.ts
  packages/cli/src/require.ts
  packages/cli/src/schemas/ZodPluvConfig.ts
  packages/cli/src/schemas/index.ts
  packages/cli/src/utils/buildApp/buildApp.ts
  packages/cli/src/utils/buildApp/index.ts
  packages/cli/src/utils/buildApp/resolveDependencies.ts
  packages/cli/src/utils/getConfig.ts
  packages/cli/src/utils/index.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
Labels: pluv

feat(cli): delete cli package (#1182)
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/build.tsx
  packages/cli/src/components/ErrorFlag/ErrorFlag.tsx
  packages/cli/src/components/ErrorFlag/index.ts
  packages/cli/src/components/Filename/Filename.tsx
  packages/cli/src/components/Filename/index.ts
  packages/cli/src/components/WarningFlag/WarningFlag.tsx
  packages/cli/src/components/WarningFlag/index.ts
  packages/cli/src/components/index.ts
  packages/cli/src/hooks/index.ts
  packages/cli/src/hooks/useBuildApp.ts
  packages/cli/src/hooks/useConfig.ts
  packages/cli/src/hooks/useMountEffect.ts
  packages/cli/src/require.ts
  packages/cli/src/schemas/ZodPluvConfig.ts
  packages/cli/src/schemas/index.ts
  packages/cli/src/utils/buildApp/buildApp.ts
  packages/cli/src/utils/buildApp/index.ts
  packages/cli/src/utils/buildApp/resolveDependencies.ts
  packages/cli/src/utils/getConfig.ts
  packages/cli/src/utils/index.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
Labels: pluv

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1183)
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

ci: fix changesets config
  .changeset/config.json
Labels: none

chore: bump zod v4
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
  tests/types/src/types.test.tsx
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
