Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

refactor(client): update setMyself method to use user info
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/types.ts
Labels: @pluv/client

feat(client): track a single user to multiple connections
  packages/client/src/UsersManager.ts
Labels: @pluv/client

feat(io): store last presence update time
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

fix(io): fix websocket serialized state type
  packages/io/src/types.ts
Labels: @pluv/io

fix(io): rebuild the user to session mapping on wake up
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore(io): delete unused util
  packages/io/src/index.ts
  packages/io/src/utils/getUserConnectionId.ts
  packages/io/src/utils/index.ts
Labels: @pluv/io

chore: added changesets
  .changeset/orange-rabbits-serve.md
  .changeset/solid-coins-invite.md
  .changeset/tame-rabbits-invent.md
Labels: none

feat(io): multiple connections per single user (#1013)
  .changeset/orange-rabbits-serve.md
  .changeset/solid-coins-invite.md
  .changeset/tame-rabbits-invent.md
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/types.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/io/src/utils/getUserConnectionId.ts
  packages/io/src/utils/index.ts
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/NodeWebSocket.ts
  packages/types/src/pluv.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/server/yjs/cloudflare/index.ts
  tests/e2e/src/tests/yjs/cloudflare/presence/index.test.ts
Labels: @pluv/client, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

fix(platform-node): fix websocket server type
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/io/tsconfig.json
  packages/platform-node/src/createPluvHandler.ts
  packages/tsconfig/library.json
Labels: @pluv/io, @pluv/platform-node

chore: added changeset
  .changeset/salty-heads-clap.md
Labels: none

fix(platform-node): fix ws server type (#1015)
  .changeset/salty-heads-clap.md
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/io/tsconfig.json
  packages/platform-node/src/createPluvHandler.ts
  packages/tsconfig/library.json
Labels: @pluv/io, @pluv/platform-node

feat(io): limit create token user size
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

chore: added changeset
  .changeset/bumpy-walls-stop.md
Labels: none

feat(io): limit create token size to 512 bytes (#1016)
  .changeset/bumpy-walls-stop.md
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

feat(io): limit presence max size to 512 bytes
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

chore: added changeset
  .changeset/clever-ghosts-say.md
  .changeset/empty-banks-judge.md
Labels: none

feat(io): limit presence max size to 512 bytes (#1017)
  .changeset/clever-ghosts-say.md
  .changeset/empty-banks-judge.md
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

feat(client): limit presence max size to 512 bytes
  packages/client/src/UsersManager.ts
  packages/client/src/constants.ts
Labels: @pluv/client

chore: added changeset
  .changeset/fresh-ideas-listen.md
Labels: none

feat(client): limit presence max size (#1018)
  .changeset/fresh-ideas-listen.md
  packages/client/src/UsersManager.ts
  packages/client/src/constants.ts
Labels: @pluv/client

feat(io): clear stale connections in new garbageCollect function
  packages/io/src/IORoom.ts
  packages/io/src/constants.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: added changeset
  .changeset/many-poets-carry.md
Labels: none

chore: fix changeset
  .changeset/many-poets-carry.md
Labels: none

fix(io): clear stale connections (#1019)
  .changeset/many-poets-carry.md
  packages/io/src/IORoom.ts
  packages/io/src/constants.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: fix changeset
  .changeset/many-poets-carry.md
Labels: none

chore: added changeset
  .changeset/many-poets-carry.md
Labels: none

feat(platform-cloudflare): automatically gc in createPluvHandler
  packages/platform-cloudflare/src/constants.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/better-bats-press.md
  .changeset/many-poets-carry.md
Labels: none

feat(platform-cloudflare): handle garbage collection (#1020)
  .changeset/better-bats-press.md
  .changeset/many-poets-carry.md
  packages/platform-cloudflare/src/constants.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1021)
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

fix(platform-cloudflare): fix inferred context type
  packages/platform-cloudflare/src/platformCloudflare.ts
  tests/types/src/types.test.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/honest-chefs-wear.md
Labels: none

chore: remove unused values in test
  tests/types/src/types.test.ts
Labels: none

fix(platform-cloudflare): fix context type (#1022)
  .changeset/honest-chefs-wear.md
  packages/platform-cloudflare/src/platformCloudflare.ts
  tests/types/src/types.test.ts
Labels: @pluv/platform-cloudflare

fix(platform-node): fix context type
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-node

chore: added changeset
  .changeset/calm-dots-battle.md
Labels: none

fix(platform-node): fix context type (#1024)
  .changeset/calm-dots-battle.md
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-node

feat(client): automatically add missing users on presence updates
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

chore: added changeset
  .changeset/curvy-bats-sing.md
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
