Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: add pluv logo asset
  assets/pluv-icon-transparent-48x48.png
Labels: none

chore: add pluv logo asset (#880)
  assets/pluv-icon-transparent-48x48.png
Labels: none

fix(io): fix cloudflare fetch error
  packages/io/src/AbstractPlatform.ts
  packages/io/src/PluvServer.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/io, @pluv/platform-cloudflare

chore: added changeset
  .changeset/fluffy-shoes-stare.md
Labels: none

fix(io): fix cloudflare fetch error (#882)
  .changeset/fluffy-shoes-stare.md
  packages/io/src/AbstractPlatform.ts
  packages/io/src/PluvServer.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
Labels: @pluv/io, @pluv/platform-cloudflare

chore: bump pnpm
  package.json
Labels: none

chore: add missing eslint
  internal/react-icons/package.json
  pnpm-lock.yaml
Labels: none

chore: add missing eslint
  packages/types/package.json
  pnpm-lock.yaml
Labels: none

chore: add missing eslint
  internal/remark-plugins/package.json
  pnpm-lock.yaml
Labels: none

chore: add missing eslint
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/typings/package.json
  internal/utils/package.json
  pnpm-lock.yaml
Labels: none

chore: bump pnpm (#884)
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#885)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#887)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

docs: update introduction link attributes
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: fix rel attributes
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: set loading lazy on badges
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

fix(client): fix ioServer type inferrence
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/infer.ts
  packages/react/src/createBundle.tsx
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/eager-dingos-leave.md
Labels: none

test: fix type imports
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

fix(web): fix type regression
  apps/web/package.json
  apps/web/src/pluv-io/cloudflare.ts
  pnpm-lock.yaml
Labels: none

docs: update docs
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Client vs Server Events.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_client/Define Events.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

fix(client): fix ioserver type inference (#889)
  .changeset/eager-dingos-leave.md
  apps/web/package.json
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Client vs Server Events.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_client/Define Events.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
  apps/web/src/pluv-io/cloudflare.ts
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/quickstart.mdx
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/infer.ts
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/react

chore(io): bump jose to latest major
  packages/io/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: downgrade eslint-config-turbo
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#894)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(react): remove re-exports from client, types and crdt
  packages/react/src/index.ts
Labels: @pluv/react

chore: added changeset
  .changeset/eight-parents-cheer.md
Labels: none

feat(react): remove re-exports of client and crdt from react (#895)
  .changeset/eight-parents-cheer.md
  packages/react/src/index.ts
Labels: @pluv/react

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: downgrade eslint-config-turbo
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#896)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump babel-loader
  apps/storybook/package.json
  pnpm-lock.yaml
Labels: none

chore: bump babel-loader (#897)
  apps/storybook/package.json
  pnpm-lock.yaml
Labels: none

feat: update platform functions to return an entire createIO input
  apps/server-cloudflare/package.json
  apps/server-cloudflare/src/pluv-io.ts
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/index.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/index.ts
  packages/platform-cloudflare/src/infer.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-cloudflare/src/utils/identity.ts
  packages/platform-cloudflare/src/utils/index.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/index.ts
  packages/platform-node/src/infer.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-node/src/utils/identity.ts
  packages/platform-node/src/utils/index.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/demo/io.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

docs: update docs with changes
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep1/HomeIntroStep1Code.tsx
  apps/web/src/components/HomeIntroStep2/HomeIntroStep2Code.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/Client vs Server Events.mdx
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/@pluv_io/Define Events.mdx
  apps/web/src/inputs/docs/@pluv_io/Loading Storage.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
  apps/web/src/inputs/docs/@pluv_io/PubSub.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

feat: update platformPluv function to return createIO input
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/index.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/platformPluv.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changesets
  .changeset/flat-groups-flash.md
  .changeset/polite-bobcats-mate.md
  .changeset/pretty-lies-serve.md
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
