Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

docs: added initial storybook
  apps/storybook/.eslintrc.js
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/package.json
  apps/storybook/src/Button.stories.jsx
  apps/storybook/src/Button.tsx
  apps/storybook/src/Header.stories.jsx
  apps/storybook/src/Header.tsx
  apps/storybook/src/Introduction.stories.mdx
  apps/storybook/src/Page.stories.jsx
  apps/storybook/src/Page.tsx
  apps/storybook/src/assets/code-brackets.svg
  apps/storybook/src/assets/colors.svg
  apps/storybook/src/assets/comments.svg
  apps/storybook/src/assets/direction.svg
  apps/storybook/src/assets/flow.svg
  apps/storybook/src/assets/plugin.svg
  apps/storybook/src/assets/repo.svg
  apps/storybook/src/assets/stackalt.svg
  apps/storybook/src/button.css
  apps/storybook/src/header.css
  apps/storybook/src/page.css
  apps/storybook/tsconfig.json
  apps/web/components.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: removed unused storybook test script
  apps/storybook/package.json
Labels: none

docs: added initial storybook (#63)
  apps/storybook/.eslintrc.js
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/package.json
  apps/storybook/src/Button.stories.jsx
  apps/storybook/src/Button.tsx
  apps/storybook/src/Header.stories.jsx
  apps/storybook/src/Header.tsx
  apps/storybook/src/Introduction.stories.mdx
  apps/storybook/src/Page.stories.jsx
  apps/storybook/src/Page.tsx
  apps/storybook/src/assets/code-brackets.svg
  apps/storybook/src/assets/colors.svg
  apps/storybook/src/assets/comments.svg
  apps/storybook/src/assets/direction.svg
  apps/storybook/src/assets/flow.svg
  apps/storybook/src/assets/plugin.svg
  apps/storybook/src/assets/repo.svg
  apps/storybook/src/assets/stackalt.svg
  apps/storybook/src/button.css
  apps/storybook/src/header.css
  apps/storybook/src/page.css
  apps/storybook/tsconfig.json
  apps/web/components.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: added tailwind to storybook
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/src/global.css
  apps/storybook/tailwind.config.js
  pnpm-lock.yaml
Labels: none

Create moody-fireants-punch.md
  .changeset/moody-fireants-punch.md
Labels: none

added changeset
  .changeset/tame-mice-rhyme.md
Labels: none

Create brave-forks-carry.md
  .changeset/brave-forks-carry.md
Labels: none

refactor: remove changesets for ignored packages
  .changeset/moody-fireants-punch.md
Labels: none

refactor: remove changesets for ignored packages
  .changeset/moody-fireants-punch.md
Labels: none

refactor: update stories to use typescript
  apps/storybook/package.json
  apps/storybook/src/Button.stories.tsx
  apps/storybook/src/Header.stories.jsx
  apps/storybook/src/Header.stories.tsx
  apps/storybook/src/Page.stories.jsx
  apps/storybook/src/Page.stories.tsx
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemoBoard.tsx
  apps/web/src/components/HomeChessDemo/index.ts
  apps/web/src/pluv-io/cloudflare.ts
  pnpm-lock.yaml
Labels: none

fix: fix missing next.js dependency in lockfile
  pnpm-lock.yaml
Labels: none

refactor: update stories to use typescript (#67)
  .changeset/moody-fireants-punch.md
  apps/storybook/package.json
  apps/storybook/src/Button.stories.tsx
  apps/storybook/src/Header.stories.jsx
  apps/storybook/src/Header.stories.tsx
  apps/storybook/src/Page.stories.jsx
  apps/storybook/src/Page.stories.tsx
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemoBoard.tsx
  apps/web/src/components/HomeChessDemo/index.ts
  apps/web/src/pluv-io/cloudflare.ts
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/many-beers-divide.md
Labels: none

chore: bump playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump playwright (#72)
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(client): added mocked-room for mocking and testing
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore: added changeset
  .changeset/honest-pianos-agree.md
Labels: none

feat(client): added mocked room for testing client code (#73)
  .changeset/honest-pianos-agree.md
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

ci: replaced auto-assign action
  .github/workflows/auto-assign.yml
Labels: none

ci: replaced auto-assign action (#78)
  .github/workflows/auto-assign.yml
Labels: none

feat(react): added MockedRoomProvider for testing on storybook
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

chore: added changeset
  .changeset/forty-vans-dance.md
Labels: none

feat(react): added MockedRoomProvider for testing on storybook (#80)
  .changeset/forty-vans-dance.md
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

fix: fixed broken release
  apps/storybook/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: pluv, @pluv/client, @pluv/react

fix: fixed broken release (#82)
  apps/storybook/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: pluv, @pluv/client, @pluv/react

chore: added changeset
  .changeset/lovely-ghosts-fail.md
Labels: none

chore(pluv): added changeset
  .changeset/curvy-rocks-wonder.md
Labels: none

fix: fixed use-sync-external-store/with-selector use for storybook
  apps/storybook/package.json
  packages/react/src/internal/hooks/useSyncExternalStore.ts
  packages/react/src/internal/hooks/useSyncExternalStoreWithSelector.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/react

fix: fixed use-sync-external-store/with-selector use for storybook (#87)
  apps/storybook/package.json
  packages/react/src/internal/hooks/useSyncExternalStore.ts
  packages/react/src/internal/hooks/useSyncExternalStoreWithSelector.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/react

chore: added wip home-chess-demo story
  apps/storybook/src/web/HomeChessDemo.stories.tsx
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/pluv-io.ts
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemoBoard.tsx
  apps/web/src/pluv-io/cloudflare.ts
Labels: none

fix(client): fixed mocked-room not updating storage
  apps/storybook/package.json
  apps/storybook/src/web/HomeChessDemo.stories.tsx
  packages/client/src/MockedRoom.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/bright-masks-whisper.md
Labels: none

fix: fixed mocked-room not sending storage updates (#88)
  .changeset/bright-masks-whisper.md
  apps/storybook/package.json
  apps/storybook/src/web/HomeChessDemo.stories.tsx
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/pluv-io.ts
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemoBoard.tsx
  apps/web/src/pluv-io/cloudflare.ts
  packages/client/src/MockedRoom.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/react

fix: fixed tailwindcss on storybook
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.js
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/static/jpg/rainfall-background.jpg
  apps/storybook/public/tailwind.css
  apps/storybook/src/styles/tailwind.css
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/storybook/tailwind.config.js
  apps/web/public/static/jpg/rainfall-background.jpg
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeHero/HomeHeroRainfall.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/styles/tailwind.css
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/DropletManager.ts
  pnpm-lock.yaml
Labels: none

fix: fixed tailwindcss on storybook (#90)
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.js
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/static/jpg/rainfall-background.jpg
  apps/storybook/public/tailwind.css
  apps/storybook/src/styles/tailwind.css
  apps/storybook/src/web/HomeHero.stories.tsx
  apps/storybook/tailwind.config.js
  apps/web/public/static/jpg/rainfall-background.jpg
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeHero/HomeHeroRainfall.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/styles/tailwind.css
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/DropletManager.ts
  pnpm-lock.yaml
Labels: none

chore: bump dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-hooks/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/dull-panthers-tickle.md
Labels: none

chore: bump deps (#91)
  .changeset/dull-panthers-tickle.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-hooks/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: added internal typist component
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/Button.stories.tsx
  apps/storybook/src/Button.tsx
  apps/storybook/src/Header.stories.tsx
  apps/storybook/src/Header.tsx
  apps/storybook/src/Introduction.stories.mdx
  apps/storybook/src/Page.stories.tsx
  apps/storybook/src/Page.tsx
  apps/storybook/src/button.css
  apps/storybook/src/header.css
  apps/storybook/src/page.css
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/tailwind.config.js
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  internal/react-components/.eslintrc.js
  internal/react-components/package.json
  internal/react-components/src/index.ts
  internal/react-components/src/molecules/Typist/Typist.tsx
  internal/react-components/src/molecules/Typist/TypistCursor.tsx
  internal/react-components/src/molecules/Typist/index.ts
  internal/react-components/src/molecules/index.ts
  internal/react-components/tailwind.config.js
  internal/react-components/tsconfig.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useIntersectionObserver.ts
  internal/react-hooks/src/useUpdateEffect.ts
  internal/react-hooks/src/useWindowFocus.ts
  internal/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: added internal typist component (#92)
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/Button.stories.tsx
  apps/storybook/src/Button.tsx
  apps/storybook/src/Header.stories.tsx
  apps/storybook/src/Header.tsx
  apps/storybook/src/Introduction.stories.mdx
  apps/storybook/src/Page.stories.tsx
  apps/storybook/src/Page.tsx
  apps/storybook/src/button.css
  apps/storybook/src/header.css
  apps/storybook/src/page.css
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/tailwind.config.js
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  internal/react-components/.eslintrc.js
  internal/react-components/package.json
  internal/react-components/src/index.ts
  internal/react-components/src/molecules/Typist/Typist.tsx
  internal/react-components/src/molecules/Typist/TypistCursor.tsx
  internal/react-components/src/molecules/Typist/index.ts
  internal/react-components/src/molecules/index.ts
  internal/react-components/tailwind.config.js
  internal/react-components/tsconfig.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useIntersectionObserver.ts
  internal/react-hooks/src/useUpdateEffect.ts
  internal/react-hooks/src/useWindowFocus.ts
  internal/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none
