Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: added changeset
  .changeset/plenty-toes-dance.md
Labels: none

feat(client): ws event listeners (#1101)
  .changeset/plenty-toes-dance.md
  packages/client/src/ListenerManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

feat(crdt-yjs): provider
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/index.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/yjs.ts
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/fifty-dingos-speak.md
Labels: none

chore: bump deps
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

fix: fix using wrong lib0 import path
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
Labels: @pluv/crdt-yjs

feat(crdt-yjs): provider (#1102)
  .changeset/fifty-dingos-speak.md
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/index.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/yjs.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/crdt-yjs

feat(crdt-yjs): updated awareness presence to use pluv presence
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/constants.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/types/src/index.ts
Labels: @pluv/crdt-yjs

fix(crdt-yjs): fix provider types
  packages/crdt-yjs/src/provider/provider.ts
Labels: @pluv/crdt-yjs

feat(crdt-yjs): updated awareness presence to use pluv presence (#1103)
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/constants.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/types/src/index.ts
Labels: @pluv/crdt-yjs

feat: narrow doc typings
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/createClient.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

chore: added changeset
  .changeset/dry-ravens-boil.md
  .changeset/fresh-bottles-wear.md
Labels: none

feat(client): narrow doc typings (#1104)
  .changeset/dry-ravens-boil.md
  .changeset/fresh-bottles-wear.md
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/createClient.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

fix: fix type errors
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/crdt-yjs, @pluv/react

tests: added lexical tests
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/Editor.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/ExampleTheme.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/index.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/plugins/ToolbarPlugin.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/plugins/TreeViewPlugin.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/pages/_app.tsx
  tests/e2e/src/pages/yjs/cloudflare/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/lexical/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/styles/styles.css
  tests/e2e/src/tests/yjs/cloudflare-sqlite/lexical/index.test.ts
Labels: none

tests: added yjs lexical tests (#1106)
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/Editor.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/ExampleTheme.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/index.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/plugins/ToolbarPlugin.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/plugins/TreeViewPlugin.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/pages/_app.tsx
  tests/e2e/src/pages/yjs/cloudflare/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/lexical/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/styles/styles.css
  tests/e2e/src/tests/yjs/cloudflare-sqlite/lexical/index.test.ts
Labels: @pluv/crdt-yjs, @pluv/react

feat(client): more lenient presence type
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersManager.ts
  packages/client/src/UsersNotifier.ts
  packages/client/src/createClient.ts
  packages/client/src/types.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

chore: added changeset
  .changeset/pretty-mammals-sleep.md
Labels: none

feat(client): lenient presence type (#1107)
  .changeset/pretty-mammals-sleep.md
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersManager.ts
  packages/client/src/UsersNotifier.ts
  packages/client/src/createClient.ts
  packages/client/src/types.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

feat(crdt-yjs): enable setting up awareness on a nested field
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/crdt-yjs/src/types.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/kind-geckos-punch.md
Labels: none

chore: remove logs
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
Labels: @pluv/crdt-yjs

feat(crdt-yjs): enable setting up awareness on a nested field (#1108)
  .changeset/kind-geckos-punch.md
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/crdt-yjs/src/types.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: @pluv/crdt-yjs

chore: bump deps
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(react): export type InferBundleRoom
  packages/client/src/types.ts
  packages/react/src/createBundle.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/solid-wasps-beg.md
Labels: none

chore: added changeset
  .changeset/solid-wasps-beg.md
Labels: none

feat(react): infer bundle room (#1109)
  .changeset/solid-wasps-beg.md
  packages/client/src/types.ts
  packages/react/src/createBundle.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
Labels: @pluv/client, @pluv/react

tests: added initial blocknote tests
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/index.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/pages/_app.tsx
  tests/e2e/src/pages/yjs/cloudflare/blocknote/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
Labels: none

tests: added blocknote e2e test
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: added blocknote e2e test
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

fix: fix selector
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
Labels: none

tests: try fix blocknote test
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: try fill
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: increase blocknote delays
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: hide username
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/pages/yjs/cloudflare/blocknote/index.tsx
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: add missing passthrough prop
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditor.tsx
Labels: none

tests: reattempt name strip
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: update
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: stringify
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none
