Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

fix(client): improve logDebug detection
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat: add support for declaring root types via native crdt types
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/src/doc/builder.ts
  packages/crdt-loro/src/doc/doc.ts
  packages/crdt-loro/src/doc/index.ts
  packages/crdt-loro/src/loro.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/src/doc/builder.ts
  packages/crdt-yjs/src/doc/doc.ts
  packages/crdt-yjs/src/doc/index.ts
  packages/crdt-yjs/src/object/object.ts
  packages/crdt-yjs/src/utils/index.ts
  packages/crdt-yjs/src/utils/oneLine.ts
  packages/crdt-yjs/src/yjs.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  pnpm-lock.yaml
Labels: @pluv/crdt-yjs

fix(crdt-yjs): fix a case where Y.XmlText was turning into Y.Text
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

chore: added comment
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

tests: re-enable slate tests
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

tests: increase waits
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

chore: added changeset
  .changeset/social-cobras-flow.md
  .changeset/thin-kiwis-join.md
Labels: none

chore: added changeset
  .changeset/eleven-chefs-teach.md
Labels: none

feat: more native crdt types (#1083)
  .changeset/eleven-chefs-teach.md
  .changeset/social-cobras-flow.md
  .changeset/thin-kiwis-join.md
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/src/counter.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/src/doc/builder.ts
  packages/crdt-loro/src/doc/doc.ts
  packages/crdt-loro/src/doc/index.ts
  packages/crdt-loro/src/loro.ts
  packages/crdt-loro/src/utils/index.ts
  packages/crdt-loro/src/utils/oneLine.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/src/doc/builder.ts
  packages/crdt-yjs/src/doc/doc.ts
  packages/crdt-yjs/src/doc/index.ts
  packages/crdt-yjs/src/object/object.ts
  packages/crdt-yjs/src/utils/index.ts
  packages/crdt-yjs/src/utils/oneLine.ts
  packages/crdt-yjs/src/yjs.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  pnpm-lock.yaml
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: @pluv/client, @pluv/crdt-yjs

docs: update docs
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/history.mdx
  docs/@pluv__react/storage.mdx
  packages/io/README.md
Labels: ðŸ“š documentation / examples, @pluv/io

feat(react): update initialStorage on PluvRoomProvider to use builder
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv/crdt.ts
  tests/types/package.json
  tests/types/src/types.test.tsx
  tests/types/tsconfig.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

chore: added changeset
  .changeset/full-pants-kneel.md
Labels: none

chore: updated changeset
  .changeset/full-pants-kneel.md
Labels: none

feat(react): initial storage builder (#1085)
  .changeset/full-pants-kneel.md
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv/crdt.ts
  tests/types/package.json
  tests/types/src/types.test.tsx
  tests/types/tsconfig.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

fix(client): fix ignored createRoom initialStorage option
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changeset
  .changeset/some-dolls-yell.md
Labels: none

fix(client): fix ignored create room initial storage (#1086)
  .changeset/some-dolls-yell.md
  packages/client/src/PluvClient.ts
Labels: @pluv/client

docs: fix usage of initialStorage prop
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/storage.mdx
Labels: ðŸ“š documentation / examples

fix(client): fix ConnectionState not being properly exported
  packages/client/src/index.ts
Labels: @pluv/client

chore: added changeset
  .changeset/blue-parents-dream.md
Labels: none

fix(client): fix non exported connection state (#1088)
  .changeset/blue-parents-dream.md
  packages/client/src/index.ts
Labels: @pluv/client

feat: update deprecation warnings
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/object/object.ts
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/honest-lizards-brake.md
Labels: none

feat: update deprecation warning (#1089)
  .changeset/honest-lizards-brake.md
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/object/object.ts
Labels: @pluv/crdt-yjs

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

docs: add v2 migration guide
  docs/migration-guides/v2.mdx
Labels: ðŸ“š documentation / examples

docs: add v3 migration guide
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

feat(client): update broadcast and event types
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersNotifier.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

chore: added changeset
  .changeset/clever-moose-kick.md
Labels: none

feat(client): update broadcast and event types (#1091)
  .changeset/clever-moose-kick.md
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersNotifier.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

feat(client): storage proxy
  packages/client/src/CrdtNotifier.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

tests: added type tests
  tests/types/src/types.test.tsx
Labels: none

chore: added changeset
  .changeset/lemon-sites-yawn.md
Labels: none

feat(client): storage proxy (#1093)
  .changeset/lemon-sites-yawn.md
  packages/client/src/CrdtNotifier.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client

feat(client): add storage root to storage proxy
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client
