Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore(io): update accessor
  packages/io/src/AbstractPlatform.ts
Labels: @pluv/io

chore: added changeset
  .changeset/light-bulldogs-drum.md
Labels: none

chore(io): update accessor (#711)
  .changeset/light-bulldogs-drum.md
  packages/io/src/AbstractPlatform.ts
Labels: @pluv/io

chore(io): update internal accessor
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore(io): update accessors
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/selfish-kangaroos-hope.md
Labels: none

chore(io): update accessor (#713)
  .changeset/selfish-kangaroos-hope.md
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

feat(io): export listener and event types
  packages/io/src/index.ts
Labels: @pluv/io

feat(io): export listener and event types
  .changeset/old-swans-explain.md
Labels: none

feat(io): expose listener types (#715)
  .changeset/old-swans-explain.md
  packages/io/src/index.ts
Labels: @pluv/io

fix(io): fix platform config
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/smooth-bananas-cheat.md
Labels: none

fix(io): fix configuring platform (#717)
  .changeset/smooth-bananas-cheat.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore(platform-cloudflare): specify exact properties when initializing
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/seven-clocks-marry.md
Labels: none

chore(platform cloudflare): exact initialization (#719)
  .changeset/seven-clocks-marry.md
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

feat: move endpoints config from client to room
  apps/web/src/pluv-io/cloudflare.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/index.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/client, @pluv/react

fix: fix test
  tests/e2e/src/pluv-io/loro/node.ts
Labels: none

docs: update docs with breaking changes
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
Labels: none

chore: added changesets
  .changeset/beige-gorillas-serve.md
  .changeset/rotten-peaches-roll.md
Labels: none

chore: validate metadata
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/react

feat: move endpoints config from client to room (#721)
  .changeset/beige-gorillas-serve.md
  .changeset/rotten-peaches-roll.md
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
  apps/web/src/pluv-io/cloudflare.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/index.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/client, @pluv/react

docs: update docs with breaking changes
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
Labels: none

docs: update docs with breaking changes (#722)
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
Labels: none

docs: update docs with more breaking changes
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/History.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
Labels: none

feat(client): update endpoint params to use parameterized object
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/index.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

fix: fix breaking changes
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/pluv-io/cloudflare.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

chore: added changeset
  .changeset/pink-weeks-leave.md
Labels: none

feat(client): update endpoint params (#724)
  .changeset/pink-weeks-leave.md
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/pluv-io/cloudflare.ts
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/index.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/client, @pluv/react

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#725)
  package.json
Labels: none

docs: update docs with endpoint breaking changes
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
Labels: none

docs: update docs with endpoint breaking changes (#726)
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
Labels: none

docs: fix defaults comment
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
Labels: none

docs: fix defaults comment (#727)
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
Labels: none

feat(io): events without a procedure will be passed through
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: add changeset
  .changeset/pink-guests-search.md
Labels: none

chore: bump playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(io): passthrough event (#729)
  .changeset/pink-guests-search.md
  packages/io/src/IORoom.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
