Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: updated changeset
  .changeset/wet-beers-admire.md
Labels: none

chore: added changeset
  .changeset/fresh-kangaroos-crash.md
Labels: none

fix: replaced chalk for kleur
  .changeset/wet-beers-admire.md
  packages/cli/package.json
  packages/cli/src/helpers/initializeGit.ts
  packages/cli/src/helpers/installDependencies.ts
  packages/cli/src/helpers/scaffoldProject.ts
  packages/cli/src/utils/logger.ts
  packages/io/package.json
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  pnpm-lock.yaml
Labels: pluv, @pluv/io

fix: fixed cloudflare build (#253)
  .changeset/fresh-kangaroos-crash.md
  .changeset/wet-beers-admire.md
  .gitignore
  apps/server-cloudflare/package.json
  apps/server-cloudflare/rollup.config.mjs
  apps/server-cloudflare/wrangler.toml
  apps/web/next.config.mjs
  packages/cli/package.json
  packages/cli/src/helpers/initializeGit.ts
  packages/cli/src/helpers/installDependencies.ts
  packages/cli/src/helpers/scaffoldProject.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/logger.ts
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/tsconfig/wrangler.json
  pnpm-lock.yaml
  turbo.json
Labels: pluv, @pluv/io

chore: bumped dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/three-islands-tell.md
Labels: none

chore: bump deps (#254)
  .changeset/three-islands-tell.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

ci: added build checks
  .github/workflows/build-checks.yml
Labels: none

ci: added build checks (#256)
  .github/workflows/build-checks.yml
Labels: none

chore: update wrangler deploy script
  apps/server-cloudflare/package.json
  apps/server-cloudflare/wrangler-dev.toml
  apps/server-cloudflare/wrangler-prod.toml
Labels: none

chore: added wrangler scripts
  apps/server-cloudflare/package.json
  apps/web/.env
Labels: none

chore: server deploy scripts (#257)
  apps/server-cloudflare/package.json
  apps/server-cloudflare/wrangler-dev.toml
  apps/server-cloudflare/wrangler-prod.toml
  apps/web/.env
Labels: none

feat: added server cors
  apps/server-cloudflare/src/index.ts
  apps/server-cloudflare/src/typings.d.ts
  apps/server-cloudflare/wrangler-dev.toml
  apps/server-cloudflare/wrangler-prod.toml
  internal/cloudflare-utils/src/Router.ts
Labels: none

feat: added server cors (#258)
  apps/server-cloudflare/src/index.ts
  apps/server-cloudflare/src/typings.d.ts
  apps/server-cloudflare/wrangler-dev.toml
  apps/server-cloudflare/wrangler-prod.toml
  internal/cloudflare-utils/src/Router.ts
Labels: none

fix: fixed server websocket
  apps/server-cloudflare/src/index.ts
Labels: none

fix: fixed not restarting chess demo
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/index.ts
Labels: none

fix: server fixes (#259)
  apps/server-cloudflare/src/index.ts
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/index.ts
Labels: none

fix: fix link to presence from quickstart
  apps/web/src/inputs/docs/Quickstart.mdx
Labels: none

fix: fix link to presence from quickstart (#260)
  apps/web/src/inputs/docs/Quickstart.mdx
Labels: none

docs: update readme, moved docs, added website docs
  docs/authentication.md
  docs/cloudflare-support.md
  docs/crdt-storage.md
  docs/create-io-api.md
  docs/creating-rooms.md
  docs/custom-events.md
  docs/nodejs-support.md
  docs/presence.md
  docs/pubsubs-and-persistance.md
  docs/react-api.md
  packages/cli/README.md
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/wicked-readers-camp.md
Labels: none

docs: update readme, moved docs, added website docs (#261)
  .changeset/wicked-readers-camp.md
  docs/authentication.md
  docs/cloudflare-support.md
  docs/crdt-storage.md
  docs/create-io-api.md
  docs/creating-rooms.md
  docs/custom-events.md
  docs/nodejs-support.md
  docs/presence.md
  docs/pubsubs-and-persistance.md
  docs/react-api.md
  packages/cli/README.md
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

docs: delete removed doc links
  packages/io/README.md
Labels: @pluv/io

chore: added changesets
  .changeset/mean-candles-switch.md
Labels: none

docs: delete removed doc links (#263)
  .changeset/mean-candles-switch.md
  packages/io/README.md
Labels: @pluv/io

feat: reduce rainfall droplets
  apps/web/src/components/HomeHero/HomeHero.tsx
  internal/rainfall/src/DropletManager.ts
Labels: none

feat: reduce rainfall droplets (#265)
  apps/web/src/components/HomeHero/HomeHero.tsx
  internal/rainfall/src/DropletManager.ts
Labels: none

feat: update mobile hero gradient shape
  apps/web/src/components/HomeHero/HomeHero.tsx
Labels: none

feat: update mobile hero gradient shape (#266)
  apps/web/src/components/HomeHero/HomeHero.tsx
Labels: none

feat: update home features description
  apps/web/src/components/HomeFeaturesSection/HomeFeaturesSection.tsx
Labels: none

feat: update home features description (#268)
  apps/web/src/components/HomeFeaturesSection/HomeFeaturesSection.tsx
Labels: none

feat: prevent pixijs logging
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/Rainfall.ts
Labels: none

feat: added debug to development server
  apps/server-cloudflare/src/durable-objects/RoomDurableObject.ts
  apps/web/src/pages/index.tsx
  packages/io/src/PluvIO.ts
  packages/io/src/index.ts
  turbo.json
Labels: @pluv/io

chore: added changeset
  .changeset/mean-pillows-turn.md
Labels: none

feat: added logging to development server (#269)
  .changeset/mean-pillows-turn.md
  apps/server-cloudflare/src/durable-objects/RoomDurableObject.ts
  apps/web/src/pages/index.tsx
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/Rainfall.ts
  packages/io/src/PluvIO.ts
  packages/io/src/index.ts
  turbo.json
Labels: @pluv/io

feat: purge empty rooms before joining a new room
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

chore: added changeset
  .changeset/perfect-shrimps-burn.md
Labels: none

feat: purge empty rooms before joining room (#274)
  .changeset/perfect-shrimps-burn.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

chore: delete .env
  apps/web/.env
Labels: none

fix: fix worker doc becoming un-interactable
  .gitignore
  apps/server-cloudflare/package.json
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io
