Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

docs: add slate docs
  .prettierignore
  .prettierrc.js
  docs/text-editors/slate.mdx
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
Labels: ðŸ“š documentation / examples

feat(crdt-yjs): updated provider field to presenceField
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/lovely-ears-post.md
Labels: none

feat(crdt-yjs): updated provider field to presenceField (#1119)
  .changeset/lovely-ears-post.md
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: @pluv/crdt-yjs

docs: add lexical docs
  docs/text-editors/lexical.mdx
  docs/text-editors/slate.mdx
Labels: ðŸ“š documentation / examples

docs: add blocknote docs
  docs/text-editors/blocknote.mdx
  docs/text-editors/lexical.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

docs: fix imports
  docs/text-editors/lexical.mdx
Labels: ðŸ“š documentation / examples

docs: added using yjs doc
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: added using loro doc
  docs/storage/using-loro.mdx
Labels: ðŸ“š documentation / examples

docs: remove unused import
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: fix installation guide
  docs/text-editors/blocknote.mdx
Labels: ðŸ“š documentation / examples

docs: fix doc typos
  docs/quickstart/nextjs.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(platform-pluv): added debug logging
  packages/io/src/PluvIO.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

chore: added changeset
  .changeset/cute-loops-wash.md
Labels: none

feat(platform-pluv): log debug (#1122)
  .changeset/cute-loops-wash.md
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/io/src/PluvIO.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/platform-pluv/src/PluvPlatform.ts
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/io

feat(platform-pluv): added more logging
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/better-states-relate.md
Labels: none

feat(platform-pluv): add more debug logging (#1124)
  .changeset/better-states-relate.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

feat(io): update error messages
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/utils/index.ts
  packages/io/src/utils/oneLine.ts
Labels: @pluv/io

feat(io): update error messages (#1126)
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/utils/index.ts
  packages/io/src/utils/oneLine.ts
Labels: @pluv/io

tests: increase slate test waits to 1s
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

fix: fix print formatting
  packages/crdt-loro/src/utils/oneLine.ts
  packages/crdt-yjs/src/utils/oneLine.ts
  packages/io/src/utils/oneLine.ts
Labels: @pluv/crdt-yjs, @pluv/io

feat(io): added platform ids
  packages/io/src/AbstractPlatform.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

fix(io): fix debug print format
  packages/io/src/IORoom.ts
Labels: @pluv/io

fix(platform-cloudflare): fixed transactional state not writing
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/tough-waves-stare.md
Labels: none

chore: remove log
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/platform-cloudflare

fix(io): fix sharing transactional storage persistence instances
  packages/io/src/AbstractPersistence.ts
  packages/io/src/AbstractPlatform.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis

fix(platform-cloudflare): fix storage state write (#1127)
  .changeset/tough-waves-stare.md
  packages/io/src/AbstractPersistence.ts
  packages/io/src/AbstractPlatform.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare

docs: moved api reference
  docs/api-reference/client.mdx
  docs/api-reference/io.mdx
  docs/api-reference/react.mdx
Labels: ðŸ“š documentation / examples

chore: update docs
  docs/storage/using-loro.mdx
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/storage/using-loro.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/storage/using-loro.mdx
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__react/storage.mdx
  docs/storage/using-loro.mdx
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  assets/set_initial_storage_webhook.png
  docs/@pluv__io/loading_storage.mdx
  docs/storage/loading_storage.mdx
Labels: ðŸ“š documentation / examples

docs: rename file
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

docs: fix links
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/history.mdx
  docs/api-reference/client.mdx
  docs/api-reference/react.mdx
  docs/quickstart/nextjs.mdx
  docs/text-editors/blocknote.mdx
  docs/text-editors/lexical.mdx
  docs/text-editors/slate.mdx
Labels: ðŸ“š documentation / examples

docs: consolidate pubsub
  docs/@pluv__io/pubsub.mdx
  docs/ecosystem.mdx
Labels: ðŸ“š documentation / examples
