Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: bump deps (#803)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump loro-crdt
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump loro-crdt (#804)
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump node
  .node-version
  .nvmrc
  package.json
Labels: none

chore: bump node (#805)
  .node-version
  .nvmrc
  package.json
Labels: none

fix(react): fix event router types for client events
  packages/react/src/createBundle.tsx
  packages/react/src/index.ts
Labels: @pluv/react

chore: added changeset
  .changeset/beige-pigs-yell.md
Labels: none

fix(react): fix client event types (#806)
  .changeset/beige-pigs-yell.md
  packages/react/src/createBundle.tsx
  packages/react/src/index.ts
Labels: @pluv/react

chore: added changeset
  .changeset/cold-boats-prove.md
Labels: none

chore: added missing bump loro-crdt changeset (#808)
  .changeset/cold-boats-prove.md
Labels: none

chore: bump express
  apps/web/package.json
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

chore: bump express (#809)
  apps/web/package.json
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

fix: web types
  apps/web/tsconfig.json
Labels: none

fix: web types (#810)
  apps/web/tsconfig.json
Labels: none

chore(crdt-loro): update deprecated methods
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: added changeset
  .changeset/light-crews-invite.md
Labels: none

chore: remove version param
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: fix build error
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore(crdt loro): update deprecated methods (#811)
  .changeset/light-crews-invite.md
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: cast subscriber type
  packages/pubsub-redis/src/PubSubRedis.ts
Labels: @pluv/pubsub-redis

chore: bump deps (#813)
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/pubsub-redis/src/PubSubRedis.ts
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/pubsub-redis

feat(platform-pluv): update webhooks path to base
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: added changeset
  .changeset/silent-dancers-lay.md
Labels: none

feat(platform-pluv): move webhooks to base path (#814)
  .changeset/silent-dancers-lay.md
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix next 15 breaking changes in www
  apps/web/src/app/docs/[[...slug]]/page.tsx
Labels: none

chore: delete unused typist
  apps/storybook/src/react-components/client/molecules/Typist.stories.tsx
  apps/web/src/components/HomeHero/HomeHero.tsx
  internal/react-components/client/molecules/Typist/Typist.tsx
  internal/react-components/client/molecules/Typist/TypistCursor.tsx
  internal/react-components/client/molecules/Typist/index.ts
  internal/react-components/client/molecules/index.ts
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useOrchestratedTypist.ts
  internal/react-hooks/src/useTypist.ts
Labels: none

chore: bump deps (#817)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/storybook/src/react-components/client/molecules/Typist.stories.tsx
  apps/web/package.json
  apps/web/src/app/docs/[[...slug]]/page.tsx
  apps/web/src/components/HomeHero/HomeHero.tsx
  internal/mdx-components/package.json
  internal/react-components/client/molecules/Typist/Typist.tsx
  internal/react-components/client/molecules/Typist/TypistCursor.tsx
  internal/react-components/client/molecules/Typist/index.ts
  internal/react-components/client/molecules/index.ts
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useOrchestratedTypist.ts
  internal/react-hooks/src/useTypist.ts
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#818)
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#819)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#820)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: remove js-base64 dependency
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/tsconfig.json
  pnpm-lock.yaml
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/cool-buckets-fry.md
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#824)
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none
