Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

tests: strip more chars
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

chore: no longer target end
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: replace strange unicodes
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

chore: cleanup
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

tests: added blocknote tests (#1110)
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/index.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/pages/_app.tsx
  tests/e2e/src/pages/yjs/cloudflare/blocknote/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/blocknote/index.test.ts
Labels: none

chore: updated changeset
  .changeset/rude-insects-sort.md
Labels: none

chore: updated changeset
  .changeset/fifty-dingos-speak.md
Labels: none

docs: added storage-loaded migration docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

fix(client): fix doc being available before it is initialized
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/rude-ties-rule.md
  .changeset/slow-boats-wash.md
Labels: none

fix: fix docs hook
  packages/react/src/createBundle.tsx
Labels: @pluv/react

fix: fix type tests
  tests/types/src/types.test.tsx
Labels: none

fix(client): improve storageLoaded detection
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix: fix preemptive doc (#1111)
  .changeset/rude-ties-rule.md
  .changeset/slow-boats-wash.md
  docs/migration-guides/v3.mdx
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/createBundle.tsx
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/types/src/types.test.tsx
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/react

fix(react): fix useConnection requiring a selector
  packages/react/src/types.ts
Labels: @pluv/react

chore: added changeset
  .changeset/puny-lands-open.md
Labels: none

fix: fix use connection types (#1112)
  .changeset/puny-lands-open.md
  packages/react/src/types.ts
Labels: @pluv/react

chore: approve sharp build
  package.json
Labels: none

fix(react): fix rooms not changing when names change
  packages/react/src/createBundle.tsx
Labels: @pluv/react

fix(io): fix referencing transactional storages cross durable objects
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
  tests/e2e/src/pages/yjs/cloudflare/storage/index.tsx
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: lint fixes
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

tests: add room switch tests
  tests/e2e/src/pages/yjs/cloudflare/presence/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/storage/index.tsx
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
Labels: none

tests: update name
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
Labels: none

chore: remove obsolute compose ver
  docker-compose.yml
Labels: none

tests: fix locators
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
Labels: none

chore: added changeset
  .changeset/light-berries-burn.md
  .changeset/mean-eagles-mix.md
Labels: none

fix(io): fix change room (#1113)
  .changeset/light-berries-burn.md
  .changeset/mean-eagles-mix.md
  docker-compose.yml
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
  packages/react/src/createBundle.tsx
  tests/e2e/src/pages/yjs/cloudflare/presence/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/storage/index.tsx
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/react

feat(client): updated PluvRoom to have a stable doc per new connection
  packages/client/src/CrdtManager.ts
Labels: @pluv/client

chore: attempt always return doc
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: simplify useDoc calls
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: @pluv/client, @pluv/react

chore: updated changesets
  .changeset/rude-ties-rule.md
  .changeset/slow-boats-wash.md
Labels: none

tests: fix type tests
  tests/types/src/types.test.tsx
Labels: none

feat(client): updated PluvRoom to have a stable doc per new connection (#1114)
  .changeset/rude-ties-rule.md
  .changeset/slow-boats-wash.md
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/react

feat(crdt-yjs): no-longer require doc param
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
Labels: @pluv/crdt-yjs

chore: updated changesets
  .changeset/fifty-dingos-speak.md
  .changeset/kind-geckos-punch.md
  .changeset/tricky-humans-run.md
Labels: none

tests: update tests
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: none

feat(crdt-yjs): no longer require doc (#1115)
  .changeset/fifty-dingos-speak.md
  .changeset/kind-geckos-punch.md
  .changeset/tricky-humans-run.md
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: @pluv/crdt-yjs

fix(platform-pluv): fix createToken
  packages/io/src/AbstractPlatform.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

chore: added changeset
  .changeset/five-cobras-film.md
Labels: none

fix(platform-pluv): fix create token (#1116)
  .changeset/five-cobras-film.md
  packages/io/src/AbstractPlatform.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io
