Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

tests: updated type tests for storage root on proxy
  tests/types/src/types.test.tsx
Labels: none

chore: added changeset
  .changeset/metal-tables-fry.md
Labels: none

feat(client): storage root proxy (#1094)
  .changeset/metal-tables-fry.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client

feat(client): added subscription proxy
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

tests: added subscription proxy to type tests
  tests/types/src/types.test.tsx
Labels: none

feat(client): add others to subscription proxy
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

tests: update subscription proxy type
  tests/types/src/types.test.tsx
Labels: none

fix: fix types
  packages/types/src/pluv/room.ts
Labels: none

refactor(react): use subscription proxy
  packages/react/src/createBundle.tsx
Labels: @pluv/react

fix: fix types and swap old others subscription
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/StateNotifier.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

feat(client): switch back to new others
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersNotifier.ts
Labels: @pluv/client

chore: added changeset
  .changeset/chilly-badgers-go.md
  .changeset/purple-rice-hunt.md
  .changeset/solid-bananas-return.md
Labels: none

feat(client): subscription proxy (#1095)
  .changeset/chilly-badgers-go.md
  .changeset/purple-rice-hunt.md
  .changeset/solid-bananas-return.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersNotifier.ts
  packages/react/src/createBundle.tsx
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/react

docs: update docs
  docs/@pluv__client/api_reference.mdx
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__client/api_reference.mdx
Labels: ðŸ“š documentation / examples

feat(client): deprecate subscriptions
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix: fix deprecation message
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(client): update deprecation messages
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/five-tables-brush.md
Labels: none

feat(client): deprecate several moved subscriptions (#1096)
  .changeset/five-tables-brush.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

docs: update v3 migration docs
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

chore: updated changesets
  .changeset/lemon-sites-yawn.md
  .changeset/metal-tables-fry.md
Labels: none

chore: updated changesets
  .changeset/metal-tables-fry.md
Labels: none

chore: attempt patch changeset
  .changeset/config.json
Labels: none

chore: move peer dep
  .changeset/config.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/brown-singers-pick.md
Labels: none

chore: bump deps
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(crdt-yjs): added awareness
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/awareness/index.ts
  packages/crdt-yjs/src/constants.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/yjs.ts
  pnpm-lock.yaml
Labels: @pluv/crdt-yjs

feat(client): added ability to patch crdt metadata into presence
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/constants.ts
Labels: @pluv/client

chore: added changeset
  .changeset/tricky-humans-run.md
Labels: none

fix(crdt-yjs): fix not destroying awareness local state
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
Labels: @pluv/crdt-yjs

feat(crdt-yjs): awareness (#1098)
  .changeset/tricky-humans-run.md
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/constants.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/awareness/index.ts
  packages/crdt-yjs/src/constants.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/yjs.ts
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs

feat(client): track the state of storage loading
  packages/client/src/PluvRoom.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/types/src/index.ts
  packages/types/src/pluv/enums.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client, @pluv/crdt-yjs

feat(client): improved storageLoaded detection
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(client): update getStorageLoaded
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

feat(client): deprecate storageLoaded
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client

chore: added changeset
  .changeset/rude-insects-sort.md
Labels: none

fix(client): fix types
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

feat(client): getStorageLoaded (#1100)
  .changeset/rude-insects-sort.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/types/src/index.ts
  packages/types/src/pluv/enums.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client, @pluv/crdt-yjs

feat(client): add native ws event listeners
  packages/client/src/ListenerManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/index.ts
  packages/types/src/pluv/room.ts
Labels: @pluv/client
