Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat(react): remove room bundle initial storage
  packages/client/src/PluvClient.ts
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/tasty-moles-play.md
Labels: none

feat(react): remove room bundle initial storage (#741)
  .changeset/tasty-moles-play.md
  packages/client/src/PluvClient.ts
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

feat(react): merge createBundle with createRoomBundle
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
  packages/react/src/index.ts
Labels: @pluv/react

docs: update docs with breaking changes
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/History.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
  apps/web/src/inputs/docs/Ecosystem.mdx
  apps/web/src/pluv-io/cloudflare.ts
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

chore: added changeset
  .changeset/good-feet-jam.md
Labels: none

feat(react): merge create bundles (#743)
  .changeset/good-feet-jam.md
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/History.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
  apps/web/src/inputs/docs/Ecosystem.mdx
  apps/web/src/pluv-io/cloudflare.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
  packages/react/src/index.ts
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/react

chore: bump pnpm
  package.json
Labels: none

docs: remove createRoomBundle references
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
Labels: none

chore: bump pnpm (#745)
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  package.json
Labels: none

docs: fix zod references
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
Labels: none

docs: fix zod references (#746)
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

chore: bump deps (#747)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

docs: added docs for client events
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Client vs Server Events.mdx
  apps/web/src/inputs/docs/@pluv_client/Define Events.mdx
Labels: none

docs: added docs for client events (#748)
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Client vs Server Events.mdx
  apps/web/src/inputs/docs/@pluv_client/Define Events.mdx
Labels: none

refactor(io): add crdt-library-type
  packages/crdt-loro/src/loro.ts
  packages/crdt-yjs/src/yjs.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
Labels: @pluv/crdt-yjs, @pluv/io

chore: added changeset
  .changeset/fast-monkeys-admire.md
Labels: none

refactor(io): add crdt-library-type (#749)
  .changeset/fast-monkeys-admire.md
  packages/crdt-loro/src/loro.ts
  packages/crdt-yjs/src/yjs.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
Labels: @pluv/crdt-yjs, @pluv/io

feat(platform-pluv): add new platform-pluv
  packages/platform-pluv/.eslintrc.js
  packages/platform-pluv/package.json
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/createIO.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(platform-pluv): add new package @pluv/platform-pluv
  .changeset/quick-readers-applaud.md
Labels: none

feat(platform pluv): add platform pluv (#751)
  .changeset/quick-readers-applaud.md
  packages/platform-pluv/.eslintrc.js
  packages/platform-pluv/package.json
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/createIO.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(client): add publicKey prop to PluvClient
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/five-needles-rule.md
Labels: none

feat(client): client public key (#752)
  .changeset/five-needles-rule.md
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(io): export authorize util
  packages/io/src/index.ts
Labels: @pluv/io

chore: added changeset
  .changeset/nice-brooms-occur.md
Labels: none

feat(io): export authorize util (#753)
  .changeset/nice-brooms-occur.md
  packages/io/src/index.ts
Labels: @pluv/io

fix(platform-pluv): add missing publicKey to createIO
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: added changeset
  .changeset/honest-dryers-reply.md
Labels: none

fix(platform-pluv): add missing public key (#755)
  .changeset/honest-dryers-reply.md
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: revert shiki
  apps/web/package.json
  apps/web/src/components/MdxPre/MdxPre.tsx
  apps/web/src/utils/getShiki.ts
  pnpm-lock.yaml
Labels: none

chore: downgrade @types/express
  apps/web/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#757)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  apps/web/src/components/MdxPre/MdxPre.tsx
  apps/web/src/utils/getShiki.ts
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: export platform types
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/index.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changest
  .changeset/calm-rocks-roll.md
Labels: none

feat: export platform types (#758)
  .changeset/calm-rocks-roll.md
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/index.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

fix(io): fix io platform context types
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvPlatform.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/chilled-books-behave.md
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
