Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat: v3 (#1118)
  .changeset/clever-rockets-stay.md
  .changeset/cuddly-jobs-decide.md
  .changeset/major-bees-rule.md
  .changeset/yellow-pans-laugh.md
  .prettierrc.js
  docs/migration-guides/v3-breaking-changes.mdx
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/object/YjsObject.ts
  packages/crdt-yjs/src/object/index.ts
  packages/crdt-yjs/src/object/object.ts
  packages/crdt-yjs/src/yjs.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/index.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/components/yjs/cloudflare/StorageRoom.tsx
  tests/e2e/src/components/yjs/node-redis/StorageRoom.tsx
  tests/e2e/src/components/yjs/node/StorageRoom.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/types/src/types.test.tsx
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/crdt-yjs, @pluv/platform-cloudflare, @pluv/platform-node

feat(io): require getInitialStorage when crdt is provided
  packages/crdt-loro/src/index.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/package.json
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
  pnpm-lock.yaml
  tests/types/src/types.test.tsx
Labels: @pluv/crdt-yjs, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/five-cobras-fly.md
Labels: none

tests: update tests
  tests/e2e/src/demo/io.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/kv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
Labels: none

fix(io): require get initial storage with crdt (#1140)
  .changeset/five-cobras-fly.md
  packages/crdt-loro/src/index.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt/src/index.ts
  packages/crdt/src/types.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/package.json
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
  pnpm-lock.yaml
  tests/e2e/src/demo/io.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/kv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/types/src/types.test.tsx
Labels: @pluv/crdt-yjs, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

refactor: move crdt types
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/room.ts
Labels: none

refactor: move crdt types (#1142)
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/room.ts
Labels: none

feat(io): add crdt type to IOLike
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/infer.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/react/src/createBundle.tsx
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

feat(io): add crdt type to IOLike (#1143)
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/infer.ts
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt-yjs/src/awareness/awareness.ts
  packages/crdt-yjs/src/provider/PluvYjsProvider.ts
  packages/crdt-yjs/src/provider/provider.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/react/src/createBundle.tsx
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

feat(client): emit type warning if initialStorage is used without crdt
  packages/client/src/PluvClient.ts
  packages/client/src/createClient.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/react/src/createBundle.tsx
  packages/react/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/shared.ts
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/react

fix(client): allow optional initialStorage
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changeset
  .changeset/sad-coats-jam.md
Labels: none

tests: update type tests
  tests/types/src/no-crdt.test.tsx
Labels: none

tests: fix types
  tests/e2e/src/pluv-io/loro/node.ts
Labels: none

feat(client): emit warning on missing crdt (#1144)
  .changeset/sad-coats-jam.md
  packages/client/src/PluvClient.ts
  packages/client/src/createClient.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/react/src/createBundle.tsx
  packages/react/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/shared.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/types/src/no-crdt.test.tsx
  tests/types/src/types.test.tsx
Labels: @pluv/client, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/react

docs: update docs
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

fix(io): fix io.server args being optional when crdt is specified
  packages/io/src/PluvIO.ts
  packages/types/src/general.ts
  packages/types/src/index.ts
  tests/types/src/has-crdt.test.tsx
Labels: @pluv/io

chore: added changeset
  .changeset/tasty-ghosts-smoke.md
Labels: none

fix(io): pluv server args (#1145)
  .changeset/tasty-ghosts-smoke.md
  packages/io/src/PluvIO.ts
  packages/types/src/general.ts
  packages/types/src/index.ts
  tests/types/src/has-crdt.test.tsx
Labels: @pluv/io

docs: update readme
  packages/io/README.md
Labels: @pluv/io

docs: update readme
  packages/io/README.md
Labels: @pluv/io

fix(io): fix get initial storage
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/four-moose-end.md
Labels: none

fix(io): fix get initial storage (#1147)
  .changeset/four-moose-end.md
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

fix(io): prevent apply empty initial storage
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/new-singers-drop.md
Labels: none

fix(io): prevent apply empty state (#1149)
  .changeset/new-singers-drop.md
  packages/io/src/PluvServer.ts
Labels: @pluv/io

tests: add node blocknote test
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditor.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/node/BlockNoteEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/node/BlockNoteEditor/index.ts
  tests/e2e/src/components/yjs/node/index.ts
  tests/e2e/src/pages/yjs/node/blocknote/index.tsx
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

fix(client): prevent applying an empty storage store
  packages/client/src/PluvRoom.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
Labels: @pluv/client

chore: added changeset
  .changeset/cute-rivers-buy.md
Labels: none

tests: fix types
  tests/e2e/src/components/yjs/node/BlockNoteEditor/context.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

fix(client): prevent apply empty store (#1151)
  .changeset/cute-rivers-buy.md
  packages/client/src/PluvRoom.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditor.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditorProvider.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/context.ts
  tests/e2e/src/components/yjs/node/BlockNoteEditor/getRandomUserProfile.ts
  tests/e2e/src/components/yjs/node/BlockNoteEditor/index.ts
  tests/e2e/src/components/yjs/node/index.ts
  tests/e2e/src/pages/yjs/node/blocknote/index.tsx
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: @pluv/client

fix(crdt): fix crdt docs becoming empty when there are unmodified props
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/crdt-yjs, @pluv/react

chore: added changeset
  .changeset/stale-tips-mate.md
Labels: none

fix(crdt): fix empty doc (#1153)
  .changeset/stale-tips-mate.md
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/crdt-yjs, @pluv/react

fix(react): fix excessive re-renders
  packages/react/src/createBundle.tsx
Labels: @pluv/react

chore: added changeset
  .changeset/sharp-hands-relax.md
Labels: none

fix(react): fix excessive rerenders (#1155)
  .changeset/sharp-hands-relax.md
  packages/react/src/createBundle.tsx
Labels: @pluv/react

tests: add cloudflare saved storage
  tests/e2e/cf.d.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/wrangler.jsonc
Labels: none

fix(io): fix cf initial doc storage
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
