Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/old-maps-approve.md
Labels: none

fix: revert test
  tests/e2e/src/server/yjs/cloudflare/pluv-io.ts
Labels: none

feat(io): improve session resolver context types (#842)
  .changeset/old-maps-approve.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: downgrade commander
  pnpm-lock.yaml
  tests/e2e/next-env.d.ts
  tests/e2e/package.json
  tests/e2e/test-results/.last-run.json
Labels: none

chore: bump deps (#844)
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/next-env.d.ts
  tests/e2e/package.json
  tests/e2e/test-results/.last-run.json
Labels: none

feat(io): remove required prop from authorize
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/client, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/soft-pens-wash.md
Labels: none

feat(io): remove authorize required (#845)
  .changeset/soft-pens-wash.md
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/client, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#847)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#849)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(crdt-loro): add missing crdt types
  packages/crdt-loro/src/loro.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/tree.ts
Labels: none

feat(crdt-loro): add missing crdt types (#850)
  packages/crdt-loro/src/loro.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/tree.ts
Labels: none

chore: added changeset
  .changeset/mean-bees-sing.md
Labels: none

chore: added changeset (#851)
  .changeset/mean-bees-sing.md
Labels: none

chore: cleanup deprecated method
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: cleanup deprecated method (#853)
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix shiki breaking changes
  apps/web/src/utils/getShiki.ts
Labels: none

chore: bump deps (#857)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  apps/web/src/utils/getShiki.ts
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(crdt-loro): added undo and redo support
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: added changeset
  .changeset/quick-mirrors-smell.md
Labels: none

test: added undo redo tests
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

feat(crdt loro): undo redo (#858)
  .changeset/quick-mirrors-smell.md
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

feat(crdt-yjs): increase undo manager merge interval to 1s
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/proud-apricots-serve.md
Labels: none

chore: update changeset
  .changeset/proud-apricots-serve.md
Labels: none

feat(crdt-yjs): 1s merge interval (#859)
  .changeset/proud-apricots-serve.md
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

fix(io): fix lazy authorize type
  apps/server-cloudflare/src/pluv-io.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

chore: added changeset
  .changeset/rude-suits-reflect.md
Labels: none

fix: fix type errors
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/client, @pluv/io, @pluv/react

chore: fix next config deprecation
  apps/web/next-env.d.ts
  apps/web/next.config.mjs
Labels: none

chore: simplify demo code examples
  apps/web/src/components/HomeIntroStep1/HomeIntroStep1Code.tsx
  apps/web/src/components/HomeIntroStep2/HomeIntroStep2Code.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
Labels: none

fix: fix type errors
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

fix: fix more type errors
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  tests/e2e/src/demo/io.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
Labels: ðŸ“š documentation / examples

chore: fix twoslash type errors
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
Labels: none

fix: fix authorize handler types
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: attempt simplify type
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
