Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

fix: fix sql storage operations
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
Labels: @pluv/persistence-cloudflare-transactional-storage

chore: format
  packages/io/src/IORoom.ts
Labels: @pluv/io

fix: fix typedefs
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
Labels: none

chore: update type generic label
  packages/crdt/src/AbstractCrdtDoc.ts
Labels: none

fix: fix YXmlFragment
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

fix: fix rebuilding yjs storage
  packages/client/src/CrdtManager.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/client, @pluv/crdt-yjs

chore: format
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: lower waits and skip addonIndexedDB test for now
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

chore: use list reporter
  tests/e2e/playwright.config.ts
Labels: none

fix: fix undo manager for loro
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

chore: format
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

chore: temporarily skip slate tests
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

fix: fix storage race condition (#1075)
  .changeset/late-shirts-knock.md
  package.json
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/tsconfig.json
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/types/src/pluv.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
  tests/types/package.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage

feat: restore storage store
  packages/client/src/PluvRoom.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: @pluv/client

fix: fix storage race condition (#1075)
  .changeset/late-shirts-knock.md
  .changeset/short-hairs-spend.md
  package.json
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt-yjs/tsconfig.json
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/types/src/pluv.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
  tests/types/package.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage

feat: added ability to get merged storage store update
  packages/client/src/CrdtManager.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
Labels: @pluv/client, @pluv/crdt-yjs

feat(io): narrower state initialization data
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

feat: restore storage store addon
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: clear logs
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

refactor: simplify conditions
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: delete unused method
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/nine-mirrors-pick.md
Labels: none

feat: restore indexeddb addon (#1078)
  .changeset/nine-mirrors-pick.md
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io

tests: increase waits from 0.25ms to 0.25s
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

tests: increase waits from 0.25ms to 0.25s (#1080)
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

refactor: moved types
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/enums.ts
  packages/types/src/pluv/index.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
  packages/types/tsconfig.json
Labels: none

refactor: switch to CrdtDocLike
  packages/client/src/AbstractRoom.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/index.ts
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv/crdt.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

refactor: switch to RoomLike
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/react/src/createBundle.tsx
Labels: @pluv/client, @pluv/react

refactor: switch to types from types package
  packages/client/src/EventNotifier.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersManager.ts
  packages/client/src/enums.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

fix: fix missing import
  packages/types/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/fifty-nights-smoke.md
Labels: none

refactor: restructure types (#1081)
  .changeset/fifty-nights-smoke.md
  packages/client/src/AbstractRoom.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/EventNotifier.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersManager.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/index.ts
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/enums.ts
  packages/types/src/pluv/index.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

fix(client): fix storage store initialization
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/modern-adults-allow.md
Labels: none

tests: no longer skip addon indexeddb test
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

chore: remove logs
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix(client): fix storage store initialization (#1084)
  .changeset/modern-adults-allow.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: @pluv/client

tests: update tests to use builder
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

feat(crdt-loro): allow native container types
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/utils/index.ts
  packages/crdt-loro/src/utils/oneLine.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
Labels: @pluv/crdt-yjs

fix: fix missing handlers for deprecated loro root types
  packages/crdt-loro/src/counter.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/loro.ts
Labels: none
