Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore(pluv): update boilerplate pluv dependencies
  .changeset/lovely-zoos-think.md
Labels: none

chore: uninstall unused wrangler from server-node
  apps/server-node/package.json
  pnpm-lock.yaml
Labels: none

chore: uninstall unused wrangler from server-node (#33)
  apps/server-node/package.json
  pnpm-lock.yaml
Labels: none

docs: added disclaimer not to use packages in production while in preview
  packages/cli/README.md
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/dull-bobcats-chew.md
Labels: none

docs: added disclaimer not to use packages in production while in preview (#34)
  .changeset/dull-bobcats-chew.md
  packages/cli/README.md
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

ci: fixed broken auto-assign workflow no longer accepting config files
  .github/auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: none

ci: fixed broken auto-assign workflow no longer accepting config files (#36)
  .github/auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: none

chore: added openbase badge on readme
  packages/io/README.md
Labels: @pluv/io

chore: added openbase badge on readme (#37)
  packages/io/README.md
Labels: @pluv/io

chore: center align demo gif on readme
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: center align demo gif on readme (#38)
  packages/client/README.md
  packages/crdt-yjs/README.md
  packages/io/README.md
  packages/persistance-redis/README.md
  packages/platform-cloudflare/README.md
  packages/platform-node/README.md
  packages/pubsub-redis/README.md
  packages/react/README.md
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat(crdt-yjs): added support for yjs xml types i.e. xmlelement xmlfragment and xmltext
  packages/crdt-yjs/src/doc.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/xmlElement.ts
  packages/crdt-yjs/src/xmlFragment.ts
  packages/crdt-yjs/src/xmlText.ts
Labels: @trpc/crdt-yjs

chore: added changeset
  .changeset/hip-flies-float.md
Labels: none

docs(crdt-yjs): fix example in README
  packages/crdt-yjs/README.md
Labels: @trpc/crdt-yjs

chore: updated-crdt-features-list
  packages/io/README.md
Labels: @pluv/io

chore(crdt-yjs): update-note-in-readme
  docs/crdt-storage.md
Labels: ğŸ“š documentation / examples

chore(crdt-yjs): added support for remaining yjs shared types (#42)
  .changeset/hip-flies-float.md
  docs/crdt-storage.md
  packages/crdt-yjs/README.md
  packages/crdt-yjs/src/doc.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt-yjs/src/types.ts
  packages/crdt-yjs/src/xmlElement.ts
  packages/crdt-yjs/src/xmlFragment.ts
  packages/crdt-yjs/src/xmlText.ts
  packages/io/README.md
Labels: ğŸ“š documentation / examples, @trpc/crdt-yjs, @pluv/io

feat: breaking: updated PluvRoom broadcast api
  apps/web/src/components/CloudflareChatRoom.tsx
  apps/web/src/components/NodeChatRoom.tsx
  docs/custom-events.md
  docs/react-api.md
  packages/client/src/PluvRoom.ts
  packages/io/README.md
  packages/react/README.md
  packages/react/src/createRoomBundle.tsx
Labels: ğŸ“š documentation / examples, @pluv/client, @pluv/io, @pluv/react

chore: added changeset
  .changeset/hot-schools-clean.md
Labels: none

feat: updated PluvRoom broadcast api (#45)
  .changeset/hot-schools-clean.md
  apps/web/src/components/CloudflareChatRoom.tsx
  apps/web/src/components/NodeChatRoom.tsx
  docs/custom-events.md
  docs/react-api.md
  packages/client/src/PluvRoom.ts
  packages/io/README.md
  packages/react/README.md
  packages/react/src/createRoomBundle.tsx
Labels: ğŸ“š documentation / examples, @pluv/client, @pluv/io, @pluv/react

chore: added changeset
  .changeset/four-walls-camp.md
Labels: none

chore: update demo gif in README
  assets/demo-events.gif
  tests/e2e/src/demo/ChatRoom.tsx
  tests/e2e/src/demo/io.ts
  tests/e2e/src/demo/pluv.ts
  turbo.json
Labels: none

chore: update demo gif on README
  .changeset/tender-hats-hang.md
Labels: none

chore(io): update demo gif in readme (#46)
  .changeset/tender-hats-hang.md
  assets/demo-events.gif
  tests/e2e/src/demo/ChatRoom.tsx
  tests/e2e/src/demo/io.ts
  tests/e2e/src/demo/pluv.ts
  turbo.json
Labels: none

chore(web): delete web server-node and start web app from scratch
  apps/server-cloudflare/src/pluv-io.ts
  apps/server-node/.eslintrc.js
  apps/server-node/package.json
  apps/server-node/src/index.ts
  apps/server-node/src/pluv-io.ts
  apps/server-node/tsconfig.json
  apps/web/package.json
  apps/web/src/components/ChatMessage.tsx
  apps/web/src/components/CloudflareChatRoom.tsx
  apps/web/src/components/CloudflareCursor.tsx
  apps/web/src/components/CloudflareUsersList.tsx
  apps/web/src/components/NodeChatRoom.tsx
  apps/web/src/components/NodeCursor.tsx
  apps/web/src/components/NodeUsersList.tsx
  apps/web/src/components/index.ts
  apps/web/src/pages/chats/cloudflare/[roomName].tsx
  apps/web/src/pages/chats/node/[roomName].tsx
  apps/web/src/pluv-io/cloudflare.ts
  apps/web/src/pluv-io/node.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: none

chore(web): delete web server-node and start web app from scratch (#47)
  apps/server-cloudflare/src/pluv-io.ts
  apps/server-node/.eslintrc.js
  apps/server-node/package.json
  apps/server-node/src/index.ts
  apps/server-node/src/pluv-io.ts
  apps/server-node/tsconfig.json
  apps/web/package.json
  apps/web/src/components/ChatMessage.tsx
  apps/web/src/components/CloudflareChatRoom.tsx
  apps/web/src/components/CloudflareCursor.tsx
  apps/web/src/components/CloudflareUsersList.tsx
  apps/web/src/components/NodeChatRoom.tsx
  apps/web/src/components/NodeCursor.tsx
  apps/web/src/components/NodeUsersList.tsx
  apps/web/src/components/index.ts
  apps/web/src/pages/chats/cloudflare/[roomName].tsx
  apps/web/src/pages/chats/node/[roomName].tsx
  apps/web/src/pluv-io/cloudflare.ts
  apps/web/src/pluv-io/node.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: none

chore(pluv): added changeset
  .changeset/selfish-bottles-sniff.md
Labels: none

docs(www): added rainfall component for docs site eventually
  apps/web/package.json
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeHero/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  assets/rainfall-alpha.png
  assets/rainfall-background.jpg
  assets/rainfall-foreground.jpg
  assets/rainfall-shine.png
  internal/rainfall/.eslintrc.js
  internal/rainfall/package.json
  internal/rainfall/src/Droplet.ts
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/DropletManager.ts
  internal/rainfall/src/DropletPool.ts
  internal/rainfall/src/DropletShader.ts
  internal/rainfall/src/EffectCanvas.ts
  internal/rainfall/src/LargeDroplet.ts
  internal/rainfall/src/Rainfall.ts
  internal/rainfall/src/index.ts
  internal/rainfall/src/utils/getRandomInt.ts
  internal/rainfall/src/utils/index.ts
  internal/rainfall/tsconfig.json
  internal/react-hooks/.eslintrc.js
  internal/react-hooks/package.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useMeasure.ts
  internal/react-hooks/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(www): added rainfall component for docs site eventually (#53)
  apps/web/package.json
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeHero/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  assets/rainfall-alpha.png
  assets/rainfall-background.jpg
  assets/rainfall-foreground.jpg
  assets/rainfall-shine.png
  internal/rainfall/.eslintrc.js
  internal/rainfall/package.json
  internal/rainfall/src/Droplet.ts
  internal/rainfall/src/DropletAssets.ts
  internal/rainfall/src/DropletManager.ts
  internal/rainfall/src/DropletPool.ts
  internal/rainfall/src/DropletShader.ts
  internal/rainfall/src/EffectCanvas.ts
  internal/rainfall/src/LargeDroplet.ts
  internal/rainfall/src/Rainfall.ts
  internal/rainfall/src/index.ts
  internal/rainfall/src/utils/getRandomInt.ts
  internal/rainfall/src/utils/index.ts
  internal/rainfall/tsconfig.json
  internal/react-hooks/.eslintrc.js
  internal/react-hooks/package.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useMeasure.ts
  internal/react-hooks/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(web): added initial react chess for landing page
  apps/web/package.json
  apps/web/src/pages/index.tsx
  assets/capture.webm
  assets/castle.webm
  assets/game-end.webm
  assets/game-start.webm
  assets/move-check.webm
  assets/move-opponent.webm
  assets/move-self.webm
  assets/promote.webm
  internal/react-chess/.eslintrc.js
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/tsconfig.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useAudio.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(web): added initial react chess for landing page (#56)
  apps/web/package.json
  apps/web/src/pages/index.tsx
  assets/capture.webm
  assets/castle.webm
  assets/game-end.webm
  assets/game-start.webm
  assets/move-check.webm
  assets/move-opponent.webm
  assets/move-self.webm
  assets/promote.webm
  internal/react-chess/.eslintrc.js
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/tsconfig.json
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useAudio.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs: added sounds to landing page chess
  apps/web/src/components/HomeHero/HomeHero.tsx
  assets/check.webm
  assets/game-start.webm
  assets/move-opponent.webm
  assets/move.webm
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/useChessSounds.ts
  internal/react-chess/tsconfig.json
  pnpm-lock.yaml
Labels: none

docs: added sounds to landing page chess (#57)
  apps/web/src/components/HomeHero/HomeHero.tsx
  assets/check.webm
  assets/game-start.webm
  assets/move-opponent.webm
  assets/move.webm
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/useChessSounds.ts
  internal/react-chess/tsconfig.json
  pnpm-lock.yaml
Labels: none

docs(web): added decorator for chess pieces
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/context.ts
  internal/react-chess/src/customPieces.tsx
  internal/react-chess/src/defaultPieces.tsx
  internal/react-chess/src/getCustomPiece.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/src/types.ts
Labels: none

docs(web): added decorator for chess pieces (#58)
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/context.ts
  internal/react-chess/src/customPieces.tsx
  internal/react-chess/src/defaultPieces.tsx
  internal/react-chess/src/getCustomPiece.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/src/types.ts
Labels: none

test(web): added initial storybook config for web
  apps/web/.storybook/main.js
  apps/web/.storybook/preview.js
  apps/web/package.json
  apps/web/src/stories/Button.stories.ts
  apps/web/src/stories/Button.tsx
  apps/web/src/stories/Header.stories.ts
  apps/web/src/stories/Header.tsx
  apps/web/src/stories/Introduction.mdx
  apps/web/src/stories/Introduction.stories.mdx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Page.tsx
  apps/web/src/stories/assets/code-brackets.svg
  apps/web/src/stories/assets/colors.svg
  apps/web/src/stories/assets/comments.svg
  apps/web/src/stories/assets/direction.svg
  apps/web/src/stories/assets/flow.svg
  apps/web/src/stories/assets/plugin.svg
  apps/web/src/stories/assets/repo.svg
  apps/web/src/stories/assets/stackalt.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  internal/react-chess/src/getCustomPiece.tsx
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

test(web): added initial storybook config for web (#60)
  apps/web/.storybook/main.js
  apps/web/.storybook/preview.js
  apps/web/package.json
  apps/web/src/stories/Button.stories.ts
  apps/web/src/stories/Button.tsx
  apps/web/src/stories/Header.stories.ts
  apps/web/src/stories/Header.tsx
  apps/web/src/stories/Introduction.mdx
  apps/web/src/stories/Introduction.stories.mdx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Page.tsx
  apps/web/src/stories/assets/code-brackets.svg
  apps/web/src/stories/assets/colors.svg
  apps/web/src/stories/assets/comments.svg
  apps/web/src/stories/assets/direction.svg
  apps/web/src/stories/assets/flow.svg
  apps/web/src/stories/assets/plugin.svg
  apps/web/src/stories/assets/repo.svg
  apps/web/src/stories/assets/stackalt.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  internal/react-chess/src/getCustomPiece.tsx
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

fix(web): revert storybook setup
  apps/web/.storybook/main.js
  apps/web/.storybook/preview.js
  apps/web/package.json
  apps/web/src/stories/Button.stories.ts
  apps/web/src/stories/Button.tsx
  apps/web/src/stories/Header.stories.ts
  apps/web/src/stories/Header.tsx
  apps/web/src/stories/Introduction.mdx
  apps/web/src/stories/Introduction.stories.mdx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Page.tsx
  apps/web/src/stories/assets/code-brackets.svg
  apps/web/src/stories/assets/colors.svg
  apps/web/src/stories/assets/comments.svg
  apps/web/src/stories/assets/direction.svg
  apps/web/src/stories/assets/flow.svg
  apps/web/src/stories/assets/plugin.svg
  apps/web/src/stories/assets/repo.svg
  apps/web/src/stories/assets/stackalt.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  internal/react-chess/src/getCustomPiece.tsx
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none

fix(web): revert storybook setup (#62)
  apps/web/.storybook/main.js
  apps/web/.storybook/preview.js
  apps/web/package.json
  apps/web/src/stories/Button.stories.ts
  apps/web/src/stories/Button.tsx
  apps/web/src/stories/Header.stories.ts
  apps/web/src/stories/Header.tsx
  apps/web/src/stories/Introduction.mdx
  apps/web/src/stories/Introduction.stories.mdx
  apps/web/src/stories/Page.stories.ts
  apps/web/src/stories/Page.tsx
  apps/web/src/stories/assets/code-brackets.svg
  apps/web/src/stories/assets/colors.svg
  apps/web/src/stories/assets/comments.svg
  apps/web/src/stories/assets/direction.svg
  apps/web/src/stories/assets/flow.svg
  apps/web/src/stories/assets/plugin.svg
  apps/web/src/stories/assets/repo.svg
  apps/web/src/stories/assets/stackalt.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  internal/react-chess/src/getCustomPiece.tsx
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
Labels: none
