Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: bump deps (#1273)
  package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: apply minimal loro testing setup
  tests/e2e/src/server/loro/node/tsconfig.json
Labels: none

chore: bump deps (#1276)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/tsconfig.json
  tests/types/package.json
Labels: none

chore: bump lexical
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump lexical (#1277)
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: swap e2e tests to use vite-node
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/tsconfig.json
  tests/e2e/src/server/noop/node/tsconfig.json
  tests/e2e/src/server/tsconfig.json
  tests/e2e/src/server/yjs/node-redis/tsconfig.json
  tests/e2e/src/server/yjs/node/tsconfig.json
  tests/e2e/vite.server.config.ts
Labels: none

feat(crdt-loro): use conditional exports to handle nodejs runtimes
  packages/crdt-loro/README.md
  packages/crdt-loro/package.json
  packages/crdt-loro/src/counter.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/src/doc/builder.ts
  packages/crdt-loro/src/list.ts
  packages/crdt-loro/src/loro-runtime.browser.ts
  packages/crdt-loro/src/loro-runtime.node.ts
  packages/crdt-loro/src/map.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/object.ts
  packages/crdt-loro/src/text.ts
  packages/crdt-loro/src/tree.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-loro/tsconfig.node.build.json
  packages/crdt-loro/tsdown.browser.config.ts
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-loro/tsdown.node.config.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/tsconfig.json
  tests/e2e/tsconfig.json
  tests/e2e/vite.server.config.ts
Labels: none

chore: added changeset
  .changeset/great-feet-search.md
Labels: none

chore: swap e2e tests to use vite-node (#1278)
  .changeset/great-feet-search.md
  packages/crdt-loro/README.md
  packages/crdt-loro/package.json
  packages/crdt-loro/src/counter.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/src/doc/builder.ts
  packages/crdt-loro/src/list.ts
  packages/crdt-loro/src/loro-runtime.browser.ts
  packages/crdt-loro/src/loro-runtime.node.ts
  packages/crdt-loro/src/map.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/object.ts
  packages/crdt-loro/src/text.ts
  packages/crdt-loro/src/tree.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-loro/tsconfig.node.build.json
  packages/crdt-loro/tsdown.browser.config.ts
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-loro/tsdown.node.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/tsconfig.json
  tests/e2e/src/server/noop/node/tsconfig.json
  tests/e2e/src/server/tsconfig.json
  tests/e2e/src/server/yjs/node-redis/tsconfig.json
  tests/e2e/src/server/yjs/node/tsconfig.json
  tests/e2e/tsconfig.json
  tests/e2e/vite.server.config.ts
Labels: none

chore: bump deps
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/vite.server.config.ts
  tests/types/package.json
Labels: none

chore: bump deps (#1279)
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/vite.server.config.ts
  tests/types/package.json
Labels: none

fix(crdt-loro): fix multi-runtime compat
  packages/crdt-loro/README.md
  packages/crdt-loro/package.json
  packages/crdt-loro/src/loro-runtime.bundler.ts
  packages/crdt-loro/tsconfig.bundler.build.json
  packages/crdt-loro/tsdown.bundler.config.ts
  packages/crdt-loro/tsdown.config.ts
Labels: none

chore: added changeset
  .changeset/fix-crdt-loro-cloudflare-workers.md
Labels: none

fix(crdt-loro): multi runtime compat (#1281)
  .changeset/fix-crdt-loro-cloudflare-workers.md
  packages/crdt-loro/README.md
  packages/crdt-loro/package.json
  packages/crdt-loro/src/loro-runtime.bundler.ts
  packages/crdt-loro/tsconfig.bundler.build.json
  packages/crdt-loro/tsdown.bundler.config.ts
  packages/crdt-loro/tsdown.config.ts
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1283)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

docs: add v5 migration guide for platform-node request rename
  docs/api-reference/io.mdx
  docs/authorization.mdx
  docs/migration-guides/v5-breaking-changes.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

feat(platform-node): normalize init context to web Request
  .changeset/node-request-normalization.md
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/index.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-node/src/types.ts
  packages/platform-node/src/utils/index.ts
  packages/platform-node/src/utils/toRequest.ts
Labels: @pluv/platform-node

test(e2e): update node servers for request init context
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

fix: resolve typecheck failures in platform-node, crdt-loro, and e2e
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/utils/toRequest.ts
  tests/e2e/src/server/tsconfig.json
  tests/e2e/tsconfig.json
Labels: @pluv/platform-node

chore: fix loro tests
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/crdt-loro.d.ts
  tests/e2e/next.config.mjs
  tests/e2e/package.json
  tests/e2e/src/server/tsconfig.json
  tests/e2e/tsconfig.json
  tests/types/package.json
Labels: none

feat(io): authorize use web standard request (#1290)
  .changeset/node-request-normalization.md
  docs/api-reference/io.mdx
  docs/authorization.mdx
  docs/migration-guides/v5-breaking-changes.mdx
  docs/quickstart/nodejs.mdx
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/index.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-node/src/types.ts
  packages/platform-node/src/utils/index.ts
  packages/platform-node/src/utils/toRequest.ts
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/crdt-loro.d.ts
  tests/e2e/next.config.mjs
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/tsconfig.json
  tests/types/package.json
Labels: ðŸ“š documentation / examples, @pluv/platform-node

chore: support npm trusted publishing
  .github/workflows/release.yml
Labels: none

chore: support npm trusted publishing (#1292)
  .github/workflows/release.yml
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump node
  .node-version
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1300)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  apps/docs/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  apps/docs/package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix type errors
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/counter.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/src/doc/builder.ts
  packages/crdt-loro/src/list.ts
  packages/crdt-loro/src/loro-runtime.browser.ts
  packages/crdt-loro/src/loro-runtime.bundler.ts
  packages/crdt-loro/src/loro-runtime.node.ts
  packages/crdt-loro/src/map.ts
  packages/crdt-loro/src/movableList.ts
  packages/crdt-loro/src/object.ts
  packages/crdt-loro/src/text.ts
  packages/crdt-loro/src/tree.ts
  packages/crdt-loro/tsconfig.bundler.build.json
  packages/crdt-loro/tsconfig.json
  packages/crdt-loro/tsconfig.node.build.json
  packages/crdt-loro/tsdown.browser.config.ts
  packages/crdt-loro/tsdown.bundler.config.ts
  packages/crdt-loro/tsdown.node.config.ts
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
  packages/react/src/types.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
  tests/e2e/crdt-loro.d.ts
  tests/e2e/src/components/yjs/cloudflare/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/components/yjs/node/BlockNoteEditor/BlockNoteEditorInner.tsx
  tests/e2e/src/server/tsconfig.json
  tests/e2e/tsconfig.json
Labels: @pluv/client, @pluv/io, @pluv/react

chore: remove tsconfig baseUrl
  tests/e2e/src/server/tsconfig.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  apps/docs/package.json
  package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

fix(platform-pluv): fix workerd runtime crash
  packages/platform-pluv/src/shared/createHmac.ts
  packages/platform-pluv/src/shared/getCrypto.ts
Labels: none

chore: added changeset
  .changeset/fix-platform-pluv-workers-crypto.md
Labels: none

fix(platform-pluv): fix workerd crash (#1306)
  .changeset/fix-platform-pluv-workers-crypto.md
  packages/platform-pluv/src/shared/createHmac.ts
  packages/platform-pluv/src/shared/getCrypto.ts
Labels: none

chore: bump deps
  apps/docs/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none
