Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

feat: on storage destroyed (#1220)
  .changeset/witty-bobcats-lay.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/shared/index.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: bump jose major from 5 to 6
  package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: added changeset
  .changeset/solid-cycles-flash.md
Labels: none

chore: jose v6 (#1232)
  .changeset/solid-cycles-flash.md
  package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: update packages to be esm only
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/tsdown.config.ts
  packages/client/package.json
  packages/client/tsdown.config.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/tsdown.config.ts
  packages/crdt/package.json
  packages/crdt/tsdown.config.ts
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/io/tsdown.config.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-cloudflare-transactional-storage/tsdown.config.ts
  packages/persistence-redis/package.json
  packages/persistence-redis/tsdown.config.ts
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-node/tsdown.config.ts
  packages/platform-pluv/package.json
  packages/platform-pluv/tsdown.config.ts
  packages/pubsub-redis/package.json
  packages/pubsub-redis/tsdown.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/types/package.json
  packages/types/tsdown.config.ts
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/every-sites-add.md
Labels: none

chore: change target to esnext
  packages/tsconfig/library.json
Labels: none

tests: fix type tests
  tests/types/package.json
Labels: none

chore: set e2e tests to type module
  tests/e2e/package.json
Labels: none

chore: fix test dependency paths
  tests/e2e/tsconfig.json
Labels: none

chore: update node tsconfig
  packages/tsconfig/node.json
Labels: none

chore: update tsconfig
  packages/tsconfig/node.json
Labels: none

chore: update node tsconfig
  packages/tsconfig/node.json
Labels: none

chore: update typechecks
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/index.ts
Labels: none

chore: swap to vite-node
  pnpm-lock.yaml
  tests/e2e/next-env.d.ts
  tests/e2e/package.json
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

chore: fix test import
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

chore: swap to hono
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: none

chore: remove unused express dependencies
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: migrate to tsx
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: esm (#1233)
  .changeset/every-sites-add.md
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/tsdown.config.ts
  packages/client/package.json
  packages/client/tsdown.config.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/tsdown.config.ts
  packages/crdt/package.json
  packages/crdt/tsdown.config.ts
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/io/tsdown.config.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-cloudflare-transactional-storage/tsdown.config.ts
  packages/persistence-redis/package.json
  packages/persistence-redis/tsdown.config.ts
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-node/tsdown.config.ts
  packages/platform-pluv/package.json
  packages/platform-pluv/tsdown.config.ts
  packages/pubsub-redis/package.json
  packages/pubsub-redis/tsdown.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/tsconfig/library.json
  packages/tsconfig/node.json
  packages/types/package.json
  packages/types/tsdown.config.ts
  pnpm-lock.yaml
  tests/e2e/next-env.d.ts
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/tsconfig.json
  tests/types/package.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: bump slate
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: update slate test to documentation
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
Labels: none

chore: remove unnecessary conditional
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
Labels: none

chore: update slate editor to use provider
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump node
  .node-version
Labels: none

chore: bump blocknote
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix(tcrdt-yjs): update meta property to be more compatible
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
Labels: @pluv/crdt-yjs

chore: added changeset
  .changeset/long-ants-serve.md
Labels: none

chore: bump blocknote and update PluvYjsAwareness types (#1248)
  .changeset/long-ants-serve.md
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/awareness/PluvYjsAwareness.ts
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/crdt-yjs

feat(io): deprecate onDestroy
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: update changeset
  .changeset/witty-bobcats-lay.md
Labels: none

fix: fix deprecations
  .changeset/witty-bobcats-lay.md
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
Labels: @pluv/io

fix: fix deprecated encoded state
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
Labels: @pluv/io

feat(io): deprecate on destroy (#1249)
  .changeset/witty-bobcats-lay.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
Labels: @pluv/io

docs: update event handler changes
  docs/api-reference/io.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

docs: update event handler changes (#1250)
  docs/api-reference/io.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none
