Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat: added twin.macro
  apps/storybook/.storybook/main.js
  apps/storybook/babel.config.js
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/assets/code-brackets.svg
  apps/storybook/src/assets/colors.svg
  apps/storybook/src/assets/comments.svg
  apps/storybook/src/assets/direction.svg
  apps/storybook/src/assets/flow.svg
  apps/storybook/src/assets/plugin.svg
  apps/storybook/src/assets/repo.svg
  apps/storybook/src/assets/stackalt.svg
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/.babelrc
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  internal/react-components/.babelrc
  internal/react-components/package.json
  internal/react-components/src/GlobalStyles.tsx
  internal/react-components/src/index.ts
  pnpm-lock.yaml
Labels: none

feat: added twin.macro (#93)
  apps/storybook/.storybook/main.js
  apps/storybook/babel.config.js
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/assets/code-brackets.svg
  apps/storybook/src/assets/colors.svg
  apps/storybook/src/assets/comments.svg
  apps/storybook/src/assets/direction.svg
  apps/storybook/src/assets/flow.svg
  apps/storybook/src/assets/plugin.svg
  apps/storybook/src/assets/repo.svg
  apps/storybook/src/assets/stackalt.svg
  apps/storybook/src/react-components/molecules/Typist.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/.babelrc
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  internal/react-components/.babelrc
  internal/react-components/package.json
  internal/react-components/src/GlobalStyles.tsx
  internal/react-components/src/index.ts
  pnpm-lock.yaml
Labels: none

feat(web): completed first iteration of home hero
  apps/storybook/.storybook/preview-head.html
  apps/storybook/next-env.d.ts
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/types.d.ts
  apps/web/package.json
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/tsconfig.json
  apps/web/types.d.ts
  internal/react-components/src/atoms/PageContainer/PageContainer.tsx
  internal/react-components/src/atoms/PageContainer/index.ts
  internal/react-components/src/atoms/index.ts
  internal/react-components/src/index.ts
  internal/react-components/src/molecules/Typist/TypistCursor.tsx
  internal/react-components/src/molecules/Typist/index.ts
  internal/react-components/src/molecules/index.ts
  internal/react-components/tsconfig.json
  internal/react-components/types.d.ts
  internal/tailwind-config/tailwind.config.js
  internal/typings/.eslintrc.js
  internal/typings/package.json
  internal/typings/src/index.d.ts
  internal/typings/src/twin.d.ts
  internal/typings/src/ui.d.ts
  internal/typings/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(web): no-longer lazy load home-hero
  apps/web/src/pages/index.tsx
Labels: none

feat: home hero (#94)
  apps/storybook/.storybook/preview-head.html
  apps/storybook/next-env.d.ts
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/types.d.ts
  apps/web/package.json
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  apps/web/types.d.ts
  internal/react-components/src/atoms/PageContainer/PageContainer.tsx
  internal/react-components/src/atoms/PageContainer/index.ts
  internal/react-components/src/atoms/index.ts
  internal/react-components/src/index.ts
  internal/react-components/src/molecules/Typist/TypistCursor.tsx
  internal/react-components/src/molecules/Typist/index.ts
  internal/react-components/src/molecules/index.ts
  internal/react-components/tsconfig.json
  internal/react-components/types.d.ts
  internal/tailwind-config/tailwind.config.js
  internal/typings/.eslintrc.js
  internal/typings/package.json
  internal/typings/src/index.d.ts
  internal/typings/src/twin.d.ts
  internal/typings/src/ui.d.ts
  internal/typings/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: added react-code
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-code/PrismCode.stories.tsx
  apps/storybook/tailwind.config.js
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/src/pages/_document.tsx
  apps/web/tsconfig.json
  internal/react-code/.babelrc
  internal/react-code/.eslintrc.js
  internal/react-code/package.json
  internal/react-code/src/LaserWaveTheme.tsx
  internal/react-code/src/PrismCode.tsx
  internal/react-code/src/index.ts
  internal/react-code/tailwind.config.js
  internal/react-code/tsconfig.json
  internal/react-code/types.d.ts
  internal/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: added react-code (#95)
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-code/PrismCode.stories.tsx
  apps/storybook/tailwind.config.js
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/src/pages/_document.tsx
  apps/web/tsconfig.json
  internal/react-code/.babelrc
  internal/react-code/.eslintrc.js
  internal/react-code/package.json
  internal/react-code/src/LaserWaveTheme.tsx
  internal/react-code/src/PrismCode.tsx
  internal/react-code/src/index.ts
  internal/react-code/tailwind.config.js
  internal/react-code/tsconfig.json
  internal/react-code/types.d.ts
  internal/tailwind-config/tailwind.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: added changeset
  .changeset/great-ligers-accept.md
Labels: none

feat: added initial chess demo
  apps/storybook/public/tailwind.css
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/components/HomeHero.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeIntroSection/HomeIntroSection.tsx
  apps/web/src/components/HomeIntroSection/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  internal/react-chess/.babelrc
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/ChessMoveHistory.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/tailwind.config.js
  internal/react-chess/tsconfig.json
  internal/react-chess/types.d.ts
  internal/react-components/src/GlobalStyles.tsx
  internal/react-components/src/atoms/PageContainer/PageContainer.tsx
  internal/typings/src/ui.d.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
Labels: @pluv/react

chore: added changeset
  .changeset/modern-phones-pretend.md
Labels: none

feat: added initial home page chess demo
  .changeset/modern-phones-pretend.md
  apps/storybook/public/tailwind.css
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/components/HomeHero.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeHero/HomeHero.tsx
  apps/web/src/components/HomeIntroSection/HomeIntroSection.tsx
  apps/web/src/components/HomeIntroSection/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  internal/react-chess/.babelrc
  internal/react-chess/package.json
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/ChessMoveHistory.tsx
  internal/react-chess/src/index.ts
  internal/react-chess/tailwind.config.js
  internal/react-chess/tsconfig.json
  internal/react-chess/types.d.ts
  internal/react-components/src/GlobalStyles.tsx
  internal/react-components/src/atoms/PageContainer/PageContainer.tsx
  internal/typings/src/ui.d.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
Labels: @pluv/react

feat: styled chess board
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeIntroSection/HomeIntroSection.tsx
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/ChessMoveHistory.tsx
  pnpm-lock.yaml
Labels: none

feat: styled chess board (#102)
  apps/storybook/package.json
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-chess/ChessBoard.stories.tsx
  apps/web/src/components/HomeChessDemo/HomeChessDemo.tsx
  apps/web/src/components/HomeIntroSection/HomeIntroSection.tsx
  internal/react-chess/src/ChessBoard.tsx
  internal/react-chess/src/ChessMoveHistory.tsx
  pnpm-lock.yaml
Labels: none

feat: added progress for chess presence
  apps/storybook/public/tailwind.css
  apps/web/src/components/HomeChessDemo/useOtherSquares.ts
  apps/web/src/pages/index.tsx
  apps/web/src/pluv-io/cloudflare.ts
  internal/react-chess/src/ChessBoard.tsx
Labels: none

feat: added progress for chess presence (#103)
  apps/storybook/public/tailwind.css
  apps/web/src/components/HomeChessDemo/useOtherSquares.ts
  apps/web/src/pages/index.tsx
  apps/web/src/pluv-io/cloudflare.ts
  internal/react-chess/src/ChessBoard.tsx
Labels: none

chore: bumped deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/tough-beds-crash.md
Labels: none

Bump deps (#110)
  .changeset/tough-beds-crash.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(react-code): added MultiPrismCode
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-code/MultiPrismCode.stories.tsx
  internal/react-code/package.json
  internal/react-code/src/LaserWaveTheme.tsx
  internal/react-code/src/MultiPrismCode.tsx
  internal/react-code/src/PrismCode.tsx
  internal/react-code/src/index.ts
  pnpm-lock.yaml
Labels: none

feat(react-code): added MultiPrismCode (#111)
  apps/storybook/public/tailwind.css
  apps/storybook/src/react-code/MultiPrismCode.stories.tsx
  internal/react-code/package.json
  internal/react-code/src/LaserWaveTheme.tsx
  internal/react-code/src/MultiPrismCode.tsx
  internal/react-code/src/PrismCode.tsx
  internal/react-code/src/index.ts
  pnpm-lock.yaml
Labels: none

feat(crdt-yjs): renamed unstable__object to object
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/pluv-io/cloudflare.ts
  docs/crdt-storage.md
  docs/react-api.md
  packages/cli/template/base/src/components/ChatRoom.tsx
  packages/cli/template/base/src/pluv-io.ts
  packages/client/src/y.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt-yjs/src/object.ts
  packages/react/README.md
  tests/e2e/src/components/CloudflareStorageRoom.tsx
  tests/e2e/src/components/NodeRedisStorageRoom.tsx
  tests/e2e/src/components/NodeStorageRoom.tsx
  tests/e2e/src/pluv-io/cloudflare.ts
  tests/e2e/src/pluv-io/node-redis.ts
  tests/e2e/src/pluv-io/node.ts
Labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/react

chore: added changeset
  .changeset/grumpy-otters-beam.md
Labels: none

feat: renamed y.unstable__object to y.object (#112)
  .changeset/grumpy-otters-beam.md
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/pages/index.stories.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/pluv-io/cloudflare.ts
  docs/crdt-storage.md
  docs/react-api.md
  packages/cli/template/base/src/components/ChatRoom.tsx
  packages/cli/template/base/src/pluv-io.ts
  packages/client/src/y.ts
  packages/crdt-yjs/src/index.ts
  packages/crdt-yjs/src/object.ts
  packages/react/README.md
  tests/e2e/src/components/CloudflareStorageRoom.tsx
  tests/e2e/src/components/NodeRedisStorageRoom.tsx
  tests/e2e/src/components/NodeStorageRoom.tsx
  tests/e2e/src/pluv-io/cloudflare.ts
  tests/e2e/src/pluv-io/node-redis.ts
  tests/e2e/src/pluv-io/node.ts
Labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/react

chore: updated playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bumped wrangler
  apps/server-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

ci: bumped node to 18.x
  .github/workflows/e2e-tests.yml
Labels: none

chore: add natmap
  tests/e2e/src/server/node-redis/cluster.ts
Labels: none

chore: update hosts
  tests/e2e/src/server/node-redis/cluster.ts
Labels: none

chore: update host
  tests/e2e/src/server/node-redis/cluster.ts
Labels: none

ci: use locked redis-cluster image
  .github/workflows/e2e-tests.yml
  docker-compose.yml
Labels: none

ci: downgrade redis-cluster image
  .github/workflows/e2e-tests.yml
  docker-compose.yml
Labels: none

chore: updated playwright (#117)
  .github/workflows/e2e-tests.yml
  apps/server-cloudflare/package.json
  docker-compose.yml
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/node-redis/cluster.ts
Labels: none

added changeset
  .changeset/grumpy-items-drop.md
Labels: none

added changeset
  .changeset/quick-mayflies-chew.md
Labels: none

chore: fixed readme typos
  packages/io/README.md
Labels: @pluv/io

chore: added wip home chess demo
  apps/storybook/public/tailwind.css
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/src/web/components/HomeCodeDemo.stories.tsx
  apps/web/src/components/HomeCodeDemo/index.ts
  apps/web/src/components/index.ts
Labels: none

feat: integrated user demo with code demo
  apps/storybook/public/tailwind.css
  apps/storybook/src/web/components/HomeChessDemo.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoBox.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoBrowser.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoUserDemo.tsx
  apps/web/src/components/HomeCodeDemo/constants.ts
  apps/web/src/components/HomeCodeDemo/context.ts
  apps/web/tsconfig.json
  internal/react-hooks/package.json
  internal/react-hooks/src/useDrag.ts
  pnpm-lock.yaml
Labels: none

fix: fixed scrolling styles for internal react-code
  internal/react-code/src/MultiPrismCode.tsx
  internal/react-code/src/PrismCode.tsx
Labels: none

feat: added home-code-demo
  apps/storybook/public/tailwind.css
  apps/web/src/components/HomeCodeDemo/HomeCodeDemo.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoBox.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoBrowser.tsx
  apps/web/src/components/HomeCodeDemo/HomeCodeDemoUserDemo.tsx
  apps/web/src/components/HomeCodeDemo/context.ts
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useClickOutside.ts
  internal/react-hooks/src/useDrag.ts
Labels: none

feat: added useDrag to internal react-hooks
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useDrag.ts
Labels: none

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
