Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

fix(client): fix broadcast and event types
  packages/client/src/EventNotifier.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/client

chore: added changeset
  .changeset/heavy-bananas-argue.md
Labels: none

chore: revert deleted process types
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix(client): fix event types (#967)
  .changeset/heavy-bananas-argue.md
  packages/client/src/EventNotifier.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/client

chore: bump deps
  apps/server-cloudflare/package.json
  packages/crdt-loro/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#969)
  apps/server-cloudflare/package.json
  packages/crdt-loro/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(react): move @pluv/client to peer dependency
  packages/react/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/eager-owls-sin.md
Labels: none

fix(io): fix generic type default for router events
  packages/io/src/PluvIO.ts
Labels: @pluv/io

fix(io): fix default router generic types
  .changeset/odd-hotels-strive.md
Labels: none

fix(io): fix default router types (#971)
  .changeset/odd-hotels-strive.md
  packages/io/src/PluvIO.ts
Labels: @pluv/io

fix(client): fix over patching the user's own presence
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

chore: added changeset
  .changeset/fine-teeth-smell.md
Labels: none

fix(client): fix over patching my presence (#974)
  .changeset/fine-teeth-smell.md
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#976)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix workspace configs referencing stale modules
  .changeset/config.json
  pnpm-workspace.yaml
Labels: none

fix: fix workspace configs referencing stale modules (#978)
  .changeset/config.json
  pnpm-workspace.yaml
Labels: none

chore: bump deps
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: remove stale tailwindcss references in eslint config
  packages/eslint-config-pluv/index.js
Labels: none

chore: remove additional tailwind references
  .gitignore
  packages/eslint-config-pluv/index.js
Labels: none

chore: bump deps (#979)
  .gitignore
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/index.js
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(react): update MockedRoomContext to mirror PluvRoomContext type
  packages/react/src/createBundle.tsx
Labels: @pluv/react

chore: added changeset
  .changeset/cruel-feet-return.md
Labels: none

feat(react): update mocked room context (#980)
  .changeset/cruel-feet-return.md
  packages/react/src/createBundle.tsx
Labels: @pluv/react

fix(io): emit quitters on abnormal message
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: added changeset
  .changeset/free-steaks-tickle.md
Labels: none

fix(io): emit quitter on abnormal message (#982)
  .changeset/free-steaks-tickle.md
  packages/io/src/IORoom.ts
Labels: @pluv/io

feat: added more meaningful websocket error codes
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/deep-cameras-roll.md
Labels: none

feat: narrower websocket error codes (#983)
  .changeset/deep-cameras-roll.md
  packages/platform-cloudflare/src/CloudflareWebSocket.ts
  packages/platform-node/src/createPluvHandler.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

feat(client): improve reconnection handling
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

feat(client): export InferMetadata type
  packages/client/src/index.ts
  packages/client/src/types.ts
Labels: @pluv/client

feat(react): handle race conditions and update metadata handling
  packages/react/src/createBundle.tsx
  packages/react/src/internal/hooks/index.ts
  packages/react/src/internal/hooks/useAsyncQueue.ts
  packages/react/src/internal/index.ts
Labels: @pluv/react

chore: added changesets
  .changeset/bright-nights-read.md
  .changeset/gold-areas-brake.md
  .changeset/strong-banks-clean.md
  .changeset/wet-planes-invent.md
  .changeset/wicked-walls-attack.md
  .changeset/wide-pandas-give.md
Labels: none

feat(react): handle minimizing re-connects on deeply same metadata
  packages/react/src/createBundle.tsx
  packages/react/src/internal/hooks/index.ts
  packages/react/src/internal/hooks/useAsyncQueue.ts
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
  packages/react/src/internal/index.ts
Labels: @pluv/react

fix(react): fix initialization
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
Labels: @pluv/react

fix(react): fix infinitely triggering the effect
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
Labels: @pluv/react

fix(client): improve connection handling (#984)
  .changeset/bright-nights-read.md
  .changeset/gold-areas-brake.md
  .changeset/strong-banks-clean.md
  .changeset/wet-planes-invent.md
  .changeset/wicked-walls-attack.md
  .changeset/wide-pandas-give.md
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/react/src/createBundle.tsx
  packages/react/src/internal/hooks/index.ts
  packages/react/src/internal/hooks/useAsyncQueue.ts
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
  packages/react/src/internal/index.ts
Labels: @pluv/client, @pluv/react

chore: bump deps
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: @pluv/react
