Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat: added storage-state docs (#206)
  apps/web/src/inputs/docs/io/Storage State.mdx
Labels: none

feat: added node.js docs
  apps/web/scripts/generate-docs.ts
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/pages/docs/[[...slug]].tsx
Labels: none

feat: added node.js docs (#207)
  apps/web/scripts/generate-docs.ts
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
  apps/web/src/inputs/docs/io/Node.js.mdx
  apps/web/src/pages/docs/[[...slug]].tsx
Labels: none

feat: added favicons
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/browserconfig.xml
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  apps/web/public/mstile-144x144.png
  apps/web/public/mstile-150x150.png
  apps/web/public/mstile-310x150.png
  apps/web/public/mstile-310x310.png
  apps/web/public/mstile-70x70.png
  apps/web/public/safari-pinned-tab.svg
  apps/web/public/site.webmanifest
  apps/web/src/pages/_document.tsx
Labels: none

feat: added favicons (#208)
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/browserconfig.xml
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  apps/web/public/mstile-144x144.png
  apps/web/public/mstile-150x150.png
  apps/web/public/mstile-310x150.png
  apps/web/public/mstile-310x310.png
  apps/web/public/mstile-70x70.png
  apps/web/public/safari-pinned-tab.svg
  apps/web/public/site.webmanifest
  apps/web/src/pages/_document.tsx
Labels: none

feat: added create-client docs
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/client/Create Rooms.mdx
  apps/web/src/inputs/docs/client/meta.json
  apps/web/src/inputs/docs/io/Authorization.mdx
Labels: none

feat: added create-client docs (#210)
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/client/Create Rooms.mdx
  apps/web/src/inputs/docs/client/meta.json
  apps/web/src/inputs/docs/io/Authorization.mdx
Labels: none

feat: added api reference docs
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  apps/web/src/inputs/docs/client/API Reference.mdx
  internal/mdx-components/src/MdxBlockQuote.tsx
  internal/react-components/src/atoms/Seo/SeoMisc.tsx
Labels: none

feat: improve seo on hash generation
  internal/mdx-components/src/MdxHeader.tsx
Labels: none

feat: added api reference docs (#211)
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  apps/web/src/inputs/docs/client/API Reference.mdx
  internal/mdx-components/src/MdxBlockQuote.tsx
  internal/mdx-components/src/MdxHeader.tsx
  internal/react-components/src/atoms/Seo/SeoMisc.tsx
Labels: none

feat(client): return the connected room after PluvClient.enter
  packages/client/src/PluvClient.ts
Labels: @pluv/client

feat(client): change createRoom options to be optional
  packages/client/src/PluvClient.ts
Labels: @pluv/client

chore: added changesets
  .changeset/eleven-apricots-trade.md
  .changeset/five-maps-dance.md
Labels: none

chore: update changelog descriptions
  .changeset/eleven-apricots-trade.md
  .changeset/five-maps-dance.md
Labels: none

fix: fixed selection states on docs
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
Labels: none

feat: return room from PluvClient.createRoom (#212)
  .changeset/eleven-apricots-trade.md
  .changeset/five-maps-dance.md
  apps/web/src/components/DocsBreadcrumbs/DocsBreadcrumbs.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  packages/client/src/PluvClient.ts
Labels: @pluv/client

docs: updated client api reference docs to add missing getStorage
  apps/web/src/inputs/docs/client/API Reference.mdx
Labels: none

docs: updated client api reference docs to add missing getStorage (#213)
  apps/web/src/inputs/docs/client/API Reference.mdx
Labels: none

feat: de-emphasize unselected links
  internal/react-components/src/molecules/TableOfContents/TableOfContents.tsx
  internal/react-components/src/molecules/TreeView/TreeViewLink.tsx
  internal/react-components/src/molecules/TreeView/TreeViewList.tsx
Labels: none

feat: de-emphasize unselected links (#214)
  internal/react-components/src/molecules/TableOfContents/TableOfContents.tsx
  internal/react-components/src/molecules/TreeView/TreeViewLink.tsx
  internal/react-components/src/molecules/TreeView/TreeViewList.tsx
Labels: none

feat: updated broadcast to mirror client broadcast
  packages/io/src/IORoom.ts
Labels: @pluv/io

feat: update IORoom.room to IORoom.id
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: added changesets
  .changeset/brown-zebras-sort.md
  .changeset/flat-ducks-brake.md
Labels: none

feat: update doc table styles
  internal/mdx-components/src/MdxTable.tsx
Labels: none

docs: added api reference docs for io
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/io/API Reference.mdx
Labels: none

fix: fixed incorrectly selecting multiple, incorrect nav routes
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigation.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
Labels: none

feat: io api updates (#216)
  .changeset/brown-zebras-sort.md
  .changeset/flat-ducks-brake.md
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigation.tsx
  apps/web/src/components/DocsTreeViewNavigation/DocsTreeViewNavigationRoutes.tsx
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/io/API Reference.mdx
  internal/mdx-components/src/MdxTable.tsx
  packages/io/src/IORoom.ts
Labels: @pluv/io

docs: add missing createIO configs
  apps/web/src/inputs/docs/io/API Reference.mdx
Labels: none

docs: add missing createIO configs (#218)
  apps/web/src/inputs/docs/io/API Reference.mdx
Labels: none

chore: bumped dependencies
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/smart-elephants-walk.md
Labels: none

chore: bump deps (#219)
  .changeset/smart-elephants-walk.md
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fixed external link attributes
  internal/mdx-components/package.json
  internal/mdx-components/src/MdxA.tsx
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useNoSsr.ts
  pnpm-lock.yaml
Labels: none

docs: added react create-bundle docs
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/meta.json
Labels: none

fix: fixed broken link
  apps/web/src/inputs/docs/Quickstart.mdx
Labels: none

docs: create bundle docs (#221)
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/meta.json
  internal/mdx-components/package.json
  internal/mdx-components/src/MdxA.tsx
  internal/react-hooks/src/index.ts
  internal/react-hooks/src/useNoSsr.ts
  pnpm-lock.yaml
Labels: none

docs: added custom-events docs
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/io/Define Events.mdx
  apps/web/src/inputs/docs/react/Custom Events.mdx
  internal/mdx-components/src/MdxHeader.tsx
Labels: none

chore: added missing changeset
  .changeset/polite-readers-retire.md
Labels: none

docs: custom events docs (#222)
  .changeset/polite-readers-retire.md
  apps/web/src/inputs/docs/Quickstart.mdx
  apps/web/src/inputs/docs/client/Create Client.mdx
  apps/web/src/inputs/docs/io/Define Events.mdx
  apps/web/src/inputs/docs/react/Custom Events.mdx
  internal/mdx-components/src/MdxHeader.tsx
Labels: none

docs: added react create-rooms docs
  apps/web/src/inputs/docs/client/API Reference.mdx
  apps/web/src/inputs/docs/client/Create Rooms.mdx
  apps/web/src/inputs/docs/react/Create Bundle.mdx
  apps/web/src/inputs/docs/react/Create Rooms.mdx
Labels: none

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
