Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

docs: update docs
  docs/ecosystem.mdx
  docs/migration-guides/v3.mdx
Labels: ðŸ“š documentation / examples

docs: move create client
  docs/@pluv__client/create_rooms.mdx
  docs/api-reference/client.mdx
  docs/create-client.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__react/custom_events.mdx
  docs/api-reference/react.mdx
  docs/create-react-bundle.mdx
  docs/history.mdx
  docs/presence.mdx
Labels: ðŸ“š documentation / examples

docs: move auth docs
  docs/api-reference/client.mdx
  docs/api-reference/io.mdx
  docs/authorization.mdx
  docs/create-client.mdx
  docs/create-react-bundle.mdx
Labels: ðŸ“š documentation / examples

docs: update events docs
  docs/@pluv__client/define_events.mdx
  docs/@pluv__react/custom_events.mdx
  docs/api-reference/client.mdx
  docs/api-reference/io.mdx
  docs/api-reference/react.mdx
  docs/custom-events/client-events.mdx
  docs/custom-events/client-vs-server-events.mdx
  docs/custom-events/server-events.mdx
Labels: ðŸ“š documentation / examples

docs: update links
  docs/create-react-bundle.mdx
  docs/custom-events/client-events.mdx
  docs/custom-events/server-events.mdx
  docs/why_host_on_pluvio.mdx
Labels: ðŸ“š documentation / examples

docs: delete redundant doc
  docs/@pluv__react/custom_events.mdx
Labels: ðŸ“š documentation / examples

docs: move create rooms docs
  docs/@pluv__react/create_rooms.mdx
  docs/api-reference/client.mdx
  docs/create-client.mdx
  docs/create-react-bundle.mdx
  docs/create-rooms/client-rooms.mdx
  docs/create-rooms/react-rooms.mdx
Labels: ðŸ“š documentation / examples

docs: update breaking changes docs
  docs/migration-guides/v2-breaking-changes.mdx
  docs/migration-guides/v3-breaking-changes.mdx
Labels: ðŸ“š documentation / examples

fix(docs): fix titles
  docs/migration-guides/v2-breaking-changes.mdx
  docs/migration-guides/v3-breaking-changes.mdx
Labels: ðŸ“š documentation / examples

docs: update authorization note
  docs/authorization.mdx
Labels: ðŸ“š documentation / examples

docs: fix indentations
  docs/api-reference/io.mdx
  docs/authorization.mdx
  docs/create-client.mdx
  docs/create-react-bundle.mdx
  docs/custom-events/client-vs-server-events.mdx
  docs/ecosystem.mdx
  docs/migration-guides/v3-breaking-changes.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
  docs/storage/loading-storage.mdx
  docs/storage/using-loro.mdx
Labels: ðŸ“š documentation / examples

docs: fix indentations
  docs/api-reference/client.mdx
  docs/api-reference/react.mdx
Labels: ðŸ“š documentation / examples

docs: fix indentations
  docs/authorization.mdx
Labels: ðŸ“š documentation / examples

docs: fix indentation
  docs/storage/using-loro.mdx
Labels: ðŸ“š documentation / examples

docs: update slate docs
  docs/text-editors/slate.mdx
Labels: ðŸ“š documentation / examples

docs: update using yjs docs
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update yjs docs
  docs/storage/using-yjs.mdx
Labels: ðŸ“š documentation / examples

docs: update readme with yjs provider
  packages/io/README.md
Labels: @pluv/io

docs: update introduction
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: update features
  docs/introduction.mdx
  packages/io/README.md
Labels: ðŸ“š documentation / examples, @pluv/io

fix(platform-pluv): fix declaring the context on initialization
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/sour-maps-press.md
Labels: none

fix(platform-pluv): fix context derivation (#1129)
  .changeset/sour-maps-press.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): fix fetch not being provided server config
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/orange-ghosts-joke.md
Labels: none

fix(platform-pluv): fix fetch config (#1131)
  .changeset/orange-ghosts-joke.md
  packages/io/src/PluvServer.ts
Labels: @pluv/io

fix(io): fix fetch config validation
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

chore: added changeset
  .changeset/honest-papayas-sin.md
Labels: none

feat(io): fix fetch config validation (#1133)
  .changeset/honest-papayas-sin.md
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

feat(platform-pluv): added webhook debug logging
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

chore: added changeset
  .changeset/fresh-grapes-stop.md
Labels: none

feat(platform-pluv): added webhook logging (#1135)
  .changeset/fresh-grapes-stop.md
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
Labels: @pluv/io

feat(platform-pluv): added more webhook logging
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/flat-pets-wait.md
Labels: none

feat(platform-pluv): webhook logging (#1137)
  .changeset/flat-pets-wait.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

tests: update tests
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/types/src/types.test.tsx
Labels: none

feat: v3
  .prettierrc.js
  docs/migration-guides/v3-breaking-changes.mdx
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/src/object/YjsObject.ts
  packages/crdt-yjs/src/object/index.ts
  packages/crdt-yjs/src/object/object.ts
  packages/crdt-yjs/src/yjs.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/index.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-node/src/index.ts
  packages/types/src/pluv/room.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node/index.ts
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/crdt-yjs, @pluv/platform-cloudflare, @pluv/platform-node

tests: update tests
  tests/e2e/src/components/yjs/cloudflare/StorageRoom.tsx
  tests/e2e/src/components/yjs/node-redis/StorageRoom.tsx
  tests/e2e/src/components/yjs/node/StorageRoom.tsx
Labels: none

chore: added changesets
  .changeset/clever-rockets-stay.md
  .changeset/cuddly-jobs-decide.md
  .changeset/major-bees-rule.md
  .changeset/yellow-pans-laugh.md
Labels: none
