Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

fix: fix types
  internal/react-components/higher-order/withForwardRef.tsx
Labels: none

chore: bump deps (#731)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/higher-order/withForwardRef.tsx
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump loro
  packages/crdt-loro/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump loro (#732)
  packages/crdt-loro/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump nextjs-toploader
  pnpm-lock.yaml
Labels: none

chore: bump next-env
  apps/web/next-env.d.ts
Labels: none

chore: bump nextjs-toploader (#733)
  apps/web/next-env.d.ts
  pnpm-lock.yaml
Labels: none

fix(io): fix io procedure type
  packages/io/src/PluvProcedure.ts
Labels: @pluv/io

feat(client): add router and procedure helpers
  packages/client/src/PluvClient.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/types.ts
Labels: @pluv/client

fix: fix broken import
  packages/react/src/internal/hooks/useSyncExternalStoreWithSelector.ts
  packages/react/src/internal/index.ts
Labels: @pluv/react

feat(client): rearrange client and room config properties
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/client/src/index.ts
  packages/client/src/utils/identity.ts
  packages/client/src/utils/index.ts
Labels: @pluv/client

chore: add error
  packages/client/src/PluvRouter.ts
Labels: @pluv/client

feat(client): client-side router
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/enums.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/react/src/createBundle.tsx
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

chore: fix breaking changes
  apps/web/src/pluv-io/cloudflare.ts
  tests/e2e/src/demo/pluv.ts
  tests/e2e/src/pluv-io/loro/node.ts
  tests/e2e/src/pluv-io/noop/node.ts
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
Labels: none

chore: cleanup unused types
  packages/client/src/types.ts
Labels: @pluv/client

fix: fix test types
  apps/web/package.json
  tests/e2e/src/pluv-io/yjs/node-redis.ts
Labels: none

chore: update test action
  .github/workflows/e2e-tests.yml
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
Labels: none

ci: update test script
  .github/workflows/e2e-tests.yml
  package.json
Labels: none

fix: fix build
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
Labels: none

fix(client): fix client types
  packages/client/src/PluvRouter.ts
Labels: @pluv/client

fix: fix client router
  packages/client/src/PluvClient.ts
Labels: @pluv/client

fix: fix server events
  packages/io/src/PluvServer.ts
Labels: @pluv/io

test: add broadcast tests
  tests/e2e/next-env.d.ts
  tests/e2e/src/components/yjs/node/BroadcastRoom.tsx
  tests/e2e/src/components/yjs/node/index.ts
  tests/e2e/src/pages/yjs/node/broadcast/index.tsx
  tests/e2e/src/pages/yjs/node/index.tsx
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

fix: fix test selectors
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

fix: fix test selectors
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

chore: wait for connection-id
  tests/e2e/src/components/yjs/node/BroadcastRoom.tsx
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

chore: add delay
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

test: fix test assertions
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
Labels: none

docs: fix ws string
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
Labels: none

chore: added changesets
  .changeset/chilled-planes-dream.md
  .changeset/large-lamps-grab.md
  .changeset/real-bobcats-type.md
  .changeset/sharp-ligers-own.md
  .changeset/wise-bikes-speak.md
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#736)
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#737)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#738)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

docs: update docs with breaking changes
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/History.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
Labels: none

docs: update docs with breaking changes (#739)
  apps/web/src/inputs/docs/2--Quickstart.mdx
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Client.mdx
  apps/web/src/inputs/docs/@pluv_client/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Bundle.mdx
  apps/web/src/inputs/docs/@pluv_react/Create Rooms.mdx
  apps/web/src/inputs/docs/@pluv_react/History.mdx
  apps/web/src/inputs/docs/@pluv_react/Presence.mdx
  apps/web/src/inputs/docs/@pluv_react/Yjs Storage.mdx
Labels: none

docs: update client docs
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
Labels: none

docs: update client docs (#740)
  apps/web/src/inputs/docs/@pluv_client/API Reference.mdx
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
