Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

feat(io): update event names to follow new convention
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/io

chore: added changeset
  .changeset/upset-hats-write.md
Labels: none

feat(io): update event names (#924)
  .changeset/upset-hats-write.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#926)
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix(platform-cloudflare): fix auto-response for ws ping pong
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/platform-cloudflare

chore: added changeset
  .changeset/itchy-ads-type.md
Labels: none

fix(platform cloudflare): fix auto ws response (#928)
  .changeset/itchy-ads-type.md
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/platform-cloudflare

feat(io): enforce valid event names
  packages/io/src/PluvRouter.ts
Labels: @pluv/io

chore: added changeset
  .changeset/violet-files-scream.md
Labels: none

feat(client): enforce valid event names
  packages/client/src/PluvRouter.ts
Labels: @pluv/client

chore: added changeset
  .changeset/yellow-dingos-train.md
Labels: none

feat(io): valid event names (#930)
  .changeset/violet-files-scream.md
  packages/io/src/PluvRouter.ts
Labels: @pluv/io

feat(client): valid event names (#931)
  .changeset/yellow-dingos-train.md
  packages/client/src/PluvRouter.ts
Labels: @pluv/client

feat: disallow dollar characters in event name
  packages/client/src/PluvClient.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/client, @pluv/io

chore: added changeset
  .changeset/polite-toes-dress.md
Labels: none

fix(io): fix missing fn
  packages/io/src/PluvIO.ts
Labels: @pluv/io

feat: disallow dollar character (#933)
  .changeset/polite-toes-dress.md
  packages/client/src/PluvClient.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/client, @pluv/io

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#937)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix(platform-pluv): fix webhook validation
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/constants.ts
Labels: none

chore: added changeset
  .changeset/brown-lions-matter.md
Labels: none

fix(platform-pluv): webhook signature validation (#938)
  .changeset/brown-lions-matter.md
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/constants.ts
Labels: none

chore: bump deps
  apps/storybook/package.json
  internal/react-components/package.json
  pnpm-lock.yaml
Labels: none

fix(platform-pluv): fix undefined event context
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
Labels: @pluv/io

chore: added changeset
  .changeset/mighty-rats-start.md
Labels: none

fix(platform-pluv): undefined event context (#940)
  .changeset/mighty-rats-start.md
  packages/io/src/PluvServer.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
Labels: @pluv/io

fix(platform-pluv): fix undefined event calls
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/tiny-files-invite.md
Labels: none

fix(platform-pluv): fix undefined event call (#942)
  .changeset/tiny-files-invite.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): fix undefined event call again
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/proud-gifts-boil.md
Labels: none

fix(platform-pluv): undefined event call again (#944)
  .changeset/proud-gifts-boil.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): fix disconnect event triggering on connect event
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/gold-schools-relax.md
Labels: none

fix(platform-pluv): fix disconnect event trigger (#946)
  .changeset/gold-schools-relax.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): updated event handlers to provide richer responses
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/funny-swans-lick.md
Labels: none

feat(platform-pluv): update error response payload
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none
