Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: add changeset
  .changeset/config.json
  .changeset/three-rivers-kiss.md
Labels: none

chore: add changeset (#1)
  .changeset/config.json
  .changeset/three-rivers-kiss.md
Labels: none

chore: fixed checkbox styles on readme for npm
  packages/io/README.md
Labels: @pluv/io

chore: fixed checkbox styles on readme for npm (#3)
  packages/io/README.md
Labels: @pluv/io

feat(io): support for setting the initial storage from external source
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
Labels: @pluv/client, @pluv/io

chore: added changeset
  .changeset/clever-pets-marry.md
  .changeset/neat-dodos-jump.md
Labels: none

feat(io): support for setting the initial storage from external source (#4)
  .changeset/clever-pets-marry.md
  .changeset/neat-dodos-jump.md
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
Labels: @pluv/client, @pluv/io

feat(io): support for room listeners to get storage states
  CONTRIBUTING.md
  packages/io/src/AbstractPersistance.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/persistance-redis/src/PersistanceRedis.ts
Labels: @pluv/io, @pluv/persistance-redis

chore: added changeset
  .changeset/flat-icons-serve.md
Labels: none

fix(io): fix missing getSize in base persistance
  packages/io/src/Persistance.ts
Labels: @pluv/io

feat(io): support for room listeners to get storage states (#6)
  .changeset/flat-icons-serve.md
  CONTRIBUTING.md
  packages/io/src/AbstractPersistance.ts
  packages/io/src/IORoom.ts
  packages/io/src/Persistance.ts
  packages/io/src/PluvIO.ts
  packages/persistance-redis/src/PersistanceRedis.ts
Labels: @pluv/io, @pluv/persistance-redis

fix(io): fixed not being able to set listeners on createIO
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
Labels: @pluv/io

fix(io): fixed not being able to set listeners on createIO (#7)
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
Labels: @pluv/io

feat(io): renamed onStorageChanged to onStorageUpdated
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
Labels: @pluv/io

feat(io): renamed onStorageChanged to onStorageUpdated (#8)
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
Labels: @pluv/io

docs(io): added documentation for createIO
  docs/create-io-api.md
Labels: ğŸ“š documentation / examples

docs(io): added documentation for createIO (#9)
  docs/create-io-api.md
Labels: ğŸ“š documentation / examples

chore: bumped dependencies
  apps/server-node/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bumped dependencies (#10)
  apps/server-node/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/rich-carrots-return.md
Labels: none

chore: added changeset (#12)
  .changeset/rich-carrots-return.md
Labels: none

chore: fixed links on readmes
  packages/crdt-yjs/README.md
  packages/io/README.md
Labels: @trpc/crdt-yjs, @pluv/io

chore: added changeset
  .changeset/brown-stingrays-design.md
Labels: none

Updated readme links (#13)
  .changeset/brown-stingrays-design.md
  packages/crdt-yjs/README.md
  packages/io/README.md
Labels: @trpc/crdt-yjs, @pluv/io

ci: exclude renovate in auto-assign workflow
  .github/auto-assign.yml
Labels: none

ci: exclude renovate in auto-assign workflow (#15)
  .github/auto-assign.yml
Labels: none

docs: updated readme doc links and added why section
  packages/io/README.md
Labels: @pluv/io

chore: added changeset
  .changeset/modern-carrots-develop.md
Labels: none

Add missing doc links (#16)
  .changeset/modern-carrots-develop.md
  packages/io/README.md
Labels: @pluv/io

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate config
  renovate.json
Labels: none

chore: update renovate to not be auto-assigned in pull requests
  .github/auto-assign.yml
  renovate.json
Labels: none

chore: update renovate to not be auto-assigned in pull requests (#21)
  .github/auto-assign.yml
  renovate.json
Labels: none

chore: added kodiak
  .kodiak.toml
Labels: none

chore: added kodiak (#22)
  .kodiak.toml
Labels: none

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
