Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/weak-panthers-kick.md
Labels: none

fix: fix uninitialization not correction resetting the room
  packages/io/src/IORoom.ts
Labels: @pluv/io

fix: io room delete (#279)
  .changeset/weak-panthers-kick.md
  .gitignore
  apps/server-cloudflare/package.json
  apps/web/.env
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/io

feat: continue to update yjs doc while disconnected
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/tsconfig/frontend-generic.json
Labels: @pluv/client

chore: added changeset
  .changeset/rare-goats-exist.md
  .changeset/rich-balloons-work.md
Labels: none

fix: fix build errors
  packages/client/package.json
  packages/client/src/PluvClient.ts
  pnpm-lock.yaml
Labels: @pluv/client

fix: local crdt updates (#281)
  .changeset/rare-goats-exist.md
  .changeset/rich-balloons-work.md
  packages/client/package.json
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/tsconfig/frontend-generic.json
  pnpm-lock.yaml
Labels: @pluv/client

feat: set targets back to es6
  packages/tsconfig/frontend-generic.json
  packages/tsconfig/library.json
  packages/tsconfig/react-library.json
Labels: none

chore: added changeset
  .changeset/stale-houses-sip.md
Labels: none

chore: remove unnecessary dependency
  packages/client/package.json
  pnpm-lock.yaml
Labels: none

feat: es6 targets (#283)
  .changeset/stale-houses-sip.md
  packages/client/package.json
  packages/tsconfig/frontend-generic.json
  packages/tsconfig/library.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
Labels: none

feat: update presence updates
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/eleven-ways-flow.md
Labels: none

feat: remove myself check
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat: temporarily disable observers
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

feat: uncomment presence subscriptions
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat: only emit to myself subscriptions if exists
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat: use updateMyPresence in usePluvMyPresence
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/react/src/createRoomBundle.tsx
Labels: @pluv/client, @pluv/react

feat: preserve my presence when disconnected
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

fix: fix synced external store equality checking
  packages/client/src/UsersManager.ts
  pnpm-lock.yaml
  tests/e2e/next.config.mjs
  tests/e2e/package.json
  tests/e2e/tsconfig.json
Labels: @pluv/client

feat: preserve my presence (#287)
  .changeset/eleven-ways-flow.md
  packages/client/src/AbstractRoom.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/react/src/createRoomBundle.tsx
  pnpm-lock.yaml
  tests/e2e/next.config.mjs
  tests/e2e/package.json
  tests/e2e/tsconfig.json
Labels: @pluv/client, @pluv/react

chore: added changeset
  .changeset/great-chicken-rest.md
Labels: none

refactor: refactored io ws handlers
  packages/io/src/IORoom.ts
Labels: @pluv/io

refactor: refactored io ws handlers (#293)
  packages/io/src/IORoom.ts
Labels: @pluv/io

feat: use existing presence of reconnected user
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/io

chore: added changeset
  .changeset/slow-pears-mix.md
Labels: none

feat: use existing presence of reconnected user (#294)
  .changeset/slow-pears-mix.md
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/types/src/pluv.ts
Labels: @pluv/client, @pluv/io

fix: fixed content overflow
  apps/web/src/components/DocsLayout/DocsLayout.tsx
Labels: none

fix: fixed mobile features sizing
  apps/web/src/components/HomeFeaturesSection/HomeFeaturesSection.tsx
Labels: none

fix: fixed tab flex shrink
  internal/react-code/src/MultiPrismCode.tsx
Labels: none

fix: hide code tooltips on mobile
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoClient.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoClientToken.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServer.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServerToken.tsx
  internal/react-code/package.json
  internal/react-code/src/CodeTooltip.tsx
  pnpm-lock.yaml
Labels: none

feat: ui fixes (#296)
  apps/web/src/components/DocsLayout/DocsLayout.tsx
  apps/web/src/components/HomeFeaturesSection/HomeFeaturesSection.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoClient.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoClientToken.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServer.tsx
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServerToken.tsx
  internal/react-code/package.json
  internal/react-code/src/CodeTooltip.tsx
  internal/react-code/src/MultiPrismCode.tsx
  pnpm-lock.yaml
Labels: none

fix: fixed reconnecting with heartbeat
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix: fixed reconnecting with heartbeat (#297)
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat: allow multiple output types per event
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/types.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

chore: bumped deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/tough-dancers-sing.md
Labels: none

fix: resolve breaking changes
  internal/react-code/src/MultiPrismCode.tsx
  internal/react-code/src/PrismCode.tsx
Labels: none

fix: fix indent
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServer.tsx
Labels: none

chore: bumped deps (#301)
  .changeset/tough-dancers-sing.md
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  apps/web/src/components/HomeTypeSafetyDemo/HomeTypeSafetyDemoServer.tsx
  internal/mdx-components/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-code/src/MultiPrismCode.tsx
  internal/react-code/src/PrismCode.tsx
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
