Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat(client): auto add missing user on presence (#1025)
  .changeset/curvy-bats-sing.md
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
Labels: @pluv/client

refactor(types): simplify event types
  packages/io/src/PluvServer.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

refactor(types): simplify event types (#1027)
  packages/io/src/PluvServer.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

fix: fix presence becoming partial and failing validation
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/pickBy.ts
  packages/io/src/PluvServer.ts
  packages/io/src/utils/index.ts
  packages/io/src/utils/pickBy.ts
Labels: @pluv/client, @pluv/io

fix(client): ensure presence is not partial
  packages/client/src/UsersManager.ts
Labels: @pluv/client

chore: use default
  packages/client/src/UsersManager.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/io

chore: clean presence
  packages/client/src/PluvRoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/io

chore: move patch presence
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/beige-carrots-fold.md
Labels: none

fix: fix presence validation (#1028)
  .changeset/beige-carrots-fold.md
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/pickBy.ts
  packages/io/src/PluvServer.ts
  packages/io/src/utils/index.ts
  packages/io/src/utils/pickBy.ts
Labels: @pluv/client, @pluv/io

feat(platform-pluv): allow functions to lazily create api keys
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/pretty-pets-post.md
Labels: none

feat(platform-pluv): lazy keys (#1030)
  .changeset/pretty-pets-post.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(client): fix missing ws endpoint error appearing with public key
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/nine-suns-glow.md
Labels: none

fix(client): fix ws endpoint error (#1032)
  .changeset/nine-suns-glow.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix(client): fix wsEndpoint error
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix(client): fixed error about missing wsEndpoint
  .changeset/small-terms-join.md
Labels: none

fix(client): fix ws endpoint error (#1034)
  .changeset/small-terms-join.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(platform-pluv): allow for function endpoints
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/easy-emus-wear.md
Labels: none

feat(platform-pluv): allow function endpoints (#1036)
  .changeset/easy-emus-wear.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): fix default create token endpoint
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/dry-glasses-relate.md
Labels: none

fix(platform-pluv): fix default create token endpoint (#1038)
  .changeset/dry-glasses-relate.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1042)
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(persistence-cloudflare-transactional-storage): add sqlite support
  packages/io/src/AbstractPersistence.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/castNumber.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/index.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/sql.ts
  packages/persistence-redis/src/PersistenceRedis.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node

fix: fix persistence initialize
  packages/io/src/Persistence.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/io, @pluv/platform-cloudflare

fix: fix creating redundant index
  .changeset/gentle-pugs-dig.md
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
Labels: @pluv/persistence-cloudflare-transactional-storage

tests: update tests for cloudflare kv and sqlite
  pnpm-lock.yaml
  tests/e2e/cf.d.ts
  tests/e2e/package.json
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/RoomKVDurableObject.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/RoomSQLiteDurableObject.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/index.ts
  tests/e2e/src/server/yjs/cloudflare/index.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/kv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/cloudflare/tsconfig.json
  tests/e2e/src/server/yjs/cloudflare/typings.d.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/tsconfig.json
  tests/e2e/wrangler.jsonc
  tests/e2e/wrangler.toml
Labels: none

chore: set default mode to sqlite
  packages/platform-cloudflare/src/CloudflarePlatform.ts
Labels: @pluv/platform-cloudflare

chore: update changeset
  .changeset/gentle-pugs-dig.md
Labels: none

chore: update changeset
  .changeset/gentle-pugs-dig.md
Labels: none

feat(persistence-cloudflare-transactional-storage): add sqlite support (#1043)
  .changeset/gentle-pugs-dig.md
  packages/io/src/AbstractPersistence.ts
  packages/io/src/Persistence.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/castNumber.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/index.ts
  packages/persistence-cloudflare-transactional-storage/src/utils/sql.ts
  packages/persistence-redis/src/PersistenceRedis.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  pnpm-lock.yaml
  tests/e2e/cf.d.ts
  tests/e2e/package.json
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/RoomKVDurableObject.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/RoomSQLiteDurableObject.ts
  tests/e2e/src/server/yjs/cloudflare/durable-objects/index.ts
  tests/e2e/src/server/yjs/cloudflare/index.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/kv.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/cloudflare/tsconfig.json
  tests/e2e/src/server/yjs/cloudflare/typings.d.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/tsconfig.json
  tests/e2e/wrangler.jsonc
  tests/e2e/wrangler.toml
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node

feat(io): emit sync state when garbage collected
  packages/io/src/IORoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

chore: added changeset
  .changeset/tiny-moles-worry.md
Labels: none

feat(io): emit sync state when garbage collected (#1045)
  .changeset/tiny-moles-worry.md
  packages/io/src/IORoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

feat: getUsers from persistence now returns a map instead of an array
  packages/io/src/AbstractPersistence.ts
  packages/io/src/IORoom.ts
  packages/io/src/Persistence.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
  packages/persistence-redis/src/utils/index.ts
  packages/persistence-redis/src/utils/partitionByLength.ts
  packages/types/src/pluv.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis

chore: added changeset
  .changeset/khaki-spiders-cover.md
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
