Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

fix: fix dependency
  packages/platform-pluv/package.json
  pnpm-lock.yaml
Labels: none

fix: fix types
  apps/web/src/components/MdxPre/MdxPre.tsx
Labels: none

chore: hack types
  internal/react-components/client/atoms/AppBar/AppBar.tsx
Labels: none

fix: fix types
  internal/react-components/client/atoms/Form/Form.tsx
Labels: none

chore: sort imports
  internal/react-components/client/atoms/Form/Form.tsx
Labels: none

chore: hack types
  internal/react-components/client/molecules/TreeView/TreeViewList.tsx
Labels: none

feat(crdt-loro): require peer loro-crdt@^1
  packages/crdt-loro/package.json
Labels: none

chore: added changeset
  .changeset/popular-cooks-divide.md
Labels: none

feat(crdt-loro): require loro 1.0 (#826)
  .changeset/popular-cooks-divide.md
  packages/crdt-loro/package.json
Labels: none

feat(react): allow peer react@^19.0.0
  packages/react/package.json
Labels: none

chore: added changeset
  .changeset/twenty-fireants-build.md
Labels: none

feat(react): allow react19 (#827)
  .changeset/twenty-fireants-build.md
  packages/react/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#828)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: move docs
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/history.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/ecosystem.mdx
  docs/introduction.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

feat: move docs (#829)
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/history.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/ecosystem.mdx
  docs/introduction.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

docs: added introduction frontmatter
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: added introduction frontmatter (#830)
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: added other frontmatters
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/history.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/ecosystem.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

docs: added other frontmatters (#831)
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/client_vs_server_events.mdx
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/nodejs.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/history.mdx
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/yjs_storage.mdx
  docs/ecosystem.mdx
  docs/quickstart.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/cli/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#832)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/cli/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
Labels: none

fix(io): fix not emitting onUserDisconnected event
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: added changeset
  .changeset/poor-flies-report.md
Labels: none

fix(io): fix not emitting onUserDisconnected event (#833)
  .changeset/poor-flies-report.md
  packages/io/src/IORoom.ts
Labels: @pluv/io

feat: unify pluv platform
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/createIO.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

fix: fix type inference
  apps/web/package.json
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/types/src/general.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
  pnpm-lock.yaml
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: add changesets
  .changeset/friendly-bears-move.md
  .changeset/stale-cobras-deny.md
Labels: none

feat: unify pluv platform (#835)
  .changeset/friendly-bears-move.md
  .changeset/stale-cobras-deny.md
  apps/web/package.json
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/createIO.ts
  packages/platform-pluv/src/index.ts
  packages/platform-pluv/src/platformPluv.ts
  packages/platform-pluv/src/types.ts
  packages/types/src/general.ts
  packages/types/src/index.ts
  packages/types/src/pluv.ts
  pnpm-lock.yaml
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#838)
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix type errors
  internal/react-components/client/atoms/ErrorBoundary/ErrorBoundary.tsx
Labels: none

fix: fix type errors
  internal/react-components/client/atoms/ErrorBoundary/ErrorBoundary.tsx
Labels: none

chore: bump deps (#839)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/client/atoms/ErrorBoundary/ErrorBoundary.tsx
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix(platform-pluv): fix authorize config validation
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

fix(platform-pluv): fix authorize config validation (#840)
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: delete unused import
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: delete unused import (#841)
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

feat(io): improve resolver context session type
  packages/io/src/IORoom.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/types.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io.ts
Labels: @pluv/io
