Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: bump nextjs-toploader
  internal/react-components/package.json
  pnpm-lock.yaml
Labels: none

chore: bump nextjs-toploader (#782)
  internal/react-components/package.json
  pnpm-lock.yaml
Labels: none

feat(io): add ability to evict connections from rooms
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: added changeset
  .changeset/cool-papayas-flow.md
Labels: none

feat(io): room evict (#783)
  .changeset/cool-papayas-flow.md
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/utils/package.json
  packages/crdt-yjs/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#784)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/utils/package.json
  packages/crdt-yjs/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: add support for adding metadata to room contexts
  package.json
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/clever-countries-look.md
Labels: none

feat: room meta context (#785)
  .changeset/clever-countries-look.md
  package.json
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#787)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix meta type to allow nested json
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/friendly-ghosts-drum.md
Labels: none

fix: fix meta type to allow nested json (#788)
  .changeset/friendly-ghosts-drum.md
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/platformNode.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

fix(platform-pluv): fix webhook event payload
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: added changeset
  .changeset/cuddly-trainers-sort.md
Labels: none

fix(platform pluv): fix events (#791)
  .changeset/cuddly-trainers-sort.md
  packages/platform-pluv/src/PluvIO.ts
Labels: none

feat(io): add event listeners for user connections
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvIO.ts
Labels: @pluv/io

chore: added changeset
  .changeset/pretty-trains-kiss.md
Labels: none

feat(io): user connection events (#793)
  .changeset/pretty-trains-kiss.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvIO.ts
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#794)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(platform-pluv): connect user connection events
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/schemas.ts
Labels: none

chore: added changeset
  .changeset/pretty-yaks-grow.md
Labels: none

feat(platform-pluv): connect user connection events (#795)
  .changeset/pretty-yaks-grow.md
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/schemas.ts
Labels: none

feat(platform-pluv): add webhook validation
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/constants.ts
  packages/platform-pluv/src/shared/createHmac.ts
  packages/platform-pluv/src/shared/getCrypto.ts
  packages/platform-pluv/src/shared/index.ts
  packages/platform-pluv/src/shared/signWebhook.ts
  packages/platform-pluv/src/shared/timingSafeEqual.ts
  packages/platform-pluv/src/shared/verifyWebhook.ts
Labels: none

chore: added changeset
  .changeset/tough-crabs-buy.md
Labels: none

chore: move getInitialStorage to be behind a webhook secret as well
  packages/platform-pluv/src/PluvIO.ts
Labels: none

feat(platform-pluv): add webhook validation (#796)
  .changeset/tough-crabs-buy.md
  packages/platform-pluv/src/PluvIO.ts
  packages/platform-pluv/src/constants.ts
  packages/platform-pluv/src/shared/createHmac.ts
  packages/platform-pluv/src/shared/getCrypto.ts
  packages/platform-pluv/src/shared/index.ts
  packages/platform-pluv/src/shared/signWebhook.ts
  packages/platform-pluv/src/shared/timingSafeEqual.ts
  packages/platform-pluv/src/shared/verifyWebhook.ts
Labels: none

feat(platform-pluv): expose schemas
  packages/platform-pluv/src/index.ts
Labels: none

chore: added changeset
  .changeset/silent-coins-hammer.md
Labels: none

feat(platform-pluv): expose schemas (#797)
  .changeset/silent-coins-hammer.md
  packages/platform-pluv/src/index.ts
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#799)
  package.json
Labels: none

feat(io): expose context on getInitialStorage event
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvIO.ts
Labels: @pluv/io

docs: update getInitialStorage in docs
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
Labels: none

chore: added changeset
  .changeset/cyan-jeans-tap.md
Labels: none

feat(io): get initial storage context (#800)
  .changeset/cyan-jeans-tap.md
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-pluv/src/PluvIO.ts
Labels: @pluv/io

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
