Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š documentation / examples, pluv, @pluv/client, @trpc/crdt-yjs, @pluv/io, @pluv/persistance-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

feat: platform contexts (#340)
  .changeset/fifty-olives-glow.md
  internal/tailwind-config/tailwind.config.js
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/node-redis/index.ts
  tests/e2e/src/server/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: bumped dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bumped dependencies (#342)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistance-redis/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat: rename initialStorage to getInitialStorage, add platform context
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  tests/e2e/src/server/node/pluv-io.ts
Labels: @pluv/io

chore: added changeset
  .changeset/quiet-flies-burn.md
Labels: none

feat: new io initial storage (#345)
  .changeset/quiet-flies-burn.md
  packages/io/src/PluvIO.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  tests/e2e/src/server/node/pluv-io.ts
Labels: @pluv/io

feat: update cli template
  packages/cli/template/base/package.json
  packages/cli/template/base/src/pluv-io.ts
  packages/cli/template/base/src/server/index.ts
  packages/cli/template/base/src/server/pluv-io.ts
  pnpm-lock.yaml
Labels: pluv

feat: update cli template (#348)
  packages/cli/template/base/package.json
  packages/cli/template/base/src/pluv-io.ts
  packages/cli/template/base/src/server/index.ts
  packages/cli/template/base/src/server/pluv-io.ts
  pnpm-lock.yaml
Labels: pluv

chore: add missing changeset
  .changeset/famous-turtles-smoke.md
Labels: none

chore: add missing changeset (#349)
  .changeset/famous-turtles-smoke.md
Labels: none

chore: remove unused dependencies
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  pnpm-lock.yaml
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#351)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  internal/cloudflare-utils/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

docs: updated api references
  apps/web/src/inputs/docs/io/API Reference.mdx
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
Labels: none

docs: updated api references (#355)
  apps/web/src/inputs/docs/io/API Reference.mdx
  apps/web/src/inputs/docs/io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/io/Loading Storage.mdx
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix type errors
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-node

fix: fix type errors
  internal/mdx-components/src/MdxA.tsx
  internal/mdx-components/src/MdxCode.tsx
  internal/mdx-components/src/MdxH1.tsx
  internal/mdx-components/src/MdxH2.tsx
  internal/mdx-components/src/MdxH3.tsx
  internal/mdx-components/src/MdxH4.tsx
  internal/mdx-components/src/MdxH5.tsx
  internal/mdx-components/src/MdxH6.tsx
  internal/mdx-components/src/MdxHeader.tsx
  internal/mdx-components/src/MdxImg.tsx
  internal/mdx-components/src/MdxLi.tsx
  internal/mdx-components/src/MdxOl.tsx
  internal/mdx-components/src/MdxP.tsx
  internal/mdx-components/src/MdxPre.tsx
  internal/mdx-components/src/MdxTable.tsx
  internal/mdx-components/src/MdxUl.tsx
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#365)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/cloudflare-utils/package.json
  internal/mdx-components/package.json
  internal/rainfall/package.json
  internal/react-chess/package.json
  internal/react-code/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/tailwind-config/package.json
  internal/typings/package.json
  internal/utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistance-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added wip addon-indexeddb
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/src/IndexedDBStorage.ts
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/addon-indexeddb/src/index.ts
  packages/client/src/AbstractStorageStore.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/StorageStore.ts
  packages/client/src/index.ts
  packages/client/src/utils/debounce.ts
  packages/client/src/utils/index.ts
  packages/crdt-yjs/src/doc.ts
  packages/io/.eslintrc.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io

feat: add indexeddb addon
  packages/addon-indexeddb/src/IndexedDBStorage.ts
  packages/client/src/AbstractStorageStore.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-yjs/src/doc.ts
Labels: @pluv/client, @trpc/crdt-yjs

feat: attempt fix tests
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-yjs/src/doc.ts
  packages/io/src/PluvIO.ts
Labels: @pluv/client, @trpc/crdt-yjs, @pluv/io

fix: attempt fix storage
  .gitignore
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  tests/e2e/package.json
Labels: @pluv/client

feat: update storage store handling
  packages/addon-indexeddb/.eslintrc.js
  packages/addon-indexeddb/src/IndexedDBStorage.ts
  packages/addon-indexeddb/src/addonIndexedDB.ts
  packages/addon-indexeddb/src/index.ts
  packages/addon-indexeddb/tsconfig.json
  packages/client/src/AbstractStorageStore.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/StorageStore.ts
  packages/client/src/index.ts
Labels: @pluv/client

.github/labeler.yml:

'ğŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@trpc/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistance-redis':
  - any: ['packages/persistance-redis/**', '!packages/persistance-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
