Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: bump lexical
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump lexical (#1251)
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore(types): added optional check type
  packages/types/src/general.ts
  packages/types/src/index.ts
Labels: none

feat: remove room listeners and fix types
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/types.ts
  packages/types/src/general.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/index.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
  tests/types/src/types.test.tsx
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: update changesets
  .changeset/witty-bobcats-lay.md
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/api-reference/io.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
  docs/storage/loading-storage.mdx
Labels: ðŸ“š documentation / examples

feat(platform-pluv): update listeners to match other platforms
  .changeset/witty-bobcats-lay.md
  docs/quickstart/nextjs.mdx
  docs/storage/loading-storage.mdx
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/src/types.ts
Labels: ðŸ“š documentation / examples

feat(io): migrate handlers (#1252)
  .changeset/witty-bobcats-lay.md
  docs/api-reference/io.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
  docs/storage/loading-storage.mdx
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/schemas.ts
  packages/platform-pluv/src/types.ts
  packages/types/src/general.ts
  packages/types/src/index.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/first.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/index.ts
  tests/e2e/src/server/yjs/node-redis/pluv-io/second.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
  tests/types/src/types.test.tsx
Labels: ðŸ“š documentation / examples, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1253)
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

feat(platform-pluv): add event header
  packages/platform-pluv/src/shared/createSuccessResponse.ts
Labels: none

chore: added changeset
  .changeset/petite-lions-shave.md
Labels: none

feat(platform-pluv): add event header (#1255)
  .changeset/petite-lions-shave.md
  packages/platform-pluv/src/shared/createSuccessResponse.ts
Labels: none

feat(platform-pluv): added event header to error event
  packages/platform-pluv/src/PluvPlatform.ts
  packages/platform-pluv/src/shared/createErrorResponse.ts
Labels: none

Bump dependencies
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

Ignore lint error
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
Labels: @pluv/react

Bump blocknote
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

Bump @hono/node-server
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

Bump lexical
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

Update playwright installation in action
  .github/workflows/e2e-tests.yml
Labels: none

Update config to use webpack
  tests/e2e/package.json
Labels: none

Update types
  tests/e2e/next-env.d.ts
Labels: none

chore: bump blocknote
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: added changeset
  .changeset/new-queens-hunt.md
Labels: none

chore: bump deps
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump dependencies (#1265)
  .changeset/new-queens-hunt.md
  .github/workflows/e2e-tests.yml
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/react/src/internal/hooks/useDeepAsyncMemo.ts
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/next-env.d.ts
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/react

chore: bump pnpm v11
  package.json
  pnpm-workspace.yaml
Labels: none

chore: repair lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: bump pnpm v11 (#1267)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: replaced prisma for drizzle
  .github/workflows/e2e-tests.yml
  .gitignore
  packages/addon-indexeddb/package.json
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/platform-pluv/src/types.ts
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/drizzle.config.ts
  tests/e2e/package.json
  tests/e2e/prisma/dev.db
  tests/e2e/prisma/migrations/20230517065153_initial_migration/migration.sql
  tests/e2e/prisma/migrations/migration_lock.toml
  tests/e2e/prisma/schema.prisma
  tests/e2e/src/db/index.ts
  tests/e2e/src/db/schema.ts
  tests/e2e/src/prisma.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
  tests/e2e/src/server/yjs/node/tsconfig.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

chore: replaced prisma for drizzle (#1269)
  .github/workflows/e2e-tests.yml
  .gitignore
  packages/addon-indexeddb/package.json
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/platform-pluv/src/types.ts
  packages/react/src/createBundle.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/e2e/drizzle.config.ts
  tests/e2e/package.json
  tests/e2e/prisma/dev.db
  tests/e2e/prisma/migrations/20230517065153_initial_migration/migration.sql
  tests/e2e/prisma/migrations/migration_lock.toml
  tests/e2e/prisma/schema.prisma
  tests/e2e/src/db/index.ts
  tests/e2e/src/db/schema.ts
  tests/e2e/src/prisma.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
  tests/e2e/src/server/yjs/node/tsconfig.json
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/react

chore: bump eslint from 9 to 10
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/eslint-config-pluv/react.js
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/client

chore: bump eslint from 9 to 10 (#1270)
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/eslint-config-pluv/react.js
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/client

chore: bump slate
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
  tests/e2e/src/components/yjs/node-redis/SlateEditor.tsx
  tests/e2e/src/components/yjs/node/SlateEditor.tsx
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/utils/index.ts
  tests/e2e/src/utils/slateEditor.ts
Labels: none

chore: lint fixes
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

docs: update slate docs
  docs/text-editors/slate.mdx
Labels: ðŸ“š documentation / examples

tests: fix slate tests
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/utils/index.ts
  tests/e2e/src/utils/slateEditor.ts
Labels: none

chore: bump slate (#1271)
  docs/text-editors/slate.mdx
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
  tests/e2e/src/components/yjs/node-redis/SlateEditor.tsx
  tests/e2e/src/components/yjs/node/SlateEditor.tsx
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/utils/index.ts
  tests/e2e/src/utils/slateEditor.ts
Labels: ðŸ“š documentation / examples

chore: bump deps
  package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none
