Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: remove default type
  packages/react/src/createBundle.tsx
Labels: @pluv/react

chore: remove test type
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: remove createClient default IO type
  packages/client/src/createClient.ts
Labels: @pluv/client

fix(io): fix lazy authorize type (#860)
  .changeset/rude-suits-reflect.md
  apps/server-cloudflare/src/pluv-io.ts
  apps/web/next-env.d.ts
  apps/web/next.config.mjs
  apps/web/src/components/HomeIntroStep1/HomeIntroStep1Code.tsx
  apps/web/src/components/HomeIntroStep2/HomeIntroStep2Code.tsx
  apps/web/src/components/HomeIntroStep3/HomeIntroStep3Code.tsx
  apps/web/src/components/HomeIntroStep4/HomeIntroStep4Code.tsx
  apps/web/src/components/HomeIntroStep5/HomeIntroStep5Code.tsx
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/authorization.mdx
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/createClient.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/react/src/createBundle.tsx
  packages/types/src/pluv.ts
  tests/e2e/src/demo/io.ts
  tests/e2e/src/server/loro/node/pluv-io.ts
  tests/e2e/src/server/noop/node/pluv-io.ts
Labels: ðŸ“š documentation / examples, @pluv/client, @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/react

chore(platform-pluv): remove authorize required validation
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: added changeset
  .changeset/quick-gorillas-lick.md
Labels: none

chore(platform-pluv): remove unused required validation (#862)
  .changeset/quick-gorillas-lick.md
  packages/platform-pluv/src/PluvPlatform.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#863)
  apps/server-cloudflare/package.json
  apps/web/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump dependencies
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump dependencies (#864)
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump dependencies
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: fix lockfile
  pnpm-lock.yaml
Labels: none

chore: upgrade dependencies
  pnpm-lock.yaml
Labels: none

chore: bump dependencies (#865)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/remark-plugins/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#866)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/remark-plugins/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump dependencies
  apps/storybook/package.json
  internal/react-components/package.json
  pnpm-lock.yaml
Labels: none

chore: bump dependencies (#867)
  apps/storybook/package.json
  internal/react-components/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#868)
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/crdt-loro/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

fix: fix loro breaking changes
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
Labels: none

chore: added changeset
  .changeset/tricky-melons-jam.md
Labels: none

chore: bump deps (#869)
  .changeset/tricky-melons-jam.md
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  packages/crdt-loro/package.json
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump commander
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: attempt resolve commander breaking changes
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

chore: bump commander (#871)
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#872)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

chore: bump deps (#875)
  apps/server-cloudflare/package.json
  apps/web/package.json
  internal/react-components/package.json
  internal/react-icons/package.json
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

chore: add pluv logo asset
  assets/pluv-icon-transparent-144x144.png
Labels: none

chore: add pluv logo asset (#877)
  assets/pluv-icon-transparent-144x144.png
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#878)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/react-components/package.json
  package.json
  packages/cli/package.json
  packages/crdt-loro/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-redis/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: rename png asset
  assets/pluv-icon-transparent-128x128.png
Labels: none

chore: add pluv logo asset
  assets/pluv-icon-transparent-64x64.png
Labels: none

chore: add pluv logo asset (#879)
  assets/pluv-icon-transparent-64x64.png
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
