Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

chore: added changeset
  .changeset/long-spiders-cough.md
Labels: none

feat(crdt): efficient batch update (#1061)
  .changeset/long-spiders-cough.md
  packages/client/src/CrdtManager.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/index.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io

fix(client): fix reconnect not being called with the last used metadata
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/wicked-regions-roll.md
Labels: none

fix(client): fix reconnect metadata (#1062)
  .changeset/wicked-regions-roll.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(client): attempt reconnect on window focus
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/spicy-squids-worry.md
Labels: none

feat(client): window focus reconnect (#1064)
  .changeset/spicy-squids-worry.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

docs: update docs
  docs/ecosystem.mdx
  docs/introduction.mdx
  docs/quickstart/nextjs.mdx
  docs/why_host_on_pluvio.mdx
Labels: ðŸ“š documentation / examples

tests(e2e): update nodejs tests
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

fix: fix cors issue on node.js test
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

tests(e2e): update nodejs tests (#1066)
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/server/yjs/node/index.ts
Labels: none

docs: update docs
  docs/@pluv__platform_node/hosting_on_nodejs.mdx
  docs/quickstart.mdx
  docs/quickstart/nodejs.mdx
  tests/e2e/src/server/yjs/node/index.ts
Labels: ðŸ“š documentation / examples

docs: update nodejs docs
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: format nodejs docs
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

tests: update cloudflare test to use fn authorize
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
Labels: none

docs: update nodejs docs
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: rewrite cloudflare docs
  docs/@pluv__platform_cloudflare/hosting_on_cloudflare.mdx
  docs/quickstart/cloudflare.mdx
Labels: ðŸ“š documentation / examples

docs: fix incorrect docs
  docs/quickstart/cloudflare.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: fix nodejs header
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: fix cloudflare header
  docs/quickstart/cloudflare.mdx
Labels: ðŸ“š documentation / examples

fix: fix broken header
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: narrow params
  docs/quickstart/cloudflare.mdx
Labels: ðŸ“š documentation / examples

docs: narrow comment
  docs/quickstart/cloudflare.mdx
Labels: ðŸ“š documentation / examples

docs: update routes
  docs/@pluv__io/api_reference.mdx
  docs/@pluv__io/cloudflare_workers.mdx
  docs/@pluv__io/nodejs.mdx
  docs/nextjs.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/why_host_on_pluvio.mdx
Labels: ðŸ“š documentation / examples

docs: update client-vs-server events
  docs/@pluv__client/client_vs_server_events.mdx
Labels: ðŸ“š documentation / examples

docs: move client vs server events
  docs/client_vs_server_events.mdx
Labels: ðŸ“š documentation / examples

chore: format
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

docs: update docs
  docs/@pluv__client/create_client.mdx
  docs/@pluv__client/create_rooms.mdx
  docs/@pluv__client/define_events.mdx
  docs/client_vs_server_events.mdx
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nextjs.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: update client docs
  docs/@pluv__client/api_reference.mdx
  docs/@pluv__client/create_client.mdx
Labels: ðŸ“š documentation / examples

docs: update client define events
  docs/@pluv__client/define_events.mdx
Labels: ðŸ“š documentation / examples

docs: fix quickstart docs
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: update cloudflare quickstart docs with garbage collection
  docs/quickstart/cloudflare-workers.mdx
Labels: ðŸ“š documentation / examples

docs: updated io api reference
  docs/@pluv__io/api_reference.mdx
Labels: ðŸ“š documentation / examples

docs: update authorization docs
  docs/@pluv__io/authorization.mdx
Labels: ðŸ“š documentation / examples

docs: update io docs
  docs/@pluv__io/authorization.mdx
  docs/@pluv__io/loading_storage.mdx
  docs/@pluv__io/pubsub.mdx
Labels: ðŸ“š documentation / examples

docs: fix block quote
  docs/@pluv__io/pubsub.mdx
Labels: ðŸ“š documentation / examples

docs: update react docs
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/history.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/create_rooms.mdx
  docs/@pluv__react/custom_events.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__react/custom_events.mdx
Labels: ðŸ“š documentation / examples
