Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

fix(io): fix io platform context types (#760)
  .changeset/chilled-books-behave.md
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Authorization.mdx
  packages/io/src/AbstractPlatform.ts
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/authorize.ts
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-node/src/createPluvHandler.ts
  packages/platform-pluv/src/PluvPlatform.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

feat: update createPluvHandler authorize params
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

docs: update docs
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
Labels: none

chore: added changeset
  .changeset/chilled-books-behave.md
  .changeset/shiny-trainers-call.md
Labels: none

feat: update create pluv handler authorize params (#762)
  .changeset/chilled-books-behave.md
  .changeset/shiny-trainers-call.md
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: bump deps
  apps/storybook/package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps (#763)
  apps/storybook/package.json
  pnpm-lock.yaml
Labels: none

feat(io): support function context types
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
Labels: @pluv/io

fix(io): fix context types
  packages/io/src/PluvProcedure.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: added changeset
  .changeset/fluffy-fireants-beam.md
Labels: none

docs: update context docs
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
Labels: none

feat(io): support function context types (#764)
  .changeset/fluffy-fireants-beam.md
  apps/web/src/inputs/docs/@pluv_io/API Reference.mdx
  apps/web/src/inputs/docs/@pluv_io/Cloudflare Workers.mdx
  apps/web/src/inputs/docs/@pluv_io/Node.js.mdx
  packages/io/src/IORoom.ts
  packages/io/src/PluvIO.ts
  packages/io/src/PluvProcedure.ts
  packages/io/src/PluvRouter.ts
  packages/io/src/PluvServer.ts
  packages/io/src/createIO.ts
  packages/io/src/types.ts
Labels: @pluv/io

feat(platform-pluv): update token endpoint
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: added changeset
  .changeset/green-wolves-swim.md
Labels: none

feat(platform-pluv): update token endpoint (#766)
  .changeset/green-wolves-swim.md
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#768)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  package.json
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

feat(io): expose websocket on message and storage-updated events
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: added changeset
  .changeset/twelve-lies-tickle.md
Labels: none

feat(io): expose websocket on events (#771)
  .changeset/twelve-lies-tickle.md
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
Labels: @pluv/io

test integration
  apps/web/package.json
  packages/platform-pluv/src/PluvIO.ts
  pnpm-lock.yaml
Labels: none

fix(platform-pluv): fix error on createToken
  .changeset/giant-plants-obey.md
Labels: none

feat(client): add register helper to abstract default properties
  packages/client/src/index.ts
  packages/client/src/register.ts
Labels: @pluv/client

chore: added changeset
  .changeset/sharp-eyes-sing.md
Labels: none

fix(platform pluv): fix token error (#773)
  .changeset/giant-plants-obey.md
  apps/web/package.json
  packages/platform-pluv/src/PluvIO.ts
  pnpm-lock.yaml
Labels: none

feat(client): add register helper (#774)
  .changeset/sharp-eyes-sing.md
  packages/client/src/index.ts
  packages/client/src/register.ts
Labels: @pluv/client

feat(react): export register helper
  packages/react/src/index.ts
Labels: @pluv/react

chore: added changeset
  .changeset/five-moose-cry.md
Labels: none

feat(react): export register (#776)
  .changeset/five-moose-cry.md
  packages/react/src/index.ts
Labels: @pluv/react

chore(platform-pluv): add properties for internal use only
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: added changeset
  .changeset/brown-shoes-nail.md
Labels: none

chore(platform-pluv): add internal properties (#777)
  .changeset/brown-shoes-nail.md
  packages/platform-pluv/src/PluvIO.ts
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#778)
  package.json
Labels: none

chore: bump pnpm
  package.json
Labels: none

chore: bump pnpm (#779)
  package.json
Labels: none

chore: bump deps
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#780)
  apps/server-cloudflare/package.json
  apps/storybook/package.json
  apps/web/package.json
  internal/mdx-components/package.json
  internal/react-components/package.json
  internal/react-hooks/package.json
  internal/react-icons/package.json
  internal/remark-plugins/package.json
  internal/typings/package.json
  internal/utils/package.json
  package.json
  packages/addon-indexeddb/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump shiki
  apps/web/package.json
  pnpm-lock.yaml
Labels: none

chore: bump shiki (#781)
  apps/web/package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
