Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: bump zod v4 (#1184)
  packages/platform-pluv/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
  tests/types/src/types.test.tsx
Labels: none

chore: bump slate
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1186)
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: added playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump playwright (#1191)
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1192)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1200)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump playwright
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump playwright (#1217)
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump node
  .github/workflows/build-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/type-tests.yml
  .node-version
  package.json
Labels: none

chore: bump node (#1218)
  .github/workflows/build-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/type-tests.yml
  .node-version
  package.json
Labels: none

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: lint fixes
  packages/react/src/createBundle.tsx
  packages/react/src/internal/hooks/useNoSsr.ts
  packages/react/src/internal/hooks/useSyncExternalStoreWithSelector.ts
Labels: @pluv/react

chore: bump prisma
  packages/persistence-redis/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump blocknote
  pnpm-lock.yaml
  tests/e2e/package.json
Labels: none

chore: bump deps (#1219)
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/react/src/createBundle.tsx
  packages/react/src/internal/hooks/useNoSsr.ts
  packages/react/src/internal/hooks/useSyncExternalStoreWithSelector.ts
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: @pluv/react

chore: add typecheck scripts
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  turbo.json
Labels: none

feat: on storage destroyed
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/shared/index.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/witty-bobcats-lay.md
Labels: none

fix: ensure storage initialization state is restored after hibernation
  packages/io/src/IORoom.ts
Labels: @pluv/io

chore: bump deps
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: added changeset
  .changeset/chilly-tools-behave.md
Labels: none

chore: bump deps (#1227)
  .changeset/chilly-tools-behave.md
  package.json
  packages/addon-indexeddb/package.json
  packages/client/package.json
  packages/crdt-loro/package.json
  packages/crdt-yjs/package.json
  packages/crdt/package.json
  packages/eslint-config-pluv/package.json
  packages/io/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  packages/react/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump lexical
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: none

chore: bump lexical (#1229)
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/LexicalEditor/LexicalEditor.tsx
Labels: none

chore: migrate to tsdown
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/tsdown.config.ts
  packages/client/package.json
  packages/client/tsdown.config.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/tsdown.config.ts
  packages/crdt/package.json
  packages/crdt/tsdown.config.ts
  packages/io/package.json
  packages/io/tsdown.config.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-cloudflare-transactional-storage/tsdown.config.ts
  packages/persistence-redis/package.json
  packages/persistence-redis/tsdown.config.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/tsdown.config.ts
  packages/platform-cloudflare/tsup.config.ts
  packages/platform-node/package.json
  packages/platform-node/tsdown.config.ts
  packages/platform-pluv/package.json
  packages/platform-pluv/tsdown.config.ts
  packages/pubsub-redis/package.json
  packages/pubsub-redis/tsdown.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/types/package.json
  packages/types/tsdown.config.ts
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: added changeset
  .changeset/warm-tigers-double.md
Labels: none

fix: fix builds
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/tsdown.config.ts
  packages/client/package.json
  packages/client/tsdown.config.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/tsdown.config.ts
  packages/crdt/package.json
  packages/crdt/tsdown.config.ts
  packages/io/package.json
  packages/io/tsdown.config.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-cloudflare-transactional-storage/tsdown.config.ts
  packages/persistence-redis/package.json
  packages/persistence-redis/tsdown.config.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/tsdown.config.ts
  packages/platform-node/package.json
  packages/platform-node/tsdown.config.ts
  packages/platform-pluv/package.json
  packages/platform-pluv/tsdown.config.ts
  packages/pubsub-redis/package.json
  packages/pubsub-redis/tsdown.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/types/package.json
  packages/types/tsdown.config.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

fix: set react and react-dom as external
  packages/react/tsdown.config.ts
Labels: @pluv/react

chore: migrate to tsdown (#1230)
  .changeset/warm-tigers-double.md
  packages/addon-indexeddb/package.json
  packages/addon-indexeddb/tsdown.config.ts
  packages/client/package.json
  packages/client/tsdown.config.ts
  packages/crdt-loro/package.json
  packages/crdt-loro/tsdown.config.ts
  packages/crdt-yjs/package.json
  packages/crdt-yjs/tsdown.config.ts
  packages/crdt/package.json
  packages/crdt/tsdown.config.ts
  packages/io/package.json
  packages/io/tsdown.config.ts
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-cloudflare-transactional-storage/tsdown.config.ts
  packages/persistence-redis/package.json
  packages/persistence-redis/tsdown.config.ts
  packages/platform-cloudflare/package.json
  packages/platform-cloudflare/tsdown.config.ts
  packages/platform-cloudflare/tsup.config.ts
  packages/platform-node/package.json
  packages/platform-node/tsdown.config.ts
  packages/platform-pluv/package.json
  packages/platform-pluv/tsdown.config.ts
  packages/pubsub-redis/package.json
  packages/pubsub-redis/tsdown.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/types/package.json
  packages/types/tsdown.config.ts
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

chore: bump deps
  package.json
  packages/eslint-config-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1231)
  package.json
  packages/eslint-config-pluv/package.json
  packages/react/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: added changeset
  .changeset/witty-bobcats-lay.md
Labels: none

feat: on storage destroyed
  packages/io/src/IORoom.ts
  packages/io/src/PluvServer.ts
  packages/io/src/index.ts
  packages/io/src/types.ts
  packages/platform-cloudflare/src/CloudflarePlatform.ts
  packages/platform-node/src/NodePlatform.ts
  packages/platform-pluv/src/shared/index.ts
  tests/e2e/src/server/loro/node/index.ts
  tests/e2e/src/server/noop/node/index.ts
  tests/e2e/src/server/yjs/cloudflare/pluv-io/sqlite.ts
  tests/e2e/src/server/yjs/node-redis/index.ts
  tests/e2e/src/server/yjs/node/index.ts
  tests/e2e/src/server/yjs/node/pluv-io.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

fix: ensure storage initialization state is restored after hibernation
  packages/io/src/IORoom.ts
Labels: @pluv/io

fix(io): fix server storage destroyed events
  packages/io/src/PluvServer.ts
Labels: @pluv/io

fix(io): un-initialize flag
  packages/io/src/IORoom.ts
Labels: @pluv/io

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']
