Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

fix: fix getUsers returning wrong keys
  packages/io/src/Persistence.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage

feat: get users returns map (#1046)
  .changeset/khaki-spiders-cover.md
  packages/io/src/AbstractPersistence.ts
  packages/io/src/IORoom.ts
  packages/io/src/Persistence.ts
  packages/persistence-cloudflare-transactional-storage/src/PersistenceCloudflareTransactionalStorage.ts
  packages/persistence-redis/src/PersistenceRedis.ts
  packages/persistence-redis/src/utils/index.ts
  packages/persistence-redis/src/utils/partitionByLength.ts
  packages/types/src/pluv.ts
Labels: @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis

feat(client): clear quitters
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/long-buttons-juggle.md
Labels: none

feat(client): clear quitters (#1047)
  .changeset/long-buttons-juggle.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: deprecate createPluvHandler
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: added changeset
  .changeset/big-tables-occur.md
Labels: none

chore: deprecate create pluv handler (#1048)
  .changeset/big-tables-occur.md
  packages/platform-cloudflare/src/createPluvHandler.ts
  packages/platform-node/src/createPluvHandler.ts
Labels: @pluv/platform-cloudflare, @pluv/platform-node

chore: fix changeset
  .changeset/tiny-moles-worry.md
Labels: none

feat(io): add configurable storage max size limit
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

chore: added changeset
  .changeset/empty-rivers-yell.md
Labels: none

feat(io): max storage size limit (#1049)
  .changeset/empty-rivers-yell.md
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
Labels: @pluv/io

chore: bump deps
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1051)
  packages/cli/package.json
  packages/eslint-config-pluv/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/persistence-redis/package.json
  packages/platform-cloudflare/package.json
  packages/platform-node/package.json
  packages/platform-pluv/package.json
  packages/pubsub-redis/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

fix(io): fix not applying limits and allowing overrides on io authorize
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/odd-cameras-care.md
Labels: none

fix(io): fix io authorize override (#1052)
  .changeset/odd-cameras-care.md
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/io

feat(io): added more configurable limits
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
  packages/io/src/types.ts
Labels: @pluv/io

chore: added changesets
  .changeset/empty-rivers-yell.md
  .changeset/true-walls-relate.md
Labels: none

feat(io): more configurable limits (#1053)
  .changeset/empty-rivers-yell.md
  .changeset/true-walls-relate.md
  packages/io/src/PluvIO.ts
  packages/io/src/PluvServer.ts
  packages/io/src/constants.ts
  packages/io/src/types.ts
Labels: @pluv/io

fix(io): fix 1 and 2 character room names not being supported
  packages/io/src/PluvServer.ts
Labels: @pluv/io

chore: added changeset
  .changeset/eager-rivers-obey.md
Labels: none

fix(io): allow smaller room names (#1054)
  .changeset/eager-rivers-obey.md
  packages/io/src/PluvServer.ts
Labels: @pluv/io

feat(client): added configurable limits for client-side validation
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/types.ts
Labels: @pluv/client

chore: added changeset
  .changeset/wide-tables-mix.md
Labels: none

fix(client): fix build error
  packages/client/src/MockedRoom.ts
Labels: @pluv/client

fix(react): fix build error
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(client): client limits (#1055)
  .changeset/wide-tables-mix.md
  packages/client/src/MockedRoom.ts
  packages/client/src/PluvClient.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/UsersManager.ts
  packages/client/src/types.ts
Labels: @pluv/client

feat: update platformNode and platformCloudflare with limits
  .changeset/chilly-pots-turn.md
  .changeset/true-walls-relate.md
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

feat: update platformNode and platformCloudflare with limits (#1056)
  .changeset/chilly-pots-turn.md
  .changeset/true-walls-relate.md
  packages/io/src/createIO.ts
  packages/io/src/index.ts
  packages/platform-cloudflare/src/platformCloudflare.ts
  packages/platform-node/src/platformNode.ts
  packages/platform-pluv/src/platformPluv.ts
Labels: @pluv/io, @pluv/platform-cloudflare, @pluv/platform-node

feat(client): switch enum to const
  packages/client/src/enums.ts
Labels: @pluv/client

chore: added changeset
  .changeset/spicy-beds-happen.md
Labels: none

feat(client): improve enum (#1057)
  .changeset/spicy-beds-happen.md
  packages/client/src/enums.ts
Labels: @pluv/client

fix(client): prevent redundantly applying listeners
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/poor-ravens-create.md
Labels: none

fix(client): prevent redundant listeners (#1059)
  .changeset/poor-ravens-create.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

fix(client): fix broken reconnects
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: added changeset
  .changeset/shaggy-birds-lick.md
Labels: none

fix(client): fix broken reconnects (#1060)
  .changeset/shaggy-birds-lick.md
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

feat(crdt): more efficiently batch apply updates to doc
  packages/client/src/CrdtManager.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/index.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io
