Repository pluv-io/pluv, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation / examples, pluv, @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/persistence-cloudflare-transactional-storage, @pluv/persistence-redis, @pluv/platform-cloudflare, @pluv/platform-node, @pluv/pubsub-redis, @pluv/react

.github/labeler.yml:

'ðŸ“š documentation / examples':
  - any: [docs/**]

'pluv':
  - any: ['packages/cli/**', '!packages/cli/package.json']

'@pluv/client':
  - any: ['packages/client/**', '!packages/client/package.json']

'@pluv/crdt-yjs':
  - any: ['packages/crdt-yjs/**', '!packages/crdt-yjs/package.json']

'@pluv/io':
  - any: ['packages/io/**', '!packages/io/package.json']

'@pluv/persistence-cloudflare-transactional-storage':
  - any: ['packages/persistence-cloudflare-transactional-storage/**', '!packages/persistence-cloudflare-transactional-storage/package.json']

'@pluv/persistence-redis':
  - any: ['packages/persistence-redis/**', '!packages/persistence-redis/package.json']

'@pluv/platform-cloudflare':
  - any: ['packages/platform-cloudflare/**', '!packages/platform-cloudflare/package.json']

'@pluv/platform-node':
  - any: ['packages/platform-node/**', '!packages/platform-node/package.json']

'@pluv/pubsub-redis':
  - any: ['packages/pubsub-redis/**', '!packages/pubsub-redis/package.json']

'@pluv/react':
  - any: ['packages/react/**', '!packages/react/package.json']

docs: format comments
  docs/@pluv__react/api_reference.mdx
  docs/@pluv__react/create_rooms.mdx
Labels: ðŸ“š documentation / examples

docs: update presence docs
  docs/@pluv__react/presence.mdx
Labels: ðŸ“š documentation / examples

docs: update storage docs
  docs/@pluv__react/presence.mdx
  docs/@pluv__react/storage.mdx
  docs/@pluv__react/yjs_storage.mdx
Labels: ðŸ“š documentation / examples

docs: update storage docs
  docs/@pluv__react/create_bundle.mdx
Labels: ðŸ“š documentation / examples

docs: update docs
  docs/@pluv__io/define_events.mdx
  docs/@pluv__io/pubsub.mdx
  docs/@pluv__react/create_bundle.mdx
  docs/@pluv__react/custom_events.mdx
  docs/@pluv__react/storage.mdx
Labels: ðŸ“š documentation / examples

docs: delete AppPluvIO type
  docs/@pluv__io/define_events.mdx
Labels: ðŸ“š documentation / examples

chore: bump deps
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: bump deps (#1067)
  packages/cli/package.json
  packages/persistence-cloudflare-transactional-storage/package.json
  packages/platform-cloudflare/package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

docs: add missing updateMyPresence
  docs/@pluv__client/api_reference.mdx
Labels: ðŸ“š documentation / examples

chore: add icon asset
  assets/pluv-icon-34x34.png
Labels: none

chore: update assets
  assets/pluv-icon-192x192.png
  assets/pluv-icon-512x512.png
Labels: none

docs: update docs
  docs/@pluv__react/storage.mdx
  docs/introduction.mdx
Labels: ðŸ“š documentation / examples

docs: update readmes
  packages/crdt-loro/README.md
  packages/io/README.md
  packages/react/README.md
Labels: @pluv/io, @pluv/react

feat(react): change client as peer dependency
  packages/react/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/pretty-radios-smile.md
Labels: none

feat(react): client peer dep (#1068)
  .changeset/pretty-radios-smile.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: none

chore: added changeset
  .changeset/sharp-humans-cheer.md
Labels: none

feat: v1 stable release (#1070)
  .changeset/sharp-humans-cheer.md
Labels: none

docs: update readme
  packages/io/README.md
Labels: @pluv/io

docs: update quickstart docs
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

chore: temporary product hunt badge
  packages/io/README.md
Labels: @pluv/io

docs: update quickstart docs
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

docs: update quickstart docs
  docs/quickstart/cloudflare-workers.mdx
  docs/quickstart/nodejs.mdx
Labels: ðŸ“š documentation / examples

tests: added slate tests
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/components/yjs/node-redis/SlateEditor.tsx
  tests/e2e/src/components/yjs/node-redis/index.ts
  tests/e2e/src/components/yjs/node/SlateEditor.tsx
  tests/e2e/src/components/yjs/node/index.ts
  tests/e2e/src/pages/yjs/cloudflare/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/slate/index.tsx
  tests/e2e/src/pages/yjs/node-redis/index.tsx
  tests/e2e/src/pages/yjs/node-redis/slate/index.tsx
  tests/e2e/src/pages/yjs/node/index.tsx
  tests/e2e/src/pages/yjs/node/slate/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
Labels: none

chore: update tests
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
Labels: none

chore: update other runtime tests
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

chore: fix tests
  tests/e2e/src/pages/yjs/node-redis/slate/index.tsx
  tests/e2e/src/pages/yjs/node/slate/index.tsx
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

tests: added slate tests (#1072)
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/e2e/src/components/yjs/cloudflare/SlateEditor.tsx
  tests/e2e/src/components/yjs/cloudflare/index.ts
  tests/e2e/src/components/yjs/node-redis/SlateEditor.tsx
  tests/e2e/src/components/yjs/node-redis/index.ts
  tests/e2e/src/components/yjs/node/SlateEditor.tsx
  tests/e2e/src/components/yjs/node/index.ts
  tests/e2e/src/pages/yjs/cloudflare/index.tsx
  tests/e2e/src/pages/yjs/cloudflare/slate/index.tsx
  tests/e2e/src/pages/yjs/node-redis/index.tsx
  tests/e2e/src/pages/yjs/node-redis/slate/index.tsx
  tests/e2e/src/pages/yjs/node/index.tsx
  tests/e2e/src/pages/yjs/node/slate/index.tsx
  tests/e2e/src/pluv-io/yjs/cloudflare.ts
  tests/e2e/src/pluv-io/yjs/node-redis.ts
  tests/e2e/src/pluv-io/yjs/node.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

refactor: refactored types
  packages/client/src/AbstractRoom.ts
  packages/client/src/CrdtManager.ts
  packages/client/src/EventNotifier.ts
  packages/client/src/MockedRoom.ts
  packages/client/src/OtherNotifier.ts
  packages/client/src/PluvProcedure.ts
  packages/client/src/PluvRoom.ts
  packages/client/src/PluvRouter.ts
  packages/client/src/StateNotifier.ts
  packages/client/src/UsersManager.ts
  packages/client/src/index.ts
  packages/client/src/types.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/crdt/src/index.ts
  packages/io/src/AbstractWebSocket.ts
  packages/io/src/IORoom.ts
  packages/io/src/types.ts
  packages/react/src/createBundle.tsx
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/pluv/crdt.ts
  packages/types/src/pluv/enums.ts
  packages/types/src/pluv/index.ts
  packages/types/src/pluv/room.ts
  packages/types/src/pluv/shared.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io, @pluv/react

tests: fix names
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

tests: fix names (#1074)
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

fix: fix storage race condition
  packages/client/src/PluvRoom.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/io

tests: increase wait
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

tests: increase wait again
  tests/e2e/src/tests/loro/node/presence/index.test.ts
  tests/e2e/src/tests/loro/node/storage/index.test.ts
  tests/e2e/src/tests/noop/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-kv/storage/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/presence/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/storage/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/presence/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/storage/index.test.ts
  tests/e2e/src/tests/yjs/node/broadcast/index.test.ts
  tests/e2e/src/tests/yjs/node/presence/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/storage/index.test.ts
Labels: none

tests: increase missed waits
  tests/e2e/src/tests/yjs/cloudflare-kv/slate/index.test.ts
  tests/e2e/src/tests/yjs/cloudflare-sqlite/slate/index.test.ts
  tests/e2e/src/tests/yjs/node-redis/slate/index.test.ts
  tests/e2e/src/tests/yjs/node/slate/index.test.ts
Labels: none

feat(io): send state on initial connection
  packages/io/src/IORoom.ts
  packages/types/src/pluv.ts
Labels: @pluv/io

chore: cleanup getFresh
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-loro/src/doc/CrdtLoroDocFactory.ts
  packages/crdt-loro/tsconfig.json
  packages/crdt-yjs/src/doc/CrdtYjsDocFactory.ts
  packages/crdt/src/AbstractCrdtDocFactory.ts
  packages/crdt/src/NoopCrdtDocFactory.ts
Labels: @pluv/client, @pluv/crdt-yjs

feat(client): get initial state
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
Labels: @pluv/client

chore: bump deps
  package.json
  pnpm-lock.yaml
  tests/e2e/package.json
  tests/types/package.json
Labels: none

chore: fix state race conditions
  packages/client/src/CrdtManager.ts
  packages/client/src/PluvRoom.ts
  packages/crdt-loro/src/doc/CrdtLoroDoc.ts
  packages/crdt-yjs/src/doc/CrdtYjsDoc.ts
  packages/crdt-yjs/tsconfig.json
  packages/crdt/src/AbstractCrdtDoc.ts
  packages/crdt/src/NoopCrdtDoc.ts
  packages/io/src/PluvServer.ts
Labels: @pluv/client, @pluv/crdt-yjs, @pluv/io
